[2015-12-10 20:48] 0xWDG commented on #338
Hi,

I've started a Dutch (Nederlands) translation on 10-DEC-2015.

<a href='https://wdg.github.io/php-the-right-way/' target='_blank'>https://wdg.github.io/php-the-right-way/</a> (WWW)
<a href='https://github.com/wdg/php-the-right-way/' target='_blank'>https://github.com/wdg/php-the-right-way/</a> (Repo)

When its all done i will let you know.

Current status:
- [ ] Main...
- [ ] Banner page
- [x

[2015-12-11 11:30] jrfnl commented on #338
:+1:

[2015-12-14 14:00] igorsantos07 opened #623 "i18n and l10n"
Reading an old issue of the PHPWeekly (bonus: should those weeklies be mentioned in the "Resources" or "Community" sections?) I found a very very misleading video (not linking here for now so we don't give extra views to that crap material).
In short, the shownotes and the video title calls for "internationalized sites in PHP", but for 15min the video talks about basic PHP or unrelated stuff, and

[2015-12-14 15:13] philsturgeon commented on #623
Sure :) 

-- 
Phil Sturgeon

I talk about turtles, bikes and code over here philsturgeon.uk

From: Igor Santos notifications@github.com
Reply: codeguy/php-the-right-way reply@reply.github.com
Date: December 14, 2015 at 9:00:46 AM
To: codeguy/php-the-right-way php-the-right-way@noreply.github.com
Subject:  [php-the-right-way] i18n and l10n (#623)

Reading an old issue of the PHPWeekly (bonus: shoul

[2015-12-14 18:05] igorsantos07 commented on #623
Where should this new section be placed under?

And how about the idea of including weeklies in the website as well? (:

Igor Santos
-- Desenvolvedor Web
[enviado do meu celular]
On 14 Dec 2015 13:13, "Phil Sturgeon" notifications@github.com wrote:

[2015-12-14 18:57] philsturgeon commented on #623
I think there are already enough resources for specifically PHP news. We do a better job by just being a living document that updates and reacts to changes, instead of burning out trying to find relevant stuff to spam out in a newsletter.

If we do that we have to find a way to make the time worth the energy expended, we have to start advertising and A/B testing and all that shit, and it loses the

[2015-12-27 02:05] ghost opened #627 "Wrong language for this repository"
Hey guys!

This repository is marked with CSS as a main language. I think the best would be PHP for searching and indexing purposes. :)

What do you think?

The solution is here:
https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language/

[2015-12-29 23:20] philsturgeon commented on #627
Hey @feliperdius!

Thanks for pointing this out. I know what you're getting at, and it seems a bit odd, but there is literally no PHP in this and lying is bad.

I'm gonna close this one down for now, as I'm not sure anyone is actually causing people to not find the content, and personally I never care much about which languages are in a repo I just read the README.

[2015-12-29 23:20] #627 closed, assigned to nobody

[2015-12-31 01:40] hikari-no-yume opened #628 "Should PHP The Right Way cover type declarations?"
Arguably this might already covered by OOP, since the PHP manual covers it in there, but perhaps it's worth calling out on its own as a best practice.

[2016-01-05 16:56] brokentone opened #630 "Google PageSpeed link changed"
Google no longer providing information about rendering differences on charset here: https://developers.google.com/speed/docs/best-practices/rendering#SpecifyCharsetEarly

https://github.com/codeguy/php-the-right-way/blob/cd4162093ebeaa3a286fcfc6e3f6299567e46f31/_posts/05-05-01-PHP-and-UTF8.md#L69

Minimally this link has changed. I was unable to find much current information on this topic, indicat

[2016-01-17 10:21] tchalvak opened #632 "Over prioritization of composer dependency management."
As I read through the site on mobile, I note that the guide gets into composer quite early, and then it goes on and on about composer, explaining a multitude of things that composer's documentation must necessarily handle better by virtue of being the source!  I recommend the composer section mention composer in brief, and then rely on the **actual composer docs** for depth!

[2016-01-17 10:47] tchalvak commented on #632
As I read on, it seems that the issue could be summarized as "dependency management chapter is prioritized to show way too early in the chapter order"

[2016-01-17 10:54] tchalvak commented on #569
This is a very non-atomic issue, which I'm sure makes it hard to address or even respond to.  May I suggest determining what you consider your highest priority issue and closing in favor of a clean issue devoted only to that?  Or atomic pull requests for individual issues like grammar?

[2016-01-17 18:33] philsturgeon commented on #632
Hey there!

I think the trouble here is that you read it on mobile. There is exactly one mention of Composer outside of the Dependency Management section, and all that says is:

That seems pretty reasonable.

Dependency Management is listed so highly as PHP has not been used to this concept at all for a long time. Those old enough to remember PEAR ignore it and many less experience developers do n

[2016-01-17 18:33] #632 closed, assigned to nobody

[2016-01-18 22:49] joelgarciajr84 commented on #628
:+1:

[2016-01-18 22:52] philsturgeon commented on #628
@TazeTSchnitzel a brief paragraph in a relevant section with a link to the docs can't hurt.

[2016-01-25 16:28] #479 closed, assigned to nobody

[2016-01-28 09:33] DmitriyTrt commented on #585
Well, if you check the test, it fails on all PHP version, including 7.x.

[2016-02-01 12:30] spiritix commented on #623
I agree with @igorsantos07. Internationalization and localization are some of the most important fundamentals of every "major" application / framework. This should be a big chapter in PHP The Right Way.

[2016-02-01 12:35] spiritix commented on #370
IMHO only patterns should be included which require special implementation in PHP. Everything else is not related to a specific programming language like PHP.

[2016-02-12 15:03] igorsantos07 commented on #623
@philsturgeon sorry, I think you misunderstood me. I agree that it would be crazy to create yet-another-weekly, but there are one or two respected PHP weeklies out there, I thought it was worth linking to them in the page. However, there's nothing under resources besides the official docs, so I'm not sure if they would ever fit in the current content :)

[2016-02-12 17:24] philsturgeon commented on #623
@igorsantos07 I absolutely misunderstood you, good catch and sorry for the confusion.

Those resources should absolutely be on the site, please PR them in!

[2016-02-12 23:31] igorsantos07 commented on #623
Great! I will!
I'll send in the work on i18n soon, as well ;)

_Igor Santos_
Desenvolvedor web / mobile
igorsantos.com.br http://www.igorsantos.com.br

On Fri, Feb 12, 2016 at 3:25 PM, Phil Sturgeon notifications@github.com
wrote:

[2016-02-13 07:46] petk opened #636 "Some chapters are not rendered"
I've noticed but unfortunately haven't figured out yet why currently The Resources and Community chapters aren't rendered anymore. This must have something to do with the Jekyll 3.0 being used on GitHub pages:
https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0

[2016-02-13 08:23] jrfnl commented on #636
AFAICS, this has to do with the fact that all data is in '_posts'. For this site, however, '_posts' is misused to order the information. Posts are supposed to be blogposts and the filename contains the post date.

The chapters you are referring to have 'dates' which are in the future and are therefore not rendered.
There was a regression in Jekyll 2 which allowed them to be rendered previously, th

[2016-02-13 12:54] petk commented on #636
Thanks for this info. Yes, putting the `future` configuration to true solves this. I'll send PR...

[2016-02-15 02:58] igorsantos07 opened #639 "Local Jekyll build breaks the menu"
As seen in the screenshot below, after installing all dependencies and running the Jekyll build in my local machine, the top menu is lacking a lot of entries - and part of their titles. The content, however, appears just fine.

Any idea of what the hell I did here, or if this is a bug? I've already tried some build options, server, clean...

![screenshot_651](https://cloud.githubusercontent.com/as

[2016-02-15 13:12] philsturgeon commented on #639
Run bundle install instead. Just having Jekyll isn't enough.

[2016-02-15 13:12] #639 closed, assigned to nobody

[2016-02-23 21:51] petk commented on #636
Since this now works I'll close it. Thanks @jrfnl

[2016-02-23 21:51] #636 closed, assigned to nobody

[2016-02-24 05:37] jrfnl commented on #636
You're welcome ;-)

[2016-02-25 22:09] wcatron commented on #585
If you still want to allow inheritance the following works:

[code]

Note: I changed the class to abstract to ensure you can't call `Singleton::getInstance()`

[2016-02-27 17:12] igorsantos07 commented on #623
Work seems finished on #641. Would you please review? :)

[2016-03-16 20:16] fulldecent opened #645 "Temporary"
Please discuss creating temporary (cache) files.

They should not be accessible from the web.

[2016-04-06 20:57] chalasr commented on #585
:+1:

[2016-04-13 12:12] petk commented on #407
This is now fixed. Page works ok and no warnings show anymore. :+1:  Closing...

[2016-04-13 12:12] #407 closed, assigned to codeguy

[2016-05-13 19:49] naltun commented on #541
If you're ever looking for help, I'd love to offer some assistance. I'm currently working for a company using a PHP backend after having been using Ruby. I myself am looking to expand on my PHP knowledge, and I have to admit, it's not my beloved Ruby, but I'm loving PHP. Also, there's no better way to learn more about PHP than by using it and helping others with it. Any way in which I can help out

[2016-05-15 23:11] Norcoen opened #651 "ebook / PDF"
It would be nice to read this on epaper or actually print it out.
I know about https://github.com/philsturgeon/phptherightway-book, but the downloadable version is outdated and I can't figure out how to turn the output into an ebook.

From what I can grasp it only covers the front pages, not the details, for example design patterns only includes the teaser not the whole page (http://www.phptherigh

[2016-05-24 17:56] nhannqgh commented on #338
How can I chang the Navigation?

[2016-05-24 19:08] 0xWDG commented on #338
@nhaancs change the file name, and the first lines for example

[code]

but i don't think this is the best treats to go on with this question, you'll better start a new issue.

[2016-05-24 20:00] 0xWDG commented on #338
@codeguy do you have any idea what i did wrong? it does not load any posts after `16-05-01-PHP-PaaS-Providers.md`

[2016-05-24 20:51] jrfnl commented on #338
That has to do with a (fixed) bug in Jekyll. Make sure you have the `future` flag enabled in your `_config.yml` to show those posts.
See https://github.com/codeguy/php-the-right-way/issues/636 for more details.

[2016-05-24 21:35] 0xWDG commented on #338
Thanks gonna fix it tomorrow!

[2016-05-30 16:51] ericpoe opened #655 "People to follow points to dead link"
The link provided in [People to Follow](http://www.phptherightway.com/#people_to_follow) points to a domain renewal page (http://followphpdevs.com/). Is there a better list of PHP devs to follow? Or should php-the-right-way/_posts/16-03-01-People-to-Follow.md be retired until a live list is available?

[2016-05-30 18:57] philsturgeon commented on #655
We could shove this in for now https://blog.newrelic.com/2014/05/02/25-php-developers-follow-online/

-- 
Phil

On May 30, 2016 at 6:51:46 PM, Eric Poe (notifications@github.com) wrote:

The link provided in People to Follow points to a domain renewal page (http://followphpdevs.com/). Is there a better list of PHP devs to follow? Or should php-the-right-way/_posts/16-03-01-People-to-Follow.md be r

[2016-05-31 20:01] ericpoe commented on #655
I have updated the "People to Follow" section with the New Relic link as well as provided for the possibility of adding additional lists via #656

[2016-05-31 20:42] nhannqgh opened #657 "[Translation] PHP the right way Vietnamese version is ready!"
Hi there, PHP the right way Vietnamese version is now ready on my Github page: http://nhaancs.github.io/php-the-right-way/
Please check it out, thanks!

[2016-06-03 16:32] #655 closed, assigned to nobody

[2016-06-04 00:37] ericpoe opened #658 "Some subsection titles lack proper capitalization"
On the main index, some subsections lack proper capitalization. Namely: "Plain Php Templates" and "Php Paas Providers"

[2016-06-17 15:33] Amunak commented on #585
@wcatron, you have some minor typos in your code. Fixed and tested: https://3v4l.org/4TN3d

[code]

I also highly suggest you guys fix it on the website, it's highly misleading.

Also it can be fairly easily made to work with older PHP versions by _not_ using the `::class` syntax to get the class name.

[2016-06-24 17:13] fulldecent commented on #645
Is there any interest in exploring this topic and are PR accepted?

[2016-06-30 21:38] #658 closed, assigned to nobody

[2016-07-05 18:58] druid-woman opened #663 "URL change for php mentoring site"
The php mentoring website has changed their URL to: **https://php-mentoring.org/**
The change takes place here: http://www.phptherightway.com/#mentoring

Thanks! This is such a fantastic resource, and want to make sure that people can find it :)

[2016-07-06 12:42] philsturgeon commented on #663
Thanks for this! I was about to do this, but the lovely @ericpoe beat me to it this morning. Done.

[2016-07-06 12:42] #663 closed, assigned to nobody

[2016-07-09 09:16] dr-matt-smith opened #665 "php.tools - dead link"
Section: Code Style Guide

deadline link for: php.tools
(I guess the GitHub repo has been deleted by its author)

regards,

.. matt ..

[2016-07-10 16:38] ericpoe commented on #665
All of the author's pages are gone, including the sublime-phpfmt linked in the same sentence referenced above. https://github.com/phpfmt is a 404.

[2016-07-10 16:53] ericpoe commented on #665
The engine has been sold and the derivative plugins have been taken over by individual maintainers. See:
- https://news.ycombinator.com/item?id=11896851
- https://www.reddit.com/r/PHP/comments/4nxlwi/where_did_phpfmt_go/

[2016-07-10 22:40] philsturgeon commented on #665
Could one of you folks make a PR to just knock that whole "Another option" thing out?

Whenever they've finished doing whatever they're doing it can come back with "A paid option that does bla bla"

##

Phil Sturgeon
Sent from my iPhone and there's probably typos because I'm probably at the pub.

[2016-07-11 04:09] naveenvalecha commented on #665
@philsturgeon Here's the PR https://github.com/codeguy/php-the-right-way/pull/666

[2016-07-12 12:57] philsturgeon commented on #665
Boom! Done, thank you @naveenvalecha. 💃

[2016-07-12 12:57] #665 closed, assigned to nobody

[2016-07-12 20:20] likemusic opened #667 "Broken link to mod_fastcgi"
Here https://github.com/codeguy/php-the-right-way/blob/gh-pages/_posts/12-03-01-Virtual-or-Dedicated-Servers.md
mod_fastcgi link to http://www.fastcgi.com/mod_fastcgi/docs/mod_fastcgi.html that is not found on server.

Don't know what's best to do:  delete anchor at all, or link to latest webarchive backup (http://web.archive.org/web/20160305094453/http://fastcgi.com/mod_fastcgi/docs/mod_fastcgi.h

[2016-07-14 04:37] ericpoe opened #669 "Deleted obsolete text leaves surrounding text disjointed"
Text deleted as a result of #665 leaves the surrounding text sounding odd. In reading this text, some of the text needs to be rearranged for clarity and some additional examples need to be provided. For instance, `php-cs-fixer` is mentioned, but no example of usage is provided. Also, since `phpcs` is highlighted, it's twinned tool, `phpcbf` is not mentioned.

[2016-07-14 05:02] ericpoe opened #670 "Jekyll instructions generate error"
`bundle execute jekyll s` generates an error: 'Could not find command "execute".'

[2016-07-19 12:07] #669 closed, assigned to nobody

[2016-07-19 12:07] philsturgeon commented on #669
Cheers chap!

[2016-07-19 12:08] #670 closed, assigned to nobody

[2016-07-22 17:41] sapphirecat opened #675 "Deployment: mod_proxy_fcgi for Apache 2.4+"
Last I knew, `mod_fcgid` did not handle external CGI such as PHP-**FPM**, and `mod_fastcgi` was effectively abandoned.

The best way to link Apache and PHP-FPM together, as of 2.4.0 released in Q1 2012, is to use the `mod_proxy_fcgi` module. There's [some info on the Apache wiki](https://wiki.apache.org/httpd/PHP-FPM) and [official docs](http://httpd.apache.org/docs/2.4/mod/mod_proxy_fcgi.html).

[2016-07-24 17:31] bappi opened #676 "Bengali Translation"
Do you have any plan to add Bengali translation? I am willing to contribute in Bengali translation

[2016-08-18 00:31] flocoder opened #678 "Nepalese language version of the project"
Dear All,

PHP The Right Way is a very good project. I wish it had Nepalese version too. If somebody good in English-To-Nepali translation they might consider to do this task.

I can help in that regards.

Thank You.

[2016-10-15 08:58] andrericardo opened #694 "Developers Google page no longer mentions UTF-8 meta or head tags"
In the UTF-8 page line 69 https://github.com/codeguy/php-the-right-way/edit/gh-pages/_posts/05-05-01-PHP-and-UTF8.md#L69

The link
[much faster](https://developers.google.com/speed/docs/best-practices/rendering#SpecifyCharsetEarly)
redirects to
https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent#SpecifyCharsetEarly
this page "Reduce the size of the above-the-fold content" ha

[2016-10-18 18:14] adaroobi opened #695 "Arabic Translation"
Hello,

An Arabic Translation is ready on [here](https://adaroobi.github.io/php-the-right-way) .
and updated Wiki translation page.

What should be done next?
Thx.

[2016-10-20 14:43] #695 closed, assigned to nobody

[2016-10-26 04:43] ngyikp opened #704 "Laravel 5 doesn't use Whoops by default anymore"
At the [ErrorException](http://www.phptherightway.com/#errorexception) section:

[2016-10-31 19:13] shahroznawaz opened #706 "New Look and feel for PHP The Right Way"
I'm a big fan of PHP the right way website and regularly i start my day with this website and emails. well i have a suggestion for the creators @codeguy, May be this is the time to redesign the website with proper navigations and pages. Because there is much scrolling on the existing page. I Always follow this website for php development. so this is a small suggestion from my side.

[2016-10-31 19:25] philsturgeon commented on #706
That would certainly be a bit of work. Are you able to help?

[2016-11-01 06:58] shahroznawaz commented on #706
@philsturgeon I would love to participate in this.

[2016-11-03 12:55] moidshaikh commented on #706
@philsturgeon Count me in too for this, I'm a newbie, but able to help.

[2016-11-05 11:26] mmenozzi opened #707 "Should we remove PSR-0 and PSR-4 from Coding Style guide?"
Hi guys,
here (https://github.com/codeguy/php-the-right-way/blob/gh-pages/_posts/02-01-01-Code-Style-Guide.md) in the Coding Style guide we say that PSR-0, PSR-1, PSR-2 and PSR-4 are for coding style purpose but I think that only PSR-1 and PSR-2 should be listed there.
Indeed, PSR-0 and PSR-4 are for autoloading...
What do you think?

[2016-11-05 16:11] philsturgeon commented on #707
Seeing as PSR-0 and PSR-4 both dictate class names then they're certainly about code style. Naming conventions for classes are an important part of code style, even if folder structures are less relevant.

##

Phil Sturgeon
Sent from my iPhone and there's probably typos because I'm probably at the pub.

[2016-11-06 00:17] mmenozzi commented on #707
@philsturgeon makes sense. Thank you.

[2016-11-06 15:26] philsturgeon commented on #707
No problem :)

[2016-11-06 15:26] #707 closed, assigned to nobody

[2016-11-08 17:18] cjmcdonn commented on #706
Too early for a feature request? It would be great to have a wider column option. Using a 1920 wide monitor I still have to scroll sideways to read the code examples.

[2016-11-08 17:55] shahroznawaz commented on #706
@monstermudder78 yes the site has lots of scrolling and it also has a precious material for php updates.

[2016-11-10 10:49] ethernal commented on #651
With such resources the first thing I do I search for possibility to read on epaper.
@philsturgeon @codeguy Could you guys update the ebook on leanpub or share a script for ebook mobi/epub/etc. generation from current sources?

[2016-11-10 16:46] philsturgeon commented on #651
Howdy! I had a go at updating the ebook a few months back but there was some issue with changes not triggering previews on LeanPub. An email has been sat in my inbox since July asking me to update it, but I let it slide waiting for LeanPub to get back to my asking why the heck their system wasn't working.

I'll give it another go over the weekend or early next week. New job is keeping me crazy bus

[2016-11-12 20:23] #667 closed, assigned to nobody

[2016-11-12 20:44] philsturgeon commented on #704
They certainly change things around a bunch! :)

Could you update this section for us in a PR?

[2016-11-12 20:47] #623 closed, assigned to nobody

[2016-11-12 20:48] philsturgeon commented on #676
Please do! Send a PR with the link if you get it done. :)

[2016-11-12 20:48] #676 closed, assigned to nobody

[2016-11-12 20:49] philsturgeon commented on #657
Please PR a link to the README and the homepage :)

[2016-11-12 20:49] #657 closed, assigned to nobody

[2016-11-12 22:01] dholmes commented on #675
Fixed by #709 -- I "accidentally" fixed this issue while fixing a broken link. (looks like you and I had the same idea--but you had it  first!).  Updating ticket to help get it closed.

[2016-11-13 22:18] codeguy commented on #706
The site as is highly optimized for speed and performance. I've had plenty of folks request a one page format, and others request a multi-page format. It's easy enough to use the browser's Find command to search the single page. Is there a particular reason you want to go multi-page?

[2016-11-13 22:20] codeguy commented on #615
It's using Georgia for body copy and a handful of mono-width fonts for code blocks. I don't see a reason to weigh down the site more with another full web font that has to be loaded.

[2016-11-14 15:15] #615 closed, assigned to nobody

[2016-11-14 15:20] #675 closed, assigned to nobody

[2016-11-14 23:28] philsturgeon commented on #651
Done! https://github.com/philsturgeon/phptherightway-book/releases/tag/2.1.0

[2016-11-14 23:28] #651 closed, assigned to philsturgeon

[2016-11-19 22:32] codeguy commented on #628
👍 We should definitely touch on this. @TazeTSchnitzel Are you available to work on this? Or should we assign to someone else?

[2016-11-19 22:32] codeguy commented on #585
I've removed the current code. Can one of you send a PR with a new code sample?

[2016-11-19 22:33] #372 closed, assigned to nobody

[2016-11-19 22:33] #373 closed, assigned to nobody

[2016-11-19 22:33] #375 closed, assigned to nobody

[2016-11-19 22:33] #376 closed, assigned to codeguy

[2016-11-19 22:33] #377 closed, assigned to nobody

[2016-11-19 22:33] #378 closed, assigned to nobody

[2016-11-19 22:40] codeguy commented on #706
I prefer to handle the design, markup, and css on my end... we have several in-house devs at my work that can handle implementation. It's just easier to manage that way.

[2016-11-19 22:54] #585 closed, assigned to nobody

[2016-11-22 10:26] shahroznawaz commented on #706
Sure @codeguy Actually having things sorted out is much easier to find the required information but you are PHP guru and understand things well. So keep going and i am closing this thread :+1:

[2016-11-22 10:26] #706 closed, assigned to nobody

[2016-11-23 23:01] hikari-no-yume commented on #628
I might be willing to do it, but it's unlikely I'd get round to it. If someone else does it, I could review.

[2016-11-29 18:46] bradynpoulsen opened #716 "Singleton Code Example"
This issue is to track the need of a code example for the Singleton

[2016-12-01 12:39] #359 closed, assigned to codeguy

[2016-12-02 21:26] #704 closed, assigned to nobody

[2016-12-18 03:16] tillkruss opened #722 "Value Object example?"
Just an idea.

[2016-12-29 15:45] wadie commented on #628
:+1:

[2017-01-14 13:58] RobinBoersma opened #726 "Broken links"
I found a couple of broken links:

http://www.phptherightway.com/lingohub_plurals
http://www.phptherightway.com/sprintf
http://www.phptherightway.com/poedit_download
http://www.phptherightway.com/func_format
http://www.phptherightway.com/lingohub
http://www.microsoft.com/web/downloads/platform.aspx
http://phpbridge.org
http://phpbridge.org/intro-to-php/creating_a_data_class

[2017-01-19 21:54] mantrax314 commented on #726
phpbridge.org is dead 😣

[2017-01-20 15:53] mantrax314 commented on #726
@RobinBoersma I updated all links except phpbridge.org which seems to be offline

[2017-01-31 16:58] pmjones opened #731 "Add pds/skeleton?"
Hey @codeguy -- where would the appropriate place be for a mention of [pds/skeleton](https://github.com/php-pds/skeleton), if anywhere?

[2017-02-09 15:48] Flimm opened #732 "Warn against stacking ternary operators"
Unlike every other programming language with a ternary operator (AFAIK), PHP's ternary operator is left associative.

Take this PHP code:

[code]

It prints out `BAR`.

In contrast, this practically identical Perl 5 code prints out the expected value `FOO`:

[code]

I think this should be mentioned in the [Ternary Operators](http://www.phptherightway.com/pages/The-Basics.html#ternary-operators) se

[2017-02-11 03:24] Nilpo commented on #732
I don't think it bears mentioning here (necessarily), but rather at a higher level. PHP's operator associativity only determines expression grouping not execution order. This is not specific to the ternary operator. This very example can be found [here](http://php.net/manual/en/language.operators.precedence.php#example-89). Note the following text:

[2017-02-13 09:44] Flimm commented on #732
Hmm. If we were writing a spec for PHP, I would agree with you. But this is a guide for programmers who want to get better at PHP, and I feel that this particular warning is appropriate when teaching the ternary operator, and it doesn't need to be buried somewhere else. Does phptherightway even have a section about operator associativity that's distinct from the [Ternary Operators](http://www.phpt

[2017-02-22 14:27] #338 closed, assigned to nobody

[2017-02-28 21:42] odan opened #734 "Update PDO example - SET NAMES utf8mb4"
`SET NAMES` indicates what character set the client will use to send SQL statements to the server. Thus, `SET NAMES 'utf8mb4'` tells the server, “future incoming messages from this client are in character set utf8mb4. It also specifies the character set that the server should use for sending results back to the client. (For example, it indicates what character set to use for column values if you u

[2017-03-01 19:01] jaylinski commented on #734
Laravel is also using this command:

https://github.com/laravel/framework/blob/v5.4.14/src/Illuminate/Database/Connectors/MySqlConnector.php#L56

By default they do it like this: `set names utf8mb4 collate utf8mb4_unicode_ci`.

[2017-05-03 19:37] ghost opened #740 "Broken links"
I have found broken links
https://framework.zend.com/wiki/display/ZFDEV2/Coding+Standards

[2017-05-11 10:32] s3b4stian opened #741 "Interacting with Databases code example"
Hello!

This code example in http://www.phptherightway.com/#databases_interacting could be changed, for performance reasons, from this:
[code]
to this:
[code]

[2017-06-09 04:40] mkaatman opened #744 "Using PHP as a RESTful web service layer"
As the front end takes over the web, there's a huge gap on the site where we don't mention using PHP as backend RESTful web services and using JavaScript as a front end consumer of those web services.

Would there be interest in including this if I wrote up a section on it?

I also feel like the site would be doing a huge public service if it went over some of the most common problems found on sta

[2017-06-09 12:07] drbyte commented on #744
I see value in it. I'd be interested in hearing what you have to say on the subject.

Worst case, even if it weren't accepted as a PR you could easily put up a blog post (or a series of posts) on Medium etc ... so, it wouldn't be wasted effort.

[2017-06-09 13:58] mkaatman commented on #744
Alright I'll start putting something together.

[2017-06-09 14:21] philsturgeon commented on #744
👀

[2017-06-10 02:35] mkaatman commented on #744
My first thought is a simple diagram like this to help newcomers understand the basics of how it works:

![diagram](https://user-images.githubusercontent.com/275547/26999285-7d8818be-4d5b-11e7-8bc2-5ffdc6efcea8.png)

Generated here: https://bramp.github.io/js-sequence-diagrams/ with:
[code]

I'll try to get some of the writeup done this weekend.

[2017-06-14 15:24] lferro9000 commented on #740
New location:
https://framework.zend.com/manual/2.4/en/ref/coding.standard.html

[2017-06-14 15:25] philsturgeon commented on #740
Could you folks send in PRs? It's an awesome habit to get into, and doesn't take much longer than opening an issue :)

[2017-06-29 17:11] fulldecent opened #747 "Discussion on library/ sources/ vendor/"
Is there a best practice on where to put your source code and how to organize it into different folders?

[2017-07-06 15:44] fulldecent commented on #747
I've also seen /webroot /local and /config.

Clearly there are a lot of opinions on this.

[2017-07-07 04:25] ericpoe commented on #747
Short answer: not really. Long answer: there are no best practices, only common practices.

If you use Composer, your 3rd party libraries go into the `vender` dir automatically. Beyond that, go with the best practices for your framework, CMS, company, dev team, etc. In reality, though, best practices are fluid and ever changing.

@pmjones has done some fantastic research into common practice of te

[2017-07-07 17:32] fulldecent commented on #747
Thanks for sharing. As a prescription, *Skeleton* leaves much to be desired. But it is a step in the right direction. And I have opened a few issues there to discuss further.

[2017-07-08 14:44] daggerhart opened #751 "Update Templating - Further Reading with better examples"
Some of the current examples in the [Template - Further Reading section](http://www.phptherightway.com/#templating_further_reading) are bad.

Specifically:

* [Roll Your Own Templating System in PHP](https://code.tutsplus.com/tutorials/roll-your-own-templating-system-in-php--net-16596) is a very long article full of unworkable code that is terribly formatted. The article is practically unusable by

[2017-07-19 21:58] crossmaya commented on #751
:)

[2017-08-03 13:30] SandroMiguel opened #753 "Portuguese (Portugal) translation"
Hello @codeguy,
The Portuguese (Portugal) translation is in progress on https://github.com/SandroMiguel/php-the-right-way
I've setup CNAME with `pt.phptherightway.com`
Please let me know if I am missing something.

[2017-09-07 07:48] mauriau opened #755 "Clean code PHP"
May we can add a link to this repo : github.com/jupeter/clean-code-php ?

[2017-09-27 12:41] diego-sorribas opened #756 "Put anchor on each title"
I think its a good idea put an anchor on each title of each section to share specific topic

[2017-10-04 23:58] shadyan commented on #756
@diego-sorribas Hmm. That already seems to be implemented.

Examples:
[Chapter 1](http://www.phptherightway.com/#welcome)
[Chapter 2](http://www.phptherightway.com/#getting_started)
[Chapter 18](http://www.phptherightway.com/#community_title)

[Namespaces](http://www.phptherightway.com/#namespaces) (within [Language Highlights](http://www.phptherightway.com/#language_highlights))

Is this what you

[2017-10-05 12:47] diego-sorribas commented on #756
For example [here](http://www.phptherightway.com/pages/Design-Patterns.html) I can't share the "Strategy" design pattern specific.

Thanks!

[2017-10-05 18:08] shadyan commented on #756
Ah, I see what you mean.

You technically can, but you have to check the HTML to get the `id` attribute:
http://www.phptherightway.com/pages/Design-Patterns.html#strategy

[2017-10-05 18:18] diego-sorribas commented on #756
Yes I think something like [this](https://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript) is good for a user experience

Thanks!

[2017-11-22 20:28] ajaxray opened #763 "Bengali Translation"
Hello @codeguy,
I've started translating to the Bengali language at https://github.com/ajaxray/php-the-right-way .
If you allow, I am planning to use http://bn.phptherightway.com/ subdomain to serve the translation and updated CNAME accordingly. Can you please setup the DNS for me?

BTW, with 238 million native speakers, Bengali is the seventh most spoken native language in the world by population

[2017-12-04 16:29] ghost commented on #341
Can someone with experience please very kindly give me good advice on if [http://www.hackingwithphp.com/](http://www.hackingwithphp.com/) and the most of all the book that now uses version 7 [https://gumroad.com/l/hwp-book-pack](https://gumroad.com/l/hwp-book-pack) is a good solid resource to have?

Starting to learn PHP and want to learn from verified good sources. I use PHPCS for all my PHP code

[2017-12-04 17:04] rmncst commented on #341
@monolux , look http://shop.oreilly.com/product/0636920033868.do
This book is the window to php modern

[2017-12-04 18:03] halfer commented on #341
@monolux: those books looks pretty good. I wouldn't worry _too_ much about whether resources are perfect - the stuff about XML is not as relevant, since most APIs have gone to JSON now. COM/Java integrations with PHP are unheard of now. However I expect the content will be OK. An excellent strategy is to learn from several sources, so you can learn from different authors (books, videos, tutorials,

[2017-12-04 18:38] ghost commented on #341
@rmncst OK, getting that for sure since it is by the guy that wrote phptherightway, Josh Lockhart, I trust that source/him, thank you heaps!

Do I need prior experience writing PHP to understand that book or does it take me by the hand? If I wanted a good book that would also take me by the hand with examples and quizzes or execises, would you have one more tip please?

@halfer Great! Just as I wa

[2017-12-04 21:38] halfer commented on #341
@monolux: yep, this is probably a bit off-topic for here `:-)`. If you wish, [drop me a line](https://blog.jondh.me.uk/about/) and I can try to give some broad advice.

[2017-12-05 07:54] matthieu-viel opened #766 "french spelling issue"
Hi,
spelling issue found in french translation:
"La navigateur devra ensuite être averti par le biais de la réponse HTTP que cette page est encodée en UTF-8."
should be:
"L**e** navigateur devra ensuite être averti par le biais de la réponse HTTP que cette page est encodée en UTF-8."

[2017-12-05 10:05] metala commented on #766
Please, contact the French translation repository. You could close this issue here.

https://github.com/eilgin/php-the-right-way/

[2017-12-05 10:14] matthieu-viel commented on #766
Ok thanks.

[2017-12-05 10:14] #766 closed, assigned to nobody

[2017-12-06 21:51] profmikegreene commented on #740
I couldn't find that URL in the code, so resolved?

[2017-12-15 18:05] ajaxray commented on #676
Hello @B-07 ,
We have started an initiative for Bangali Translation.
Please fill up this form to join us - https://goo.gl/forms/peUjRNNik2t0ta1z1

[2017-12-15 18:06] ajaxray commented on #763
If anyone is interested to join us, please fill up this form - https://goo.gl/forms/peUjRNNik2t0ta1z1

[2018-01-30 23:16] plug-n-play opened #769 "Update Home-Page to reflect current Stable version to 7.2.1 (at the time of filing this issue)"
![image](https://user-images.githubusercontent.com/6245927/35596691-eafeda74-0640-11e8-9323-6ec232840b21.png)

vs

![image](https://user-images.githubusercontent.com/6245927/35596746-2ee51190-0641-11e8-9e5b-b8938f106bd0.png)
 - At the time of reporting this, the current stable version is 7.2.1

(Huge shout to the creators of this Site. You are awesome. Possibly # of open issues in this repo sugges

[2018-01-31 08:22] metala commented on #769
PR #764

[2018-02-22 09:58] unkind opened #772 "Explanation of DIP is controversial"
Hi,

I've noticed your section about [DIP](http://www.phptherightway.com/#dependency-inversion-principle) (dependency inversion principle) and the following assertion:

The problem is "abstraction" in the DIP definition has nothing to do with interface/abstract class, see e.g. https://martinfowler.com/articles/dipInTheWild.html#WhatDoesThatAllMean

"Abstraction" here means, let's say, other (bound

[2018-02-25 11:23] skygallery opened #773 "About Bangla Language Translation"
Dear Sir,

PHP is most popular programming language in the world. Also PHP has popularity & a lot of users in Bangladesh. Please could you make translating in bangla language?

Thanks,
Billal

[2018-02-28 02:03] fulldecent commented on #645
Closing as there is no interest in a PR for this.

[2018-02-28 02:03] #645 closed, assigned to nobody

[2018-03-01 11:04] yukulele commented on #565
or
```php composer-setup.php --install-dir=/usr/local/bin --filename=composer```

[2018-03-03 16:12] #734 closed, assigned to nobody

[2018-03-30 10:56] AlfredJKwack commented on #716
#585 has been closed and contains the same as the PR in comments. Could this be merged as suggested?

[2018-04-25 11:31] abelardolg opened #781 "[suggestion] Network sockets, client-server communication"
An introduction to talk about this mechanism to connect clients and servers.
Examples (server and clients).
Best practices.

[2018-05-03 11:20] petk opened #782 "HTTPS"
GitHub pages now support https for custom domains:
https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

PHP: The Right Way might want to enable this also.

[2018-06-19 15:58] codeguy commented on #782
Done. Thanks.

[2018-06-19 15:58] #782 closed, assigned to nobody

[2018-06-19 16:00] codeguy commented on #744
I think this is beyond the scope of this site.

[2018-06-19 16:00] #744 closed, assigned to nobody

[2018-06-19 16:00] codeguy commented on #628
Closing for inactivity.

[2018-06-19 16:00] #628 closed, assigned to nobody

[2018-06-19 16:01] codeguy commented on #538
Closing

[2018-06-19 16:01] #538 closed, assigned to nobody

[2018-06-19 16:02] codeguy commented on #747
Closing.

[2018-06-19 16:02] #747 closed, assigned to nobody

[2018-06-19 16:19] codeguy commented on #569
Closing

[2018-06-19 16:19] #569 closed, assigned to nobody

[2018-06-19 16:19] #535 closed, assigned to nobody

[2018-06-19 17:46] petk opened #785 "Subdomains for translations and GitHub pages"
Hello, is it possible to maybe also check the configuration of the translation subdomains?

For example, currently the subdomain `sl.phptherightway.com` is having issues setting up the HTTPS:

The following error is shown in the repository settings:
![subdomain](https://user-images.githubusercontent.com/1614009/41614541-10f8bad0-73f9-11e8-8d3b-0587c8e874bb.png)

The link pointing to learn more:
ht

[2018-06-19 17:52] codeguy commented on #785
Will do. I had to remove the wildcard CNAME record due to spam abuse. I'll add an "sl" CNAME now.

[2018-06-19 17:54] codeguy commented on #785
Updated.

[2018-06-19 17:59] petk commented on #785
It works :tada: Thanks so much.

[2018-06-19 17:59] #785 closed, assigned to nobody

[2018-06-20 00:44] mkaatman commented on #744
Agreed. I apologize for never following through. I stopped using PHP shortly after this suggestion and lost interest.

[2018-06-20 12:08] codeguy commented on #769
Closing. Already done. Thanks though! I've been doing a lot of maintenance the past few days to get the site up to date.

[2018-06-20 12:08] #769 closed, assigned to nobody

[2018-06-20 12:11] codeguy commented on #755
Closed inadvertently. I think this is a nice link. Will add it as a supplementary reference at the end of the Code Style section.

[2018-06-20 12:14] codeguy commented on #755
Done and deployed

[2018-06-20 12:14] #755 closed, assigned to nobody

[2018-06-20 12:21] codeguy commented on #751
I want people to learn:

1. What templating is;
2. Why it is useful;
3. What templating libraries are available;

Building a templating engine is out of scope. I think the current templating content is a bit longer than necessary and could be reduced to improve focus. New links to better resources also welcome.

[2018-06-20 12:25] codeguy commented on #740
Closing

[2018-06-20 12:25] #740 closed, assigned to nobody

[2018-06-20 12:27] codeguy commented on #731
I imagine a new sub-section beneath https://www.phptherightway.com/#dependency_management for now. Sorry for the very very very very late reply. Better late than never!

[2018-06-20 12:27] codeguy commented on #726
Closing

[2018-06-20 12:27] #726 closed, assigned to nobody

[2018-06-20 12:34] codeguy commented on #630
Updated

https://www.phptherightway.com/#php_and_utf8

[2018-06-20 12:34] #630 closed, assigned to nobody

[2018-06-20 12:35] codeguy commented on #716
I have removed links to our own design pattern examples. I am linking to https://designpatternsphp.readthedocs.io/ now.

[2018-06-20 12:35] #716 closed, assigned to nobody

[2018-06-20 12:36] codeguy commented on #722
Closing

[2018-06-20 12:36] #722 closed, assigned to nobody

[2018-06-20 12:36] codeguy commented on #694
Fixed.

[2018-06-20 12:36] #694 closed, assigned to nobody

[2018-06-20 12:36] codeguy commented on #370
Closing. Linking to https://designpatternsphp.readthedocs.io/ now.

[2018-06-20 12:36] #370 closed, assigned to nobody

[2018-06-20 12:37] codeguy commented on #299
Closing

[2018-06-20 12:37] #299 closed, assigned to nobody

[2018-06-20 12:38] codeguy commented on #320
Closing

[2018-06-20 12:38] #320 closed, assigned to nobody

[2018-06-20 12:38] codeguy commented on #341
Closing

[2018-06-20 12:38] #341 closed, assigned to nobody

[2018-06-20 12:38] codeguy commented on #362
Closing

[2018-06-20 12:38] #362 closed, assigned to nobody

[2018-06-20 12:39] #732 closed, assigned to nobody

[2018-06-20 12:41] codeguy commented on #741
Done. Thanks.

[2018-06-20 12:41] #741 closed, assigned to nobody

[2018-06-20 12:42] #756 closed, assigned to nobody

[2018-06-20 12:43] codeguy commented on #612
Agreed. Will work on getting this started shortly.

[2018-06-20 12:44] #379 closed, assigned to nobody

[2018-06-20 12:45] codeguy commented on #530
I agree we need to touch on this topic somewhere. Not sure how best to do it just yet. Tagging this for later.

[2018-06-20 12:47] codeguy commented on #781
Agreed. I think a network communication section would be very helpful. Can include low level socket connections, curl, certificate verification, etc.

[2018-06-20 12:52] codeguy commented on #772
Please post your proposed text changes here or as a PR. Thanks!

[2018-06-20 13:02] codeguy commented on #753
Sorry for the super long delay. Is this translation still up to date?

[2018-06-20 13:03] codeguy commented on #763
Sorry for the very late reply. Is this translation still up to date?

[2018-06-20 13:04] codeguy commented on #773
See https://github.com/codeguy/php-the-right-way/issues/763

[2018-06-20 13:04] #773 closed, assigned to nobody

[2018-06-20 13:17] #541 closed, assigned to codeguy

[2018-06-20 13:39] ericpoe commented on #731
Also, PR #750 includes some information about pds/skeleton.

[2018-06-20 13:44] pmjones commented on #731
@codeguy I think the PR from @ericpoe is a fair summary of pds/skeleton research.

I don't think it would go under "dependency management" exactly, since it's not about dependencies but about package structure, but I submit to your judgment.

[2018-06-20 14:24] nandy-andy commented on #756
What has just happened? Some kind of a bulk action? :)

[2018-06-20 14:26] s3b4stian commented on #741
Hi check the snippet on the web page, there is an extra  s
[code]

[2018-06-20 14:34] codeguy commented on #741
ha I must have fat-fingered that one. Just pushed a fix.

[2018-06-20 14:54] codeguy commented on #731
Other PR merged. Thanks!

[2018-06-20 14:54] #731 closed, assigned to nobody

[2018-06-21 05:22] mappu commented on #460
@codeguy Why was this closed? The bug is still there.

[2018-06-21 11:33] codeguy commented on #460
This got caught in some triage I was doing yesterday. I agree this is worth merging. I've requested they rebase first so I can merge.

[2018-06-22 23:31] SandroMiguel commented on #753
Hello @codeguy,
The translation is still in progress.

[2018-06-25 22:02] SandroMiguel opened #787 "Deprecated links"
I'm translating this repo to pt-PT and noticed that CONTRIBUTING.md file have two deprecated links:
- [interactive rebase](https://help.github.com/articles/interactive-rebase)
- [GitHub Flavored Markdown](http://github.github.com/github-flavored-markdown/)

[2018-06-27 02:16] tchalvak commented on #460
Rebased.

[2018-06-28 02:07] ghost opened #788 "ENV Variables"
I didn't see anything about ENV variables, I think this is something that should discussed in the book in the security or environment section.

[2018-07-01 21:21] petk opened #793 "Warnings when building GitHub pages"
Hello, instead of A records, the CNAME needs to be set. Currently there are some warnings appearing for subdomain sl.phptherightway.com:

This gets over email:
[code]

And in the repository settings there is similar warning:
![cname](https://user-images.githubusercontent.com/1614009/42138900-617b4302-7d85-11e8-9f6a-790839e5edbb.png)

It might be probably best to set CNAME...

Thanks for checking t

[2018-07-20 19:03] ajaxray commented on #763
Hello @codeguy ,
Thanks for your reply :)

The translation is not completed yet, but yes we're working on it.
Hope to update and complete it soon.

[2018-07-27 22:12] dehrk opened #796 "Version Eye is no longer operating"
https://blog.versioneye.com/2017/10/19/versioneye-sunset-process/

[2018-10-15 03:49] ylynfatt opened #799 "Remove PHP Security Cheat Sheet link in Other Useful Resources section"
It seems the [PHP Security Cheat Sheet link](https://www.owasp.org/index.php/PHP_Security_Cheat_Sheet) in the _Other Useful Resources_ section has been marked for deletion on OWASP. In light of this, perhaps the link should be removed from PHP The Right Way.

[2018-10-18 19:12] ericpoe commented on #799
Rather than completely get rid of the concept of a PHP Security Cheat Sheet, how about pointing to the extensive list of OWASP cheat sheets? https://www.owasp.org/index.php/OWASP_Cheat_Sheet_Series

[2018-10-18 20:12] ylynfatt commented on #799
Fair enough. That seems like it could be a better idea.

[2018-11-16 02:48] rtheunissen opened #806 "[suggestion] Data structures, and number handling"
Hi there, I would like to ask about these topics before I spend the time to write them up.

1) Data Structures
- Arrays
- SPL Data Structures (potentially mentioned in the SPL section?)
- The data structures extension, [php-ds](https://github.com/php-ds)

2) Number handling
- `float`
- bcmath
- gmp
- The [decimal extension](https://github.com/php-decimal)

Do you think that these are viable topics

[2018-12-18 15:57] #787 closed, assigned to nobody

[2018-12-18 15:58] #796 closed, assigned to nobody

[2018-12-18 15:59] #799 closed, assigned to nobody

[2019-02-07 08:29] FLasH3r opened #811 "Use the Current Stable Version (7.2) - not true"
http://php.net/downloads.php

current latest stable version is 7.3.1

[2019-02-07 10:49] MaximePinot commented on #811
Hi,

Two pull requests are already opened concerning this update. See #810 and #808.

[2019-02-10 12:29] iammeenugupta96 commented on #811
Unsubscribe

[2019-02-12 07:50] maximal commented on #811
+1

[2019-02-12 07:54] maximal opened #812 "[suggestion] Mention PPM as opposed to FPM"
https://github.com/php-pm/php-pm

PHP-PM is a process manager, supercharger and load balancer for PHP applications (especially for asynchronous ones).

It stated that it provides:
* Performance boost up to 15x (compared to PHP-FPM, Symfony applications).
* Integrated load balancer.
* Hot-Code reload (when PHP files change).
* Static file serving for easy development procedures.
* Support for HttpK

[2019-02-25 20:50] rieschl opened #814 "[suggestion] Type hints/return types"
I really like this PHP reference, it's nice to send it to beginners and people who've been away for a while and want to get up to date.

But what's missing is any explanation of method/function type hints and return types, also in conjunction with `declare(strict_types=1);`.

Personally I think type safety is a very important concept and when using it from the beginning it makes code cleaner and a

[2019-03-11 20:14] anhofmann opened #816 "German translation is outdated"
The german translation is very outdated. It says PHP 5.5 is the current version. Also a lot of stuff is missing and I would suggest to either delete the link to http://rwetzlmayr.github.io/php-the-right-way or mark it as outdated and incomplete.

[2019-04-03 13:38] kcassam opened #819 "Update Security Advisories Checker link"
https://phptherightway.com/#checking-your-dependencies-for-security-issues

Please update  Security Advisories Checker link from https://security.sensiolabs.org to https://security.symfony.com

see https://twitter.com/fabpot/status/1048217028342009856

[2019-06-10 00:09] #793 closed, assigned to nobody

[2019-08-16 21:27] derekyle commented on #814
I agree. I came here to make the same suggestion and then saw this. Definitely very important. It looks like they accept pull requests so maybe someone could write it up? I'll try to if I can scrape together the time.

[2019-08-17 14:57] codeguy commented on #814
Yes we do accept pull requests :) Feel free to use this thread as a discussion for your WIP. I and others will be happy to provide feedback along the way. Thanks!

[2019-08-17 15:05] #819 closed, assigned to nobody

[2019-08-17 15:05] #811 closed, assigned to nobody

[2019-08-17 22:02] anatoly128 opened #827 "PSR-2"
PSR-2 is deprecated, maybe need to change on PSR-12, or something else?

[2019-08-18 12:30] codeguy commented on #827
Do you have specific locations where this needs to be fixed?

[2019-08-18 12:36] codeguy commented on #816
Agreed. Removed the link.

[2019-08-18 12:36] #816 closed, assigned to nobody

[2019-08-18 12:50] codeguy commented on #827
I updated the Code Style Guide section to reference PSR-12. Thanks!

[2019-08-18 12:50] #827 closed, assigned to nobody

[2019-08-18 12:50] codeguy commented on #763
Closing for inactivity.

[2019-08-18 12:50] #763 closed, assigned to nobody

[2019-08-18 12:51] codeguy commented on #753
Closing for inactivity.

[2019-08-18 12:51] #753 closed, assigned to nobody

[2019-08-18 12:51] codeguy commented on #678
Closing for inactivity.

[2019-08-18 12:51] #678 closed, assigned to nobody

[2019-08-18 12:51] codeguy commented on #772
Closing for inactivity.

[2019-08-18 12:51] #772 closed, assigned to nobody

[2019-08-18 12:51] codeguy commented on #530
Closing for inactivity.

[2019-08-18 12:51] #530 closed, assigned to nobody

[2019-08-18 12:52] #460 closed, assigned to nobody

[2019-08-18 12:54] codeguy commented on #751
Closing for inactivity.

[2019-08-18 12:54] #751 closed, assigned to nobody

[2019-08-18 12:55] codeguy commented on #459
Closing for inactivity.

[2019-08-18 12:55] #459 closed, assigned to nobody

[2019-08-18 12:55] codeguy commented on #788
Closing for inactivity.

[2019-08-18 12:55] #788 closed, assigned to nobody

[2019-08-18 13:00] codeguy commented on #812
This is the first I've heard of PPM. Do you know how popular/common/well-adopted this is compared to FPM?

[2019-09-09 05:54] vjandrea opened #830 "Leanpub version is outdated (PHP 7.0)"
The [Leanpub](https://leanpub.com/phptherightway) link goes to an outdated version of the ebook: https://leanpub.com/phptherightway/read

[2019-09-26 11:38] vmshatkovskiy opened #831 "Not all of them related to code-style, but those that do are PSR-1, PSR-12 and PSR-4."
It seems that you meant PSR-2 instead of PSR-4 which one is about Autoloading.

[2019-09-26 20:04] raumi75 opened #832 "Mac Setup still using php 7.2"
Homebrew currently provides version 7.3

[code]

The section [Mac Setup](https://phptherightway.com/#mac_setup) however suggests installing *php@7.2*, though it says the current stable version is 7.3.

[2019-10-16 07:01] sabmost opened #836 "php and R language"
I want to run R script from php web form
the output is not an image , it is csv files

[2019-10-16 09:06] sabmost opened #837 "R ,PHP ,Mysql"
I want to run R script from php web form
The script has no parameters or arguments,but it has csv file as input file with three values
The output is not an image .
it generates several events as csv file
Pls can you help me in this
or tell me how to run the script outside R studio

[2019-10-20 10:54] wolfy-j commented on #812
The https://github.com/spiral/roadrunner would be the successor to PHP-PM. It much faster than PPM and supported by almost every major framework on a market.

The long-running approach for PHP apps is still emerging but the amount of benefits you are getting is hard to ignore.

https://packagist.org/packages/php-pm/php-pm/stats
https://packagist.org/packages/spiral/roadrunner/stats
https://packagi

[2019-11-10 23:22] malantb commented on #837
It's not the place for support request. Consider using [Stack Overflow](https://stackoverflow.com/) as mentioned in [contributing info](https://github.com/codeguy/php-the-right-way/blob/gh-pages/CONTRIBUTING.md#using-the-issue-tracker). ;)

[2019-11-10 23:23] malantb commented on #836
Duplicate of #837.

[2019-11-10 23:31] malantb opened #840 "Spread the Word! is linking to nowhere"
Spread the Word! link in Welcome chapter is linking to nowhere. The section was removed in 8f4c727bee7912b1cc0fac1c8fb44e301907b598.

[2019-11-11 12:40] malantb opened #841 "Paul's Twitter account has been suspend"
Due to suspending Paul's Twitter account I suggest to change the link - placed in section _Common Directory structure_ of chapter _Getting Started_ - from https://twitter.com/pmjones to http://paul-m-jones.com or https://github.com/pmjones.

[2019-11-15 18:18] duemti commented on #841
He first deleted it, then twitter banned him. Strange world...

[2019-11-15 18:20] duemti opened #842 "Virtualization -> Vagrant -> Rove.io"
The link in "A little help section" of "Virtualization" is dead. Specifically rove.io link.
Seems like the domain is for sale.

[2019-12-16 23:53] benjivm commented on #841
Lol why was he banned?

[2019-12-19 07:51] duemti commented on #841
Thought police got him.

[2020-01-15 12:14] JamesGelok opened #845 "Latest Stable Version of PHP is 7.4 not 7.3"
Right [here](https://phptherightway.com/#use_the_current_stable_version) it says the current stable version is 7.3

But it's actually [7.4](http://php.net/downloads.php).

[2020-01-16 14:30] geekcom commented on #845
This PR solve the problem https://github.com/codeguy/php-the-right-way/pull/846

[2020-02-03 11:19] mwallisch opened #847 "Link down: Exception Best Practices in PHP 5.3"
Chapter 10 Errors and Exceptions at the end of the section the link
Exception Best Practices in PHP 5.3
leading to
http://ralphschindler.com/2010/09/15/exception-best-practices-in-php-5-3
is dead.
According to the wayback machine it was last scraped in April 2019. Last scraped version:
https://web.archive.org/web/20190401130536/http://ralphschindler.com/2010/09/15/exception-best-practices-in-php-5

[2020-02-03 13:33] codeguy commented on #847
Cool. Can you send a PR removing the link? If not that's cool, but I won't be able to correct for a day or so.

[2020-02-03 15:10] mwallisch commented on #847
Will try, and you are sure you want to remove the link instead of changing the address to the web.archive one?

[2020-02-28 00:44] cadeljones opened #852 "Link Down: "php-mentoring.org""
I get a "522 Connection timed out"

Their github also seems rather inactive.
https://github.com/phpmentoring

[2020-03-04 13:50] #840 closed, assigned to nobody

[2020-03-04 13:51] #842 closed, assigned to nobody

[2020-03-04 13:52] #847 closed, assigned to nobody

[2020-04-09 07:41] Shohan494 opened #855 "Link seems broken, section https://phptherightway.com/#databases"
PDO Tutorial for MySQL Developers

Output - [8093b68d] 2020-04-09 07:39:17: Fatal exception of type MWException

Sorry if anyone else already opened the same issue

[2020-04-26 11:29] #855 closed, assigned to nobody

[2020-04-26 11:30] #841 closed, assigned to nobody

[2020-05-26 08:35] JustSteveKing commented on #837
@sabmost you would need to have an R server running somewhere or use the R script within a Shiny application, and hit it as an API endpoint using the R rest package

[2020-06-18 15:52] ezio1404 opened #862 "Help in previewing in local"
Good day Sirs,

I've followed the instructions in the contributing.md in previewing locally

bundle install --path vendor/bundle
bundle exec jekyll serve

but I got an error in nokogiri
![image](https://user-images.githubusercontent.com/34921038/85043206-ad712f00-b1be-11ea-8048-3dac71f8215f.png)

Thank you for your understanding.

[2020-06-18 16:13] jrfnl commented on #862
@ezio1404 I ran into something similar recently with another GH Pages site. You may want to try to downgrade your Ruby version to 2.5.8 as that's the version the current version of the GH Pages gem is compatible with.
https://pages.github.com/versions/

Not sure if it will solve your issue, but hope this helps.

[2020-06-19 14:22] ezio1404 commented on #862
[image: image.png]

I tried but it does not work.

On Fri, Jun 19, 2020 at 12:13 AM Juliette <notifications@github.com> wrote:

[2020-07-25 06:16] zakirullin opened #863 "Type casting & arrays"
With all that goodies documented, we still have a topic to think about.

Type casting in PHP is horrible and hard (means prone to errors). You shouldn't use that in 2020.
Especially when dealing with requests/responses/configs/arrays and other raw data.

Untyped array is a problem also (with all those `issets()` nearby).

We came to an easy solution like [this](https://github.com/zakirullin/typed-

[2020-08-11 00:14] aarie33 commented on #734
I am so helped with this answer
I was confused with this issue, I tried many ways to fix it.
But finally, my actual problem is about the syntax, this syntax is the best that I can use

Thank you

[2020-12-11 16:12] baohx2000 opened #866 "Update current stable version to 8.0"
Documentation references 7.4.
Likely need to update any download or install instructions.

[2020-12-12 19:23] iio7 opened #867 "The advice regarding mb_internal_encoding"
The advice given is that:

However, I feel that this is wrong. People need to setup php correctly to support UTF-8, not changing config at runtime.

[2020-12-12 19:29] iio7 commented on #867
Also, as documented, the default charset for PHP 5.6 and onwards is already set for "UTF-8". All the `md_` options, as long as they are unset, are UTF-8.

[2020-12-12 19:32] iio7 commented on #867
If at all necessary to address this issue, the advice should be to make sure that the default value of `default_charset` is set to "UTF-8" in `php.ini`, and then only use `mb_internal_encoding` if you haven't got access to `php.ini`.

[2020-12-14 16:12] atos93 opened #868 "Links Down: PHPBridge"
The links at the end of https://phptherightway.com/#pdo_extension

- https://phpbridge.org/docs/
- https://phpbridge.org/intro-to-php/creating_a_data_class
doesn't work

[2020-12-15 06:16] ghost commented on #830
Make this the outdated list issue. Persian (فارسی) translation is outdated as well (php 5.6)

[2021-01-03 12:10] Shikachuu commented on #868
To be more precise, it is under https://phptherightway.com/#databases_interacting .
The site redirects to a none existing, `laravel-recipes.com`, I think the original site PHPBridge is no longer exist.

[2021-01-13 20:24] petk commented on #866
PR has been opened here: https://github.com/codeguy/php-the-right-way/pull/871

[2021-01-14 03:43] #836 closed, assigned to nobody

[2021-01-14 03:43] #866 closed, assigned to nobody

[2021-01-14 03:44] matthewtrask commented on #832
this has been updated.

[2021-01-14 03:44] #832 closed, assigned to nobody

[2021-01-26 11:53] Shohan494 opened #875 "Interested to add Bengali translations for my native community"
Hello,
Thanks for this beautiful and important repo, php is kind of widely used and most loved language in my country so I was interested really for adding the Bengali Translations.

[2021-01-26 14:04] matthewtrask commented on #875
I would absolutely support adding Bengali translations if you or someone else who is a native Bengali speaker wants to take a try at it.

[2021-01-26 15:40] Shohan494 commented on #875
I am surely on for this @matthewtrask
And yes I am a Bangladeshi and surely bengali is my native tongue

[2021-01-26 15:55] matthewtrask commented on #875
@Shohan494 fantastic! let me know if I can help in any way :)

[2021-01-26 16:57] Shohan494 commented on #875
I am doing the translations and then surely will inform. Thanks a lot for the response ❤️

[2021-04-16 08:34] kanlukasz opened #883 "Broken link report: phpwomen.org"
https://phptherightway.com/#user_groups

I might be wrong, but `phpwomen.org` doesn't seem to exist anymore

![image](https://user-images.githubusercontent.com/30685349/114996413-1983f880-9e9f-11eb-806d-c2098efdf7ad.png)

[2021-04-29 23:05] catfan opened #886 "Introduce Medoo"
Hello,

Medoo is an open-source PHP database framework. It's lightweight, easy-to-use,  high-performance, and works well with other frameworks.

We're one of the most active PHP database framework projects, with over 570K+ downloads, 4.3K stars on GitHub.

And there is a lot of other language database framework projects also inspired by Medoo's syntax.

The official website: https://medoo.in
GitHu

[2021-05-02 11:14] Pen-y-Fan opened #888 "End of Line"
There are several code snippets with the new line as `\n`, I think the right PHP way should be `PHP_EOL` for compatibility with Linux, Mac and Windows.

I'll create a pull request with the change.

[2021-05-13 13:01] abelardolg opened #890 "Change font serif by other with no serif."
Hi there,

Could you change the current font with serif to another one with no serif, please?
![image](https://user-images.githubusercontent.com/22522883/118129098-0ca1e880-b3fc-11eb-8792-1ddbbd87c0ee.png)

Thanks.

[2021-05-13 13:03] matthewtrask commented on #890
hmm I would be open to hearing more about this, but I think its generally accepted UX/UI to have a mix of serif and sans-serif fonts.

[2021-05-13 13:13] abelardolg commented on #890
Wouldn't it be better to use a font with no serif so don't cause visual fatigue?

[2021-06-25 18:35] #888 closed, assigned to nobody

[2021-08-10 07:17] kanlukasz commented on #883
PR https://github.com/codeguy/php-the-right-way/pull/891

[2021-08-10 07:17] #883 closed, assigned to nobody

[2021-10-12 09:05] patupaka commented on #830
still not updated as in today. may we do something to contribute?

[2021-10-14 17:42] goranluledzija opened #894 "Adding Free PO editor as a tool for localization"
Hello,

I created this [Free editor for PO files](https://pofile.net/free-po-editor) and thought you might want to mention it in [i18n/l10n](https://phptherightway.com/#i18n_l10n) section.

[2021-10-14 21:02] matthewtrask commented on #894
thanks, but this doesnt seem to be a php library, which is what we are highlighting.

[2021-10-14 21:02] #894 closed, assigned to nobody

[2021-10-14 21:06] goranluledzija commented on #894
I meant as a tool for editing PO files, like you mentioned POedit, but is completely free.

[2021-10-20 17:38] kanlukasz commented on #890
As a former graphic designer I think it's a good idea, but we have to think about it neatly to get it right

First spontaneous concept with [Lato](https://fonts.google.com/specimen/Lato) font:
![image](https://user-images.githubusercontent.com/30685349/138142998-1006d7c1-2d34-4af8-8c4e-73de6c04e334.png)

[2021-10-24 15:48] benrobot opened #895 "Web Root vs DocumentRoot - php -S and /public folder"
The site currently mentions "Web Root" twice and "DocumentRoot" twice. It says that one should run `php -S localhost:8000` from the "Web Root".

Is the "Web Root" the same as the "DocumentRoot" (which is recommended to be the /public folder?

[2021-11-26 22:53] ariaieboy commented on #612
any update about this ?
i think in modern PHP era we should use static analyzers for having a really better code quality.
some of the great packagees in this section is :

https://github.com/phpstan/phpstan
https://github.com/nunomaduro/larastan
https://github.com/vimeo/psalm
https://github.com/phan/phan

[2022-01-09 07:03] dv336699 opened #900 "How often is the website updated?"
Is there an automated deployment or is that done manually?

thanks

[2022-01-09 07:22] dv336699 commented on #900
Never mind it seems that there is no PR to update to 8.1.

Thanks

[2022-01-09 07:22] #900 closed, assigned to nobody

[2022-02-07 09:28] tbmatuka opened #903 "Project newlines and .gitattributes"
Every project should have its newline settings defined in `.gitattributes` to avoid a mess of windows and unix newlines. There's an added benefit of using `.gitattributes` to simplify your `git diff` output by defining big generated files (for example `composer.lock`) as binary.

BTW this project doesn't have a `.gitattributes` file either :laughing:

[2022-02-07 09:42] zakirullin commented on #863
@codeguy Hi there! Care to see the PR?

[2022-02-07 14:16] matthewtrask commented on #868
I think this has been removed and we can close this.

[2022-02-07 14:16] #868 closed, assigned to nobody

[2022-02-07 14:16] matthewtrask commented on #863
@zakirullin yes please :)

[2022-02-07 14:17] matthewtrask commented on #903
if you want to create one, we would accept the PR.

[2022-02-15 11:30] cGuille opened #906 "Single Responsibility Principle definition"
Hello!

I have read the SRP definition on the website. As a reminder, here is how it is currently described:

https://github.com/codeguy/php-the-right-way/blob/4e688e010e4e1f4c1ae279bfafbbc95aef22ad36/_posts/06-03-01-Complex-Problem.md?plain=1#L27-L33

I remembered reading a blog post a few weeks ago about how the idea that SRP meant "one class should only do one thing" was a misunderstanding of t

[2022-03-08 16:42] wnunezc opened #907 "The Spanish version is outdated and obsolete"
The Spanish version is outdated and obsolete; Would you accept a new Spanish fork with the content of the latest version?

I ask this question; since I am interested in making the contribution; but I don't see myself doing something that they won't accept.

[2022-03-08 16:45] matthewtrask commented on #907
@arcanisgk absolutely!

[2022-04-11 12:13] tgvishal commented on #734
`'mysql:host=your-hostname;dbname=your-db;charset=utf8mb4',`
This worked for me

[2022-05-24 17:51] pfcode opened #908 "Invalid SSL certificate for the Polish version"
The polish version, which is available at https://pl.phptherightway.com/, has an invalid SSL certificate. It seems that the default GitHub cert is used instead of a customized one for the domain.

Also, this translation seems to be pretty outdated - the last change was made in Jan 2017.

[2022-06-01 12:08] igorradovanov opened #909 "Web Platform will retire on July 1, 2022"
In the [Windows Setup](https://phptherightway.com/#windows_setup) section, there is a _Web Platform Installer_ from Microsoft listed as the first solution. This tool should be replaced/removed due that it will be retired on July 1, 2022. More information is available on the [product](https://www.microsoft.com/web/downloads/platform.aspx) page.

[2022-06-01 12:26] matthewtrask commented on #908
to the second issue, we are happy to accept updated translations provided we can find someone to verify the translations. I dont know if anyone involved with the project speaks Polish though.

[2022-06-01 13:04] igorradovanov opened #911 "IIS 7 and PHP Manager reached EOL in 2020"
In the [Windows Setup](https://phptherightway.com/#windows_setup) section, IIS  7 and its PHP manager are mentioned as a solution for the production environment. However, both tools reached EOL. IIS 7 lost its support on [Jan 14, 2020.](https://docs.microsoft.com/en-us/lifecycle/products/internet-information-services-iis). Alongside the IIS 7, the PHP manager tool for IIS 7 is no longer available

[2022-06-01 14:06] #909 closed, assigned to nobody

[2022-06-22 15:20] philsturgeon commented on #830
Updated. https://leanpub.com/phptherightway/

[2022-06-22 15:20] #830 closed, assigned to nobody

[2022-06-22 15:21] #845 closed, assigned to nobody

[2022-06-22 15:21] philsturgeon commented on #907
This would be great, fire it over when it's done!

[2022-06-22 15:21] #907 closed, assigned to nobody

[2022-06-22 15:21] philsturgeon commented on #886
Looks cool, fire over a pull request!

[2022-06-22 15:21] #886 closed, assigned to nobody

[2022-06-22 15:22] #852 closed, assigned to nobody

[2022-06-22 15:22] #837 closed, assigned to nobody

[2022-06-22 15:23] #890 closed, assigned to nobody

[2022-06-22 22:19] abelardolg commented on #890
The font-family was not updated...or does it?

[2022-06-23 13:04] philsturgeon commented on #890
Ah sorry, saw #892 was closed so thought it was done. If anyone wants to change this please send a PR.

[2022-07-03 09:14] nazares opened #916 "Russian translation"
I've realized that there is very old Russian translation. So I've decided to help and made a new and updated version of Russian translations, it placed here [PHPTRW](https://nazares.github.io/php-the-right-way).

[2022-07-10 10:35] JonisoftGermany commented on #612
Hi everybody,
code quality is a very important topic. It contains so many more aspects than mentioned here before.

For me it starts with an IDE, which provides syntax highlighting. Many of you might not think that there are some people around, which still use an unmodified VIM or editor (windows) or textedit (mac os) without **any** hinting. But there are! Many! I do not know if you want to menti

[2022-07-22 08:42] protosqq commented on #916
thx!

[2022-07-22 09:50] nazares commented on #916
UW ;)

[2022-07-31 13:31] igorradovanov opened #919 "Remove Dwoo from Libraries (Compiled Templates)"
Dwoo project has been discounted and the link within the PHP The Right Way documentation links to a gambling website.

Link to be removed: http://dwoo.org/
About the Dwoo project discontinuation: https://github.com/Seldaek/Dwoo (last commit from 2014.)

[2022-07-31 13:33] igorradovanov opened #920 "Replace the link for Zend/View in Libraries (Compiled Templates)"
The current link to Zend/View found in the PHP The Right Way documentation resolves to 500 Internal Server Error

Current link: https://framework.zend.com/manual/2.3/en/modules/zend.view.quick-start.html
Replacement link: https://framework.zend.com/manual/2.4/en/modules/zend.view.quick-start.html

Version mismatch, v2.3 vs 2.4.

[2022-07-31 14:15] igorradovanov opened #923 "Zend Engine 2 Opcodes resolves to 404 page (Caching)"
Zend Engine 2 Opcodes were removed from the php.net manual and moved to https://php-legacy-docs.zend.com manual under Zend.

Broken url: https://www.php.net/manual/en/internals2.opcodes.php
Replacement url:  https://php-legacy-docs.zend.com/manual/php4/en/internals2.opcodes

Chapther: [15 (Caching)](https://phptherightway.com/#caching)

[2022-08-18 07:19] alnahian2003 opened #925 "Translation Request For The Bengali Language"
Howdy!
I've been utilizing **PHP: The Right Way** for mastering my own PHP skill. But I relaized that, there's no translation available for Bengali/Bangla speaking people! I believe, this project has many potentials, and helping millions to learn PHP in right way. But I think, the learning process might get easier for Native Bengali Speaking PHP learners if we make the translation available for th

[2022-08-19 00:56] matthewtrask commented on #925
hey @alnahian2003 thanks for the offer! We would love to have you take a crack at it. One challenge we have would be finding someone else who can review, edit, and approve the translations. I can run your work through Google Translate, but it would be better if we have another native Bengali speaker who can help us review this. If you want to start working on this, I can ask on twitter and see wha

[2022-08-19 08:27] alnahian2003 commented on #925
Hello @matthewtrask, glad to see your reply. Oh yep, I understand the pre-procedural stuffs before contributing in Open Source projects.
Alright, if you want then please do what's necessarry in this regard! I'm looking forward to hearing from you.

Have a happy Friday.
Greetings! 🎉

[2022-08-23 21:20] Xymph opened #927 "How to submit updated/dead links?"
While (proof)reading (see #926) I also encountered a fair number of links which are changed on the remote site, and some dead ones. Here I'm not sure what would be the recommended way to submit changes, as some cases can result in discussion, and in a few cases I'm uncertain what to change for a dead link with no replacement.

Examples: http links redirecting to https; links that do currently redi

[2022-08-25 14:50] Xymph commented on #927
Okay, not sure what kind of response times are customary in this repo, so I tried my luck with the first PR #928.
Further updates are (sometimes) trickier, so I'll probably use separate PRs.

[2022-08-25 14:54] codeguy commented on #927
Good morning! Re: response times, we're a small group of maintainers that have day jobs. Speaking for myself, I check in a few times a week. I'm just so busy lately. So expect a few days before a reply. Maybe sooner!

Separate PRs are fine, but we're really not picky. If you are confident in the changes, just batch them together. You can always revise a PR in progress.

[2022-08-25 15:10] Xymph commented on #927
Different timezone here, so good afternoon. :) Thanks for the feedback, will keep plugging away on the remaining changes.

[2022-10-09 01:51] f3ath commented on #906
I second this. SRP basically means that things which do not always change together (i.e. for different reasons) MUST NOT live together.

[2022-10-30 14:31] Xymph commented on #927
@codeguy  After two+ months I was wondering... are my PRs ever going to get reviewed/merged?
After these I probably have one more with leftovers, but with so much pending stuff it is a bit tricky to find them in the diffs between my working copy, and a repo copy that is still at gh-pages' head.

[2022-11-02 17:02] Muzammil901 opened #935 "link to design pattern documentation is not working"
The link https://designpatternsphp.readthedocs.io/ attached inside design pattern section is not working.
404 error #

[2022-11-05 11:02] #920 closed, assigned to nobody