[2012-07-06 21:42] codeguy opened #1 "Fix Packagist link"
Missing link in paragraph body.

[2012-07-06 21:43] codeguy opened #2 "Migrate Laravel to full-stack list"
Based on user feedback.

[2012-07-06 21:56] #1 closed, assigned to codeguy

[2012-07-06 21:56] #2 closed, assigned to codeguy

[2012-07-07 21:07] josegonzalez opened #8 "Convert to Jekyll"
Jekyll is a ruby static site manager. You might have noticed how a bunch of "programmer" snobs have the same layout, and thats because they use [Octopress](http://octopress.org/) and don't know any css/html.

In any case, Jekyll allows you to organize content as markdown, then allows you to build the pages based on some generic layout. The engine is ruby, but that doesn't really matter much - ther

[2012-07-07 21:41] codeguy commented on #8
Cool. I think it may be easiest/best to keep this on GitHub using GitHub Pages. I'll probably work on this tonight and tomorrow. But as you said, this will likely make it much easier for others to fork and edit.

[2012-07-07 21:57] josegonzalez commented on #8
Ah, it's on GH pages? Yeah then thats fine. I can help you convert it, might get to it if I have time later after this beer.

[2012-07-07 22:02] codeguy commented on #8
Not yet, but I'll convert it over later tonight though.

[2012-07-07 22:53] jschreuder opened #16 "Include Exceptions as a topic?"
Maybe worth considering, Exceptions are a very worthwhile but misunderstood and underused part of PHP. Many beginners and some lagging old-timers don't know about them, I've even had question the question "but it throws an exception, how could I work with it after it shuts down my app?!" (not understanding they can be caught).

[2012-07-08 00:25] BattleRattle opened #17 "Link to PSR-0"
When you write about namespaces and Composer, please link to the PSR-0 standard for namespaces. That's the standard, that is supported by Composer autoloader.

Link: https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-0.md

[2012-07-08 06:19] dave1010 opened #20 "Remove frameworks that do not do PHP the right way"
This may be controversial. But if think a framework should not be on the list eg if it does not use name spaces.

[2012-07-08 10:18] jschreuder commented on #20
IMO this shouldn't be done. Mention the major ones and maybe note as objectively as possible which best practices they follow (mention the positive instead of the negative). This site should get as wide acceptance as possible which will only happen if you don't start alianating all 'fans' of a framework that is omitted over not being pure enough.

[2012-07-08 12:30] chrishow opened #22 "[suggestion] Add SolarPHP to framework list"
pmjones (author of PHP fig-standards and all-round PHP whizz) has written a very done-the-right-way framework called SolarPHP ( http://solarphp.com/ ) which I think deserves a link.

[2012-07-08 13:43] codeguy commented on #8
Closing this out. The Jekyll app is now on the `gh-pages` orphan branch. I'm going to pull in the remaining pull requests and then point DNS to GitHub.

[2012-07-08 13:43] #8 closed, assigned to nobody

[2012-07-08 15:58] filaruina opened #24 "[Idea] Encourage website promotion"
Hi,

The website is a great step to improve PHP code out there.
Reminds me of http://promotejs.com/ as a movement to help removing bad information.
What about doing something similar, having a nice banner and an embed code, so people may link to the website in their blogs and websites, helping the promotion and google indexing.
Maybe a "Promote" topic in the introduction?

[2012-07-08 16:01] codeguy commented on #24
I think this is a great idea. Will try to get something in place as soon as I can.

[2012-07-08 18:28] codeguy commented on #24
Done! http://www.phptherightway.com/banners.html

[2012-07-08 18:28] #24 closed, assigned to nobody

[2012-07-08 23:46] josegonzalez opened #31 "Set default branch to gh-pages"
We should move the default branch to gh-pages so that contributing to this repo is easier from a non-github user's perspective. Could also move all the files in master branch to the gh-pages branch as appropriate.

[2012-07-08 23:54] codeguy commented on #31
Done. `gh-pages` is now default branch.

[2012-07-08 23:54] #31 closed, assigned to nobody

[2012-07-09 13:23] fullo opened #45 "translation of the document"
we are translating all the content in Italian.

Do you prefer
_includes\translations\section.md
or
_\includes\section.it_IT.md

[2012-07-09 14:10] philsturgeon commented on #22
Done.

[2012-07-09 14:10] #22 closed, assigned to nobody

[2012-07-09 14:13] philsturgeon commented on #17
Composer does not require PSR-0, it simply utilises it as one of many options, so it may confuse the situation to talk about it here.

The Namespaces should absolutely have a note about it, which is currently proposed by #25.

[2012-07-09 16:53] samdark commented on #45
I'm going to translate into Russian. Same question here.

[2012-07-09 17:10] iign commented on #45
I was thinking in translating to spanish, but I wasn't sure if they were being accepted at this point. Anyhow, I think I'll wait for the doc to stabilize a bit.

[2012-07-09 17:33] fullo commented on #45
italian translation is hosted on another github page here: http://phpnelmodocorretto.grusp.org but we will wait for a stabilization of the docs to continue our work.

[2012-07-09 17:34] samdark commented on #16
Sounds too basic…

[2012-07-10 08:53] rdohms opened #53 "Point people to User Groups"
I think its useful to mention in the resources area or maybe a shot community paragraph, that these and more best practices are usually showcased in the various UG meetings and conferences around the world.

We do not yet have a central repository for that, but we can always point them to the few key resources.

Do you guys think this fits into the website?

[2012-07-10 09:40] samdark commented on #53
http://www.php.net/cal.php ?

[2012-07-10 09:52] fullo commented on #53
absolutely!

we have to create a section where each PUG  can add contacts and informations. Here (in Italy) the GrUSP (the nationwide PUG) has wrote a book about the [same topics](http://phpbestpractices.it), translated a lot of other documentation (like the Symfony docs and books) and it's organizing local PUGs spreaded in the whole county to teach best practices to new developers. And afaik othe

[2012-07-10 10:07] inoryy opened #55 "Add a note about using opcode cache like APC"
Definitely needs some attention.
Easy to install/setup and greatly increase application speed, yet not many people use it even today..

[2012-07-10 10:38] resurtm commented on #55
Same is true about using data caching (memcached, APC, etc.): cache invalidation, timeouts, keys, size restrictions.

[2012-07-10 13:02] philsturgeon commented on #53
I think this would be WAY too much information to put into the site, but a pull request with a link to a place where this information is contained would be ok.

I mean, just in the UK we have:
- PHPNE
- PHPNW
- PHPSW
- PHP London
- and... a few more here http://www.phpclasses.org/browse/group/bycountry/country/uk/

It's too many for this static site to deal with, and conferences would be a joke. I

[2012-07-10 13:02] #53 closed, assigned to nobody

[2012-07-10 13:05] philsturgeon commented on #16
A section on Exceptions, with an explanation of SPL Extensions and why they are awesome for avoiding [arrow code](http://www.codinghorror.com/blog/2006/01/flattening-arrow-code.html) and better than just returning false with a random getMessage() method hiding around would be really useful.

[2012-07-10 13:07] philsturgeon commented on #20
Absolutely not!

Frameworks like CodeIgniter and Kohana do not use namespaces because they focus on PHP 5.2 compatibility. That is not a bad thing, that is a selling point.

If you don't need PHP 5.2 support for your framework then maybe you don't need CodeIgniter or Kohana, but that does not remove the fact that they are valid options.

[2012-07-10 13:07] #20 closed, assigned to nobody

[2012-07-10 13:21] samdark commented on #16
@philsturgeon good points about SPL exception classes and about arrow code.

[2012-07-10 13:29] rdohms commented on #53
I agree @philsturgeon a space for all UGs is way too much.

I'll write something about Community and point to a few resources as soon as i can.

[2012-07-10 13:45] grakic opened #58 "Functional programming deserves a better example"
See here for in-line comment: https://github.com/codeguy/php-the-right-way/commit/384345fc85c1fcba32b2a39678ca97580a72542e#commitcomment-1560821

[2012-07-10 14:01] philsturgeon commented on #58
Send a pull request that replaces the example with one you are happy with.

[2012-07-10 14:01] #58 closed, assigned to nobody

[2012-07-10 14:02] philsturgeon commented on #55
Maybe one of you guys could set up a new section on Caching?

[2012-07-10 14:27] inoryy commented on #55
@philsturgeon sure, I can do it

[2012-07-10 14:32] philsturgeon commented on #55
Great, in which case I'll close this one down and await your pull request with bated breath!

[2012-07-10 14:32] #55 closed, assigned to nobody

[2012-07-10 14:38] hexa2k9 opened #61 "filter_input should not be nessesary for PDO"
As per [PDO documentation](http://www.php.net/manual/en/pdo.prepared-statements.php) it should not be nessesary to use `filter_input` to protect applications against SQL injection attacks when using prepared statements. It should be safe to use PDO only.

For mysql_query (or whatever it is called for other databases) it still needs to be called on input parameters.

[2012-07-10 15:27] codeguy commented on #61
Yes, you're correct. We thought it wise to demonstrate the principle proposed in the previous section. This can be better clarified, though.

[2012-07-10 15:57] codeguy opened #66 "[Localize] Russian"
@butteff Thanks for volunteering to localize into Russian. For localizations, we will link to your fork running on GitHub Pages. To avoid fragmentation and user confusion, I want to either 1) link to [username].github.com/php-the-right-way, or 2) point [language].phptherightway.com to your fork on GitHub Pages.

Feel free to fork and make edits as necessary. You'll want to make sure you continue t

[2012-07-10 15:58] codeguy commented on #66
Also, you'll want to remove the `CNAME` file from your fork before you push/deploy to GitHub Pages... otherwise the push will fail. If you want to use the subdomain, place `ru.phptherightway.com` into the `CNAME` file instead.

[2012-07-10 16:00] butteff commented on #66
ok, understand it. thnx a lot.

[2012-07-10 17:37] codeguy commented on #45
Thanks guys! Please refer to the readme (recently updated) with how we are approaching localizations.

[2012-07-10 17:38] codeguy commented on #45
The doc should be stabilized in a week or so. We're iterating fairly quickly right now :)

[2012-07-10 17:39] codeguy commented on #66
Closing. Continue conversation here: https://github.com/codeguy/php-the-right-way/issues/45

[2012-07-10 17:39] #66 closed, assigned to nobody

[2012-07-10 19:34] codeguy commented on #16
Closing this out since it's in place.

[2012-07-10 19:34] #16 closed, assigned to nobody

[2012-07-10 19:35] codeguy commented on #45
Closing this. Please refer to the readme for translation instructions. Open a new issue when your translation is ready and I'll add a link to the primary document.

[2012-07-10 19:35] #45 closed, assigned to nobody

[2012-07-10 20:33] jschreuder commented on #16
Returning late to the party, but this is exactly what I meant. Good job!

[2012-07-11 08:08] #17 closed, assigned to nobody

[2012-07-11 08:31] AkenRoberts opened #78 "Menu links are broken on banners.html"
Simple mistake, somebody fix it. The links need to start with `/#` to bring the user back to the main page's appropriate anchor.

I am having no luck forking this project on Github - every one of them is giving me read-only access, contrary to what the page says. Am I missing something, by chance?

[2012-07-11 08:41] AkenRoberts commented on #78
Pull request to fix this was merged RIGHT before I made this issue, so I didn't see it. Carry on, nothing more to see here. :)

[2012-07-11 08:41] #78 closed, assigned to nobody

[2012-07-11 08:50] henrikbjorn opened #79 "Not viewable on mobile"
Currently the new menu overlaps the content when viewing on an iPhone. The viewport should be taken into consideration or optionally hidden.

[2012-07-11 08:52] inoryy commented on #79
Can confirm, here's a screenshot https://p.twimg.com/AxgUdkmCQAA7Rkg.jpg

[2012-07-11 09:30] philsturgeon commented on #79
And iPad's apparently.

[2012-07-11 12:45] codeguy commented on #79
This is done.

[2012-07-11 12:45] #79 closed, assigned to nobody

[2012-07-12 05:49] klaussilveira opened #90 "Brazilian portuguese translation"
I have altered the CNAME to br.phptherightway.com. Here's the repository:

https://github.com/klaussilveira/php-the-right-way

[2012-07-12 12:54] codeguy commented on #90
I've pointed DNS for you. Allow a bit of time for DNS to propagate. It doesn't look like you've translated the entire document just yet. Should I wait until you are finished before adding this to the primary document?

[2012-07-12 15:13] klaussilveira commented on #90
Yes, please. I will update the issue when i'm done, so you can close it. Is this ok?

[2012-07-12 15:17] codeguy commented on #90
Cool. Closing out. Re-open or open a new issue when ready.

[2012-07-12 15:17] #90 closed, assigned to nobody

[2012-07-12 17:13] telephone opened #96 "Common pitfalls/User tips - Yay or Nay"
With the aim being to instill best practices, I think it would be beneficial to include a common pitfalls or user tips section. However, I would like to gauge others opinions first.

I'm sure everyone will have their own opinions, but I've included a few examples of common issues that I've found in beginners/novice code.
### Examples:
###### Comparison operators:

One common pitfall of beginners i

[2012-07-12 17:19] codeguy commented on #96
I think this would make a great addition, but it will be important to keep the text brief and straight-forward without becoming  bloated with too many code examples.

This will fit nicely beneath "Coding Practices". I know that @taylorotwell will be pushing a few additions to the section soon, too.

Thanks! Looking forward to your additions.

[2012-07-12 19:21] LupinTraderIII commented on #96
@codeguy Thanks for the input.

Just to clarify:
1) Under the "Coding Practises" should I create a new sub section for each reference, or just one sub section encompassing all hints/tips?
2) Would you prefer that I add a short summary about the function/method before I comment on best practices (like 'Exceptions')?
3) Would you prefer each sub section as a separate pull request? (easier to manage)

[2012-07-12 19:43] codeguy commented on #96
1. The site navigation only has two levels (that are shown in the sidebar nav). I'm thinking group all of these useful tips under a common child of "Coding Practices".
2. I'm not sure I understand what you're saying. Use your best judgment. Keep it simple and to the point understandable by beginners.
3. Yes please

[2012-07-12 19:44] codeguy commented on #96
@philsturgeon What do you think this subsection should be called?

[2012-07-12 19:52] LupinTraderIII commented on #96
2) Was referring to the sub section "Exceptions", how it goes a bit in-depth before the example code.

I.e. Was asking if a 'back story' about the function/method would be necessary for each one. But that's moot, and I'll just use my best judgement.

[2012-07-12 19:55] codeguy commented on #96
2) Maybe a very brief explanation of how your examples improve performance or remove ambiguity. But that's all I'd do.

[2012-07-12 20:01] codeguy commented on #96
Also, if you see yourself using a lot of code examples... consider linking off-site to an authoritative tutorial that shows the same thing. The goal of the document is not necessarily to _demonstrate_ more than it is to send users in the right direction. We straddle this line in the Composer section.

[2012-07-12 20:17] philsturgeon commented on #96
Put this one under "The Basics" for now, and it fits in perfectly.

As it is mainly code example and not a lot of text I think making them their own sections would be unnecessary. Perhaps if a section gets more text it could be spun out into its own file.

[2012-07-12 20:19] LupinTraderIII commented on #96
I'll try to find authoritative tutorials, but most are just from experience... After a quick G search, the problem with most of the tutorials on 'best practices' is they're outdated. While the principles are the same, I don't want to link to a 4 year old article.
So I'll try to combine as many theories as possible. Such as the DRY approach (don't repeat yourself) covers a multitude of examples.

O

[2012-07-12 22:02] cspray opened #101 "mysql_* removed in PHP 5.5.0?"
I'm just wondering if there's any source for the `mysql_*` extension being removed in PHP 5.5.0?  With [docs on choosing a MySQL API](http://php.net/manual/en/mysqlinfo.api.choosing.php) stating 'Long term deprecation announced' is the next major version really going to remove this extension?  If it is a source should be provided.  If it isn't I believe the wording on why not to use `mysql_*` shou

[2012-07-12 23:35] codeguy commented on #61
Closing. See duplicate available with pull request #85.

[2012-07-12 23:35] #61 closed, assigned to nobody

[2012-07-12 23:44] codeguy opened #104 "Remove frameworks, replace with component libraries"
@philsturgeon Thoughts? I've been second-guessing frameworks since I added them. I think they're tangential at best. Re-usable component libraries (Symfony Components, Packagist packages, etc.) would better serve our audience without the polarizing and popularity-contest side-effects.

[2012-07-13 00:13] codeguy commented on #104
As for which libraries to mention:
- Packagist
- PEAR
- Symfony Components
- Zend Framework Components

Any others you want?

[2012-07-13 01:17] KrisJordan commented on #104
+1 for letting nature continue to run its course.

Someone newish to web dev stands to benefit from using a framework with a consistent approach and narrative over trying to put together a home rolled collection of packages.

The direction I could see this section evolving is providing a better high level narrative on the "main page" (currently the component library approach isn't given any langua

[2012-07-13 05:06] philsturgeon commented on #104
Ok but keep them as second options called "Zend Packages" and "Symfony Compoments" instead of using the framework name, then if we kill frameworks it doesn't matter anyway.

Emailing from my iPhone 4S like a BOSS!

On 13 Jul 2012, at 00:44, Josh Lockhartreply@reply.github.com wrote:

[2012-07-13 08:01] philsturgeon commented on #104
That was a little short.

I don't think we should remove frameworks just yet, as many of them are making the transition to being component based and it would be a shame to cut them out until then. I am a little bias of course as this is exactly what FuelPHP is doing, but so are CakePHP and a few others I wont mention.

Your list is as extensive as I can think it needs to be, but I dont suggest we

[2012-07-13 08:12] fabpot commented on #104
Don't you think that we should first define what a popular framework/library is? If not, you will keep adding new ones over time and it will definitely become an unmanageable list with no real value.

Also, what about adding another section with libraries that solve one problem (and they solve it well) like Assetic, Monolog, Imagine, Twig, ...

[2012-07-13 08:19] philsturgeon commented on #104
@fabpot defining the popularity of a framework is a tricky one as there are not too many metrics to go on. We had this conversation on the PHP-FIG mailing list and it didn't get anywhere: GitHub watcher lists are unfair, website traffic, community forum user counts, etc? I don't want to see a million on there, but I don't want to be an elitist jerk that keeps others out now that the two I represen

[2012-07-13 10:32] wilmoore commented on #104
Maintaining this list is likely to get pretty unwieldy. I'd vote to forgo the framework list altogether. Here are a few lists I found after 3 second web search:
- http://www.phpframeworks.com/
- http://www.phpwact.org/php/mvc_frameworks
- https://en.wikipedia.org/wiki/Comparison_of_web_application_frameworks#PHP_2

I think it may be better to link to one of those (probably wikipedia) and point con

[2012-07-13 10:42] philsturgeon commented on #104
Ok, let's rip out the framework list and replace it with a piece of text like:

Or... something.

It's my birthday, my heart isn't in it.

Whatever the text, we then link to those sites who already maintain lists of frameworks. and remove our list.

[2012-07-13 10:51] wilmoore commented on #104
They are prominently used to build remote HTTP services.

Component-based frameworks are collections of specialized and single-purpose libraries. Disparate component-based frameworks can be used together to make a micro- or full-stack framework.

[2012-07-13 10:52] wilmoore commented on #104
Happy Birthday :)

[2012-07-13 10:55] padraic commented on #104
I'd vote for de-politicising things. As much as I'm embedded in Zend Framework, long lists will be out of place on the site. Also, "Zend Framework" can't be shortened to Zend Packages because Zend offers no such product (can't butcher a name just to fit an agenda). The same applies to libraries multiplied by a few thousand - there's even greater duplication and adoption rotation there unless it's

[2012-07-13 10:59] philsturgeon commented on #104
In which case "ZF2 Packages" would be the repository name. There was no butchering intended, we're just linking to repositories of reusable code.

[2012-07-13 11:00] padraic commented on #104
For Component Based, would note these may include MVC - ZF springs to mind. + section re Bundles since most framework have replicated them in one way or another, e.g. ZF Modules (aka Zundles to those with a sense of humour).

Also, happy birthday :P.

[2012-07-13 11:03] philsturgeon commented on #104
Yeah I was trying to avoid linking to all the CI Sparks, Laravel Bundles, Kohana Modules, etc type sites.

If components can be used standalone - in the form of PSR-X or otherwise - and require little-to-no chunks from the framework then it can be considered a component.

For example, most of the FuelPHP 2.0 PSR-0 components require the Fuel\Utilities which have some basic array operation stuff. T

[2012-07-13 11:19] padraic commented on #104
The way I view it is that we wouldn't be linking - it's mostly a nod to the emerging practice of making frameworks more extensible (on the assumption we all agree that's a good thing). Seems a useful bit of awareness to pass on.

ZF2 Modules would never be components. ZF2 components are sometimes barely components. It's easy to forget I'm the grumpy one on the ZF2 team for a reason ;). Many compon

[2012-07-13 11:26] inoryy commented on #104
-1.

Only linking to components libraries promotes what is already a plague in PHP community - way too much code written under NIH syndrome.

If this project is aimed at beginners, then they definitely should be guided towards popular frameworks first, to avoid duplicating others work (and arguably doing a much worse job at it).
Then, when they gain enough experience, they can find those component

[2012-07-13 11:58] padraic commented on #104
I think the question is how to guide them to frameworks. Having a list gets political - who's the biggest, the most popular, the best, etc. Just covering the principles of what a framework is, why they exist, what they're good at (and not) can let new folk head and pick their own based on what we've told them. Finding the most popular frameworks isn't that hard anyway - most do a decent marketing

[2012-07-13 12:12] inoryy commented on #104
@padraic well, we'd have to either rip out links from whole project or add every single more or less active library to appropriate section if you want to be politically correct.

Speaking of finding things, first 2 links I get from google for "PHP frameworks" are
http://en.wikipedia.org/wiki/Comparison_of_web_application_frameworks#PHP
http://www.phpframeworks.com/
Which gives me zero overview and

[2012-07-13 12:16] codeguy commented on #104
Just catching up on the conversation. I think @padraic said it best:

I want to avoid the political shitstorm of having to maintain that list and explain to some why others are on it and they are not. I also don't know what metrics beyond personal preference or general popularity would guide our decision on who to include. I DO agree that we should still steer new users toward frameworks... as @Kr

[2012-07-13 12:19] codeguy commented on #104
Or, perhaps we keep our own list but with an addition that explicitly states our list is guided by popularity (and general goodness)? That's certainly opinionated, but it does give us a reasonable metric (not necessarily fair) with which we can guide new users.

[2012-07-13 12:21] inoryy commented on #104
We can keep a small list based on some metric and add a small note saying "For a more comprehensive list of PHP frameworks, see here: ... (where?)"

[2012-07-13 12:23] inoryy commented on #104
As for avoiding political shitstorm - we can use [github most watched list](https://github.com/languages/PHP/most_watched). It can also be biased, but at least it's transparent

[2012-07-13 12:26] codeguy commented on #104
@Inori Exactly, transparency is probably the best we can hope for. "Fairness" is too hard to define. That has my vote.

[2012-07-13 12:30] philsturgeon opened #108 "Adding a Component Library section"
Re-usable component libraries (Symfony Components, Packagist packages, etc.) would better serve our audience without the polarizing and popularity-contest side-effects.

[2012-07-13 12:35] codeguy commented on #104
Although, @KrisJordan (way up top) brought up an interesting suggestion about moving this list to the Wiki to avoid pull request moderation. What editorial control would that have, if any? @KrisJordan Is there any editorial decision-making that goes into the Node Module list aside from the community eventually reaching a mutual equilibrium after a series of member edits?

[2012-07-13 12:36] philsturgeon commented on #104
It seems that the conversation has diverged into two, so I suggest we split things into two issues.

To talk about "Adding a Component Library section" please head over to #108.

As for talking about the Framework list, I see two options:

Option #1: Freeze the list as it is. After a week nobody has come up with anything truly missing, which shows that a large number of developers agree with what

[2012-07-13 12:40] codeguy commented on #104
@philsturgeon Regarding frameworks, I like option 2. I think the list will become more comprehensive that way and still remain good if the list adheres to the criteria. What does everyone else think?

[2012-07-13 12:42] inoryy commented on #104
+1 for option 2

[2012-07-13 12:45] codeguy commented on #101
@philsturgeon Will let you answer this.

[2012-07-13 12:57] padraic commented on #104
@philsturgeon's requirements have merit. I'd be +1.

[2012-07-13 13:09] philsturgeon commented on #101
There is a very strong chance I am spreading a rumour here. I cannot recall the source, so I will simply change the text.

[2012-07-13 13:09] #101 closed, assigned to nobody

[2012-07-13 13:17] philsturgeon commented on #101
6910396ad72fca0bdd50f513f2e8c5f371bc5532

[2012-07-13 14:31] grakic commented on #104
+1 for option 2, I like the text and how it avoids the issue.

The solution is also very generic. If there is a similar problem with listing libraries for some task, or listing tools, editors,... it can be solved in the same way.

[2012-07-13 14:33] codeguy commented on #104
Ok. We'll move forward with option 2. @KrisJordan Do you want to run point on this?

[2012-07-13 15:11] KrisJordan commented on #104
Sounds like @philsturgeon has the wiki page language mostly ready above.

The 1000 people watching requirement seems arbitrary and high. Nate's Lithium is an example of a framework that wouldn't be listed. https://github.com/UnionOfRAD/lithium

1000 people is especially high for a library or component.

I'd say nix that altogether or bring it down an order of magnitude. Keep the requirement it's m

[2012-07-13 15:19] philsturgeon commented on #104
Let's go with 500 for frameworks and not require it for a library or component (I wasn't suggesting the same requirements for components anyway).

I'll do that now.

##

Phil Sturgeon

On Friday, 13 July 2012 at 16:11, Kris Jordan wrote:

[2012-07-13 15:23] padraic commented on #104
I think the point was to be completely objective and impose a difficult bar to meet. If we drop it to say 600 (Lithium gets in) what else gets in besides Lithium? The purpose of the 1000 was to set a high enough watermark that the list would not be swamped. Maybe we should survey GH for watch numbers, agree on a list size, and then set the watermark based on that? It would still be a fixed number

[2012-07-13 15:26] philsturgeon commented on #104
The main point of 1000 was setting a reasonable number that keeps out "Hai I made a frameworks can I be on the list?" bits of junk, of which there are many.

##

Phil Sturgeon

On Friday, 13 July 2012 at 16:23, Pádraic Brady wrote:

[2012-07-13 15:26] pmjones commented on #104
Once could start with the list of the FIG membership and go from there.

[2012-07-13 15:28] philsturgeon commented on #104
Thats another political move, as projects not interested in the framework (e.g Kohana) but still very popular would be ignored.

If we say Must have X followers, OR be on the FIG, we're allowing a random clause for those who have certain alignments to come in.

##

Phil Sturgeon

On Friday, 13 July 2012 at 16:26, pmjones wrote:

[2012-07-13 15:31] inoryy commented on #104
just keep 500 and stop coming up with new rules, lol :D

[2012-07-13 15:32] pmjones commented on #104
It comes down to judgment. There's no "technical" "fair" "objective" measure that's going to cover everything you think ought to be covered. Yes, you're going to get snapped at by people who don't like your judgment. Make no apologies for it; indeed, advertise it as such, including your biases, and then link to an outside source for a comprehensive list.

[2012-07-13 15:37] philsturgeon commented on #104
I'm not looking for a golden bullet to make everyone in the PHP community happy, as we're world famous for never agreeing on anything.

Let's just say if the framework is a FIG member then they're a shoe-in. Golden perks for you!

[2012-07-13 15:42] pmjones commented on #104
I think that's a good start. You can then say "additionally, these folks are not FIG but are notable for (whatever reason you like)".

[2012-07-13 15:44] pmjones commented on #104
You _may_ wish to further delineate by targeted PHP version; i.e., "project X is targeted at php 5.2 and higher; Y at 5.3 and higher; Z at 5.4 and higher" etc.  That may be a bit much though.

[2012-07-13 16:40] philsturgeon commented on #104
Done but was a little rushed, going dark for the weekend so please fix it for me! Laters.

[2012-07-13 16:40] #104 closed, assigned to nobody

[2012-07-13 20:40] grakic opened #110 "Design proposal for topic pages"
As for Issue #67 and others to follow there is a need for having more content on a specific topic, published as bonus pages. Some layout adjustments are required for those inner pages. For one, I would like to make it easy to recognize that it is a inner page, and also to make it easy to go back to the main page.

This is a quick mockup done in Web Inspector.

![Topic page mockup](http://www.dodaj

[2012-07-13 20:42] codeguy commented on #110
Leave left column navigation and right column logo in place. I'd probably prepend some notification bar w/ back button in the right content area above the page text.

As is I think that's too jarring of a change.

[2012-07-13 20:44] grakic commented on #110
I would not touch the main page. It will be as it is now.

I will inherit the default layout to make a change for inner pages only. It looks strange to have a Main Page TOC on inner pages as current item will not be in the TOC.

What do you think?

[2012-07-13 20:53] codeguy commented on #110
I'll play with a design this weekend. For now just inherit from the default layout and we can tweak soon.

[2012-07-14 06:56] m-takagi opened #116 "Japanese translation"
I started Japanese translation at https://github.com/m-takagi/php-the-right-way
and set CNAME to ja.phptherightway.com

Could you please setup DNS ?

[2012-07-14 13:49] codeguy commented on #116
Should we use "jp.phptherightway.com" since that is the Japan TLD?

[2012-07-14 14:00] m-takagi commented on #116
"jp" is country code of Japan, and "ja" is language code of Japanese language.

In this case, I think "ja" is more suitable.

ex. http://ja.wikipedia.org/ , http://ja.libreoffice.org/ , http://www.php.net/manual/ja/

[2012-07-14 14:04] codeguy commented on #116
Sounds good to me :) I've pointed DNS... allow some time for it to propagate. I will add a link to the primary document as soon as your translation is complete. Re-open a new issue when it is ready.

Thanks!

[2012-07-14 14:04] #116 closed, assigned to nobody

[2012-07-14 16:12] codeguy commented on #110
Closing. Use layout "page" for extended content pages.

[2012-07-14 16:12] #110 closed, assigned to nobody

[2012-07-18 10:31] kore opened #121 "CLI example must used non-zero exit code"
If something fails on the CLI, it must use an non-zero exit code. Just calling die() is no valid option. The following example:

[code]

Should there become something like:

[code]

One might want to re-use common exit codes: http://www.gsp.com/cgi-bin/man.cgi?section=3&topic=sysexits

[2012-07-18 11:33] codeguy commented on #121
True. Good call. For simplicity, I usually just `exit(1)` for failure, or `exit(0)` for success.

[2012-07-18 11:36] codeguy commented on #121
Send a pull request with your suggested changes and I'll get them pulled in.

[2012-07-18 12:16] #121 closed, assigned to nobody

[2012-07-21 04:11] getjump opened #133 "Date and Time small bug"
[datetime]: http://www.php.net/manual/language.exceptions.php should be http://www.php.net/manual/class.datetime.php

[2012-07-21 10:47] #133 closed, assigned to nobody

[2012-07-22 10:51] wulijun opened #136 "Chinese translation"
Hi, I have translated this site at http://wulijun.github.com/php-the-right-way, could you please add a link at the primary docment?

[2012-07-23 07:36] getjump opened #138 "Using regional domains in reference"
While reading(and translating) the manual, I meet a lot of links to regional resources, which may complicate the understanding of reference. My opinion, that we should use only international subdomain if it exists, for best understanding of reference and for facilate translation to other languages.
An example : [mysql](http://www.php.net/mysql): http://uk.php.net/mysql
Here : https://github.com/co

[2012-07-23 11:59] codeguy commented on #136
Thanks! I've added it to the README and to the Welcome section.

[2012-07-23 11:59] #136 closed, assigned to nobody

[2012-07-23 12:28] getjump commented on #138
oh github parser... in my opinion link should be like : php.net/mysql

[2012-07-23 21:09] grakic opened #140 "Where to store diagrams, screenshots or other images?"
I am writing a content page on Debugging and profiling PHP code. When I complete the content page I will create a summary for the main page.

In the content page I would like to add a kcachegrind viewer screenshot showing flat profile and a call graph. It is not about the program itself, but for better describing how call graph looks like.

Where should I store these images?

[2012-07-23 23:32] codeguy commented on #140
Push them into "/images/{topic-folder}/".

[2012-07-23 23:34] #140 closed, assigned to nobody

[2012-07-26 10:19] philsturgeon commented on #96
Bump? :)

[2012-07-26 13:14] gustavohenke opened #146 "PT-BR translation"
Hello,
I've seen somewhere in the repository that the portuguese translation is coming soon.
Is it the one from Portugal or from Brazil? If it's not the brazilian one, I want to translate it.

Thanks in advance, and sorry for my english.

[2012-07-26 13:26] codeguy commented on #146
It's a Brazilian translation. Contact @klaussilveira, he's the one leading that particular translation.

[2012-07-26 13:26] #146 closed, assigned to nobody

[2012-07-26 19:28] ghost opened #147 "Spanish translation now available"
I've forked and translated the website into Spanish. It took me a few days but now you can find it at

http://ederweber.github.com/php-the-right-way/

I've taken care of changing all the links that point to the PHP documentation and making sure they point to the Spanish translation. The extra pages on Functional Programming and Design Patterns have not been translated but I'll get to those soon. A

[2012-07-26 20:57] ghost commented on #147
@codeguy setup the DNS and got it going for http://es.phptherightway.com so now you can find it there.

[2012-07-28 12:51] codeguy commented on #147
I've linked to this from the main website. Done.

[2012-07-28 13:20] codeguy commented on #138
Submit a pull request if you see changes that should be made. I'd expect translations to link to the appropriate locale documentation. Is this what you are asking?

[2012-07-28 13:21] codeguy commented on #108
@philsturgeon Any word on this? Feel free to assign out if you're unable to take this on.

[2012-07-28 13:22] philsturgeon commented on #108
Ahh I forgot about this one. It's on my todo now :)

[2012-08-01 16:37] bartosz-maciaszek opened #152 "Polish translation"
Hello,

I started making a polish translation of the document. You can add a "coming soon" statement. I wish to make it available within couple of days.

[2012-08-02 11:50] codeguy commented on #152
Great! I've added a coming soon note to the home page.

[2012-08-02 11:58] codeguy commented on #138
Closing.

[2012-08-02 11:58] #138 closed, assigned to nobody

[2012-08-02 11:58] codeguy commented on #152
Closing. Open a new issue when your translation is complete. Thanks!

[2012-08-02 11:58] #152 closed, assigned to nobody

[2012-08-02 11:59] codeguy commented on #96
Any progress on this? I'd love to get this section added. Would you like another contributor to help out with this?

[2012-08-03 09:46] vadimvorotilov opened #153 "xdebug"
Using xdebug is the right way for php? Couldn't find a single word about this in the article.

[2012-08-03 11:43] codeguy commented on #153
This has been discussed and I believe someone had this in the works (maybe). @philsturgeon do you remember what (if anything) came of the debugging section?

[2012-08-04 03:55] briannesbitt opened #157 "Errors vs Exceptions"
Something that comes up in all of the bash PHP sites is : "PHP errors and PHP exceptions are completely different beasts. They don’t seem to interact at all."

A somewhat growing standard practice is to have an error handler that creates and throws an ErrorException so that all errors and exceptions can be globally handled in the exception handler.  The messaging is that they are different "beasts

[2012-08-04 10:15] SyntaxC4 opened #158 "Interest in PaaS Deployment Articles?"
I'm curious if anyone would be interested in me creating a section on deploying PHP to Windows Azure via Windows and Mac/Linux.

Would that be of value to anyone?

[2012-08-04 12:09] codeguy commented on #158
I think this would be great. Let's add a list of links beneath the PaaS section. Each will go to a separate page in the `pages/` subdirectory. This allows us to go into detail without bloating the main page.

[2012-08-06 19:19] philsturgeon commented on #108
Done in commit e6c68e6a9dd9c9ddb25e2aeaaf155bfa912539ec.

There will probably be feedback, let me know what it is. I feel its important to point out the component based frameworks here, as they are blurring the line between "Framework in a Box" and "A bunch of Components". Just because the projects happen to offer a framework, doesn't mean that they are not component repositories.

[2012-08-06 19:19] #108 closed, assigned to nobody

[2012-08-06 20:32] mailopl opened #161 "Section about IDEs ?"
As far as I agree that there's no right way to use an IDE, I think that question about "the best (free) IDE" is asked far too often.
What about a section with free (or _best_) IDEs simply compared? Would you like me to write a section about this ?

[2012-08-06 20:37] mailopl opened #162 "Short tags and ternary"
As a beginner I have no idea if I can, cannot, should or should not use short tags. What about few words on this topic as it's always enabled since 5.4 ?
The same problem is with ternary operator, beginners very often write code like:

`if ($user->isValidated()){
return 'ok';
}else{
return 'wrong';
}
`
instead of
`return $user->isValidated() ? 'ok' : 'wrong';`

*Maybe we could create a section lik

[2012-08-06 20:39] codeguy commented on #161
My goal is to focus on the language itself. I think IDEs are tangential to the primary goal. I think every developer has unique preferences and tastes: some like IDEs like PHPStorm while others prefer simpler editors like TextMate, Sublime Text, etc. I'd prefer to avoid playing favorites and dealing with political aspects of managing this list.

I think this is better posted on the repo Wiki, but

[2012-08-06 20:40] codeguy commented on #162
A section for this was proposed but the issue has been dormant. See #96.

[2012-08-06 20:40] mailopl commented on #161
OK, I fully understand that. Agreed.

[2012-08-06 20:41] #161 closed, assigned to nobody

[2012-08-07 05:53] LupinTraderIII commented on #96
Bah!
I'm Sorry, I had a few family issues and forgot all about this. I'll get working on this again.

[2012-08-10 12:11] codeguy commented on #162
Closing this out. Post suggestions to the "The Basics" thread in #96.

[2012-08-10 12:11] #162 closed, assigned to nobody

[2012-08-10 12:49] codeguy commented on #96
@telephone Looks like there's a new pull request for this. Perhaps work with the other contributor at #163? It's in rough draft form now, and is missing many of your good suggestions here (string types, simple return conditionals, etc.). Closing this out. Let's move forward with #163.

[2012-08-10 12:49] #96 closed, assigned to nobody

[2012-08-10 12:52] codeguy commented on #158
Closing. Send a pull request when this is ready.

[2012-08-10 12:52] #158 closed, assigned to nobody

[2012-08-10 12:54] codeguy commented on #157
I think this would be a great addition to the "The Basics" section, or (maybe more so) to the upcoming "Debugging" section. If you'd like to put together some initial copy for this subsection that'd be great. Go ahead and create a top-level section called "Debugging" (probably above/below the "Testing" section) and add "Errors and Exceptions" as a separate subsection.

[2012-08-15 14:38] PeeHaa opened #172 "Proper setup of a MySQL connection using PDO"
Considering the fact that there are still many people using MyQL as database engine wouldn't it be worth mentioning the correct way of setting up a PDO connection using MySQL as engine?

I.e.: setting of encoding, disabling of emulated prepared statements...?

[2012-08-17 17:53] luanlmd opened #175 "Site forces www."
www is old school stuff: http://no-www.org/verify.php?u=phptherightway.com&retest=1

[2012-08-19 19:42] philsturgeon commented on #175
One needed to redirect to the other, and I don't see an error here. Does this matter?

[2012-08-19 19:43] philsturgeon commented on #172
It could be useful. I guess we can close this down and you send in a pull request? I'll offer feedback when I see it :)

[2012-08-19 19:43] #172 closed, assigned to nobody

[2012-08-19 22:29] codeguy commented on #175
I don't see how this matters. Closing.

[2012-08-19 22:29] #175 closed, assigned to nobody

[2012-09-02 13:12] cedricus opened #179 "Broken link Windows setup"
The link "download the binaries"  is an anchor and it should be an external link.

File to fix : php-the-right-way / _posts / 01-05-01-Windows-Setup.md

Original markup :
[download the binaries](php-downloads)
Parenthesis are making anchor at compilation.

Should be :
[download the binaries][php-downloads]
With square brackets.

Sorry but I cannot fork this project twice and I am currently working

[2012-09-03 20:42] cedricus opened #181 "Unused links (namespaces and overloading) in programming paradigms"
In meta programming chapter (
https://raw.github.com/codeguy/php-the-right-way/gh-pages/_posts/03-02-01-Programming-Paradigms.md), two links are unused :
- namespaces : http://php.net/manual/en/language.namespaces.php
- overloading : http://php.net/manual/en/language.oop5.overloading.php

But namspaces link is used in the next section (ie : Namespaces https://github.com/codeguy/php-the-right-way/b

[2012-09-06 12:49] philsturgeon commented on #153
I have no idea what happened to it, and am not planning to write one myself. I use XDebug for decent backtraces but I've never used breakpoints as im not an IDE developer. Maybe we can find somebody more suited to the task?

[2012-09-09 13:02] Desspina opened #182 "started to work on romanian translation"
just so you know! :)

[2012-10-23 19:54] haakonn opened #191 "Low-contrast text is harder to read"
Your site is full of good advice that is made harder to read because the prose in written in grey colour on a light background. Some may think this _looks_ nice but in fact when you have long paragraphs of text to read, readability should matter more than visual design fashion. Please change the main prose into a black typeface.

For some inspiration, you may look at this site: http://contrastrebe

[2012-10-25 03:04] #153 closed, assigned to nobody

[2012-10-29 21:08] mkaatman opened #194 "No longer seeing nav highlighting"
What happened to the navigation highlighting that occurred while scrolling?

I've tried it in several browsers and it seems to be missing. I don't see any javascript errors.

[2012-10-29 23:36] jasondavis commented on #194
I noticed this a couple weeks ago as well

[2012-10-30 00:48] mkaatman commented on #194
I tracked it down to this filter. I'm not sure why, but it's not being applied correctly.

navLinks.filter('[href="/#'+id+'"]').addClass("active");

[2012-10-30 01:56] mkaatman commented on #194
Okay, got it. The main text was changed to add _title after each h1/h2. The nav links don't contain _title so they never match and the class never gets added.

You could add something like this after var id=e.id; in setup.js
id = id.replace("_title", "");

Or maybe there's a more graceful solution.

[2012-11-06 02:43] rogeriopradoj opened #196 "Include link to pt-br translation"
The translation into pt-br (Brazilian Portuguese) is almost finished, it has been headed by @klaussilveira

Anyway, in my opinion it is already ready to be listed here in official repo, what do you think?

[2012-11-07 05:09] #196 closed, assigned to nobody

[2012-11-07 05:12] philsturgeon commented on #191
I don't have the time either. I have to say to a 24yr old looking at a crisp Apple Retina display I can't see the issue, but I am sure other situations differ. Could you send something in that looks good for you, then we know it's all fixed? :)

[2012-11-14 17:12] markushausammann opened #199 "Addition to the 'People to Follow' list"
I think that at least two quite important voices in the PHP world are missing from that list.
- Pádraic Brady, Twitter: @padraicb
- Anthony Ferrara, Twitter: ‏@ircmaxell

Both have very insightful blogs going and are submitting important RFCs to PHP.

[2012-11-15 00:39] philsturgeon commented on #199
Pull requests are better than issues, especially when you know exactly what to add. I can't do this on my iPhone but if it was a PR I could hit merge.

[2012-11-15 00:39] #199 closed, assigned to nobody

[2012-11-15 00:51] markushausammann commented on #199
I don't think I should open a pull request for each comma. Sometimes I just want to tell you something small. You can gather those things and implement them easily. Your answer is quite non-appreciative and not really designed to motivate for more contributions. Actually I've also submitted a pull request today for something bigger. Ah... and your comment doesn't really tell me what you'll do with

[2012-11-15 00:57] philsturgeon commented on #199
There is an editor built into github dude, click edit and copy and paste those lines in. Contributions are awesome but everyone is busy so things should be done in the most efficient way.

Ill happily merge this when it gets sent in.

Sent from my iPhone

On Nov 14, 2012, at 7:51 PM, Markus notifications@github.com wrote:

[2012-11-23 15:28] wersoo opened #203 "Unicode and Multibyte String Functions"
What can you say about Unicode and multibyte string functions?
I suppose it is an important part of core php skills.

[2012-11-24 08:23] leric opened #204 "PHP Fog is closing soon"
Platform as a Service (PaaS)  section

phpfog will be replaced by appfog, which support multiple languages

[2012-11-25 03:45] philsturgeon commented on #204
If you're making a suggestion please go ahead and click edit on the file you'd like to change so we can do a pull request.

[2012-11-25 03:45] #204 closed, assigned to nobody

[2012-11-25 20:07] bartosz-maciaszek opened #205 "Polish translation"
Hi,

Polish translation is ready. It is available at http://pl.phptherightway.com. Please link it to the main document.

Bartosz

[2012-11-25 22:04] metala opened #206 "Links to Bulgarian translation and DNS record"
I  made a pull request 4 days ago, but I guess I had to make an issue.

[2012-11-25 22:07] philsturgeon commented on #206
No, a pull request will automatically create an issue. If something doesnt get done in 4 days then it means we've been busy and didn't notice it ;)

[2012-11-25 22:07] #206 closed, assigned to nobody

[2012-11-25 22:08] philsturgeon commented on #205
Thanks for making the pull request, there is no need to do both.

[2012-11-25 22:08] #205 closed, assigned to nobody

[2012-11-25 22:08] philsturgeon commented on #182
Awesome! Send in a pull request linking to your repo when its done.

[2012-11-25 22:08] #182 closed, assigned to nobody

[2012-11-25 22:10] philsturgeon commented on #179
Branches are a thing. You should use them to manage multiple changes.

Fixed 5dfc244734652d6e09b62922a204b74a40e5cff9

[2012-11-25 22:10] #179 closed, assigned to nobody

[2012-11-29 12:50] #194 closed, assigned to nobody

[2012-11-29 12:51] philsturgeon opened #207 "Move xdebug to new Debug section"
Also add equal weighted descriptions of Zend Debugger.

[2012-11-29 13:32] markushausammann commented on #207
:thumbsup:

[2012-12-04 18:53] mkaatman commented on #194
I just realize this has been closed and merged. Sorry guys I'm new to github. After reviewing the live site, I see my fix didn't work as well as the original did. I'll try to come up with a better one.

[2012-12-04 20:07] markushausammann opened #214 "Quote is not rendered correctly on the live site"
Here in the github preview, the fowler quote in the chapter 'building your application' is rendered correctly:

http://screencast.com/t/lUB0kNdpUB

On the live site it isn't:

http://screencast.com/t/rqIUyqOpF

[2012-12-04 20:27] jcloutz commented on #214
It should work if the line breaks are removed from the file. Currently there is a line break right after "frequently" in the quote causing the `>` to only affect the first line. It is weird that it renders in the preview though.

[2012-12-04 20:57] #214 closed, assigned to nobody

[2012-12-05 04:03] Sean-Der opened #217 "Use password_* functions instead of BCrypt + PHPass"
Currently the php-the-right-way recommends BCrypt + PHPass, however better hashing is being merged into PHP and is landing in 5.5.

https://wiki.php.net/rfc/password_hash

PHP devs have also released a compatibility layer for older installs at

https://github.com/ircmaxell/password_compat

Would you guys  like a pull request for the _better_ method? I want to run this by smarter people first to ma

[2012-12-05 05:24] LupinTraderIII commented on #217
PHP 5.5 is still in its first Alpha, and should not be recommended to the general public as of yet... Until PHP 5.5 becomes stable, I don't think `password_*` should recommended.

On top of that, as of right now `password_*` is just an internal abstraction for Bcrypt. Where as external libraries (e.g. PHPass) implement multiple algorithms to support compatability.

Last little point, Anthony's pas

[2012-12-05 06:00] Sean-Der commented on #217
password_\* is a completed RFC, and it appears that it will be implemented no matter what. I am not trying to push Alpha software, but this will be the standard.

password_compat offers a graceful transition, so pushing password_\* sooner than latter is the best thing to do. 5.3.7 was released on 2011-08-18, people have had plenty of time to upgrade. We should not be delaying best practices for th

[2012-12-05 13:10] philsturgeon commented on #217
I say if its comparable with PHP 5.3.7 and up then we're all good, as the site generally recommends "use PHP 5.4 or you are doing it wrong". Switching the focus to these functions yet still mentioning the other ways to do stuff seems like a great idea.

@codeguy?

Sent from my iPhone

On Dec 5, 2012, at 12:24 AM, Nick notifications@github.com wrote:

[2012-12-05 13:22] codeguy commented on #217
I'm hesitant to officially recommend anything until it's included in an official PHP stable build. I understand it was approved and will ultimately be included in PHP 5.5, but I'd prefer to wait until 5.5 is stable.

[2012-12-05 13:23] codeguy commented on #217
That being said, I think a statement mentioning the forthcoming functions would be a good idea, as Phil recommended, to prepare for the transition.

[2012-12-05 13:37] philsturgeon commented on #217
The code is available now as a third party extension. The code we recommend now is also a third party extension.

The benefit to changing the suggestion is that this code will soon be included in the core.

Sent from my iPhone

On Dec 5, 2012, at 8:23 AM, Josh Lockhart notifications@github.com wrote:

[2012-12-05 14:14] codeguy commented on #217
Cool. That sounds good then. Feel free to update.

[2012-12-06 05:16] #217 closed, assigned to nobody

[2012-12-08 07:45] trq opened #221 "Use Gen over Jekyll"
Just thought I'd throw this out there, but surely, a project based around PHP should be produced using PHP.

Gen (https://github.com/trq/gen) is a static site generator built around Twig. The site for my framework (http://proemframework.org) is produced using it.

I'll be implementing a markdown plugin soon, so you could likely use your existing content files.

[2012-12-08 20:38] philsturgeon commented on #221
"should be produced using PHP"? Meh?

The site currently runs on Jekyll because of GitHub pages making it super-easy to get a site going without messing around with hosting. Every half decent PHP solution I have come across to date requires live-running PHP, which GitHub Pages will not support. While using PHP might give us a warm and fuzzy feeling, it's essentially irrelevant what platform the we

[2012-12-08 21:44] trq commented on #221
I understand where your coming from and why the chooses you made have been chosen, and also why my original argument is mostly irrelevant. I really wasn't trying the "a project based around PHP should be produced using PHP" seriously. We really need a sarcasm icon.

It was just something I wanted to bring to your attention really.

Anyway, I need to implement a markdown plugin very soon for use in

[2012-12-08 21:44] #221 closed, assigned to nobody

[2012-12-09 14:38] markushausammann opened #222 "No info about autoloading"
I think autoloading should be explained since it has become a bit more complex recently but there are good standards. If you guys agree, I'd write something up.

[2012-12-09 19:09] philsturgeon commented on #222
Absolutely. Maybe you can explain the benefits of PSR-0 and how Composer class maps so people can stop associating the fig with being camelCase nazis, and explain about how you should never use _autoload() and should use spl auto load instead?

Sent from my iPhone

On Dec 9, 2012, at 9:38 AM, Markus notifications@github.com wrote:

[2012-12-11 15:36] philsturgeon commented on #181
If this is still an issue can you please send in a pull request? You can just click "Edit" on the file if you don't want to clone, change, commit, push, etc.

[2012-12-11 15:36] #181 closed, assigned to nobody

[2012-12-11 15:37] philsturgeon commented on #191
No feedback.

[2012-12-11 15:37] #191 closed, assigned to nobody

[2012-12-20 03:14] ghost opened #227 "Guide in PDF?"
Is it possible you release a PDF version of this very excellent guide with an update? Would be much appreciated!

[2012-12-21 16:19] markushausammann commented on #222
I'm gonna do this next year.

[2012-12-21 18:48] codeguy commented on #222
Sounds great! Looking forward to reading this.

[2012-12-29 10:57] Riu opened #229 "Phalcon PHP Framework"
Hi, I think this one need to add to the list of frameworks:
https://github.com/phalcon/cphalcon
http://phalconphp.com/

[2012-12-29 16:42] philsturgeon commented on #229
It meets all the criteria so I'll add it. But you realise the framework list is a wiki, so you could have done this yourself? ;)

[2012-12-29 16:42] #229 closed, assigned to nobody

[2013-01-02 13:26] geoffreyvanwyk opened #230 "Performance misspelled as Performace"
Performance misspelled as Performace at the bottom of http://www.phptherightway.com/pages/The-Basics.html

[2013-01-02 13:31] geoffreyvanwyk opened #231 "Strings can span multiple lines without concatenation"
The Basics article (http://www.phptherightway.com/pages/The-Basics.html) implies that a single strings cannot span mulitple lines without breaking it into pieces and concatenating them, or using or NowDocs or HereDocs.

As far as I can see, it is possible to write a single string over multiple lines.

[2013-01-03 16:22] philsturgeon commented on #231
Feel free to send in a pull request showing your intentions, it's as easy as clicking Edit on the correct file :)

[2013-01-03 16:22] #231 closed, assigned to nobody

[2013-01-03 16:23] philsturgeon commented on #230
Done, thanks!

[2013-01-03 16:23] #230 closed, assigned to nobody

[2013-01-08 14:34] morrisonlevi opened #235 "Improve or drop the SPL section."
The SPL contains some useful classes, but they aren't "stack, queue, heap". No, the helpful classes are the iterators and other things like SplFile.

At the moment this section is pretty pointless anyway with the simple link to the manual. I vote to add links to specific article talking about iterators (the most useful portion by far), etc, or drop it all together. The SPL by itself is definitely

[2013-01-08 15:11] drgomesp commented on #235
@morrisonlevi , why don't you start this by contributing with this ideas yourself?

It would be an awesome starting point for other people to contribute as well.

[2013-01-08 16:06] philsturgeon commented on #235
+1

Sent from my iPhone

On Jan 8, 2013, at 10:11 AM, Daniel Ribeiro notifications@github.com wrote:

[2013-01-26 21:54] jasonbouffard opened #240 "Mention that you can manage PEAR dependencies with Composer"
We're using Composer to manage some legacy PEAR deps with Composer. Not a bad idea if you have to have some PEAR libs. What you you guys think?

[2013-01-28 20:48] rokcarl opened #241 "Limit site content width with CSS"
I think someone should add `max-width` to site content (`.site-content`) inside `/style/all.css`. Something like `max-width: 60em;` or some other value. The content area is just too big on my resolution (1920 width).

[2013-01-28 20:52] mkaatman commented on #241
Turn your monitor sideways when using the site.

In all seriousness, I think this is a reasonable suggestion. Maybe 80em; as a more appropriate value.

[2013-01-28 21:05] rokcarl opened #242 "Explain pitfalls of using simple date / time functions."
Using DateTime is explained in the site. But beginners might still think (even after reading 'the Right Way') "oh I'll just use time() and compute things myself". This is a common mistake, seen everywhere.

E.g., coders compute the beginning of the next day like this: `$next_day_start = $today_start + 86400;`. Sooo easy, why should he use the "difficult" OO approach? Someone should explain the pit

[2013-01-30 18:04] rhynodesigns opened #243 "Grammar: missing word"
"An Exception by default has no meaning and the most common to give it meaning is by setting its name:"

there is a word missing between "common" and "to"

suggest: "common way to" or "common method to"

[2013-01-30 19:00] philsturgeon commented on #243
Couldn't you have clicked "Edit" and made a pull request? :)

[2013-01-30 20:57] rhynodesigns commented on #243
dude, i know...i figured someone would ask this...

i should have pulled the "code" locally and updated my fork, because GitHub doesn't have a GUI option to sync my fork...and i'm a bunch behind.

figured i'd do what i did so i didn't forget about it.

[2013-01-31 00:56] philsturgeon commented on #243
You can just go the the file in the GitHub browser and click edit. If you already have a fork you can delete it, otherwise year pull and push. I'll do this one but next time please PR :)

##

Phil Sturgeon

On Wednesday, 30 January 2013 at 15:57, Ryan McAllen wrote:

[2013-01-31 02:03] rhynodesigns commented on #243
Okay, my bad...

Thought the process was to fork, make change, commit, pull request.

I'll follow your instructions from now on.

Sorry about that.

[2013-02-18 10:33] wilmoore commented on #243
Simple edit...went ahead and took care of it. Thanks for pointing it out @rhynodesigns.

[2013-02-18 15:10] rhynodesigns commented on #243
Thank you sir.
I'll follow Phil's instructions in the future.

[2013-02-18 16:28] philsturgeon commented on #243
Thanks guys!

[2013-02-18 16:28] #243 closed, assigned to nobody

[2013-02-22 19:28] c33s commented on #227
+1
also epub would be appreciated

[2013-02-22 19:34] WaKeMaTTa commented on #227
support the idea of ​​having the guide in pdf format

[2013-02-22 20:05] mkaatman commented on #227
[Pandoc](http://johnmacfarlane.net/pandoc/) can convert from markdown to any other format. Alternatively, we could put the source in DITA and write transforms for whatever format we wanted.

[2013-02-24 13:26] aldesantis opened #247 "Italian translation available"
Hello everyone,

I managed to finish the [Italian translation](https://github.com/alessandro1997/php-the-right-way) of the book in 8 hours. It needs a quick revision but, otherwise, it's ready.

Can you check it and let me know if everything's fine?

Thanks.

[2013-03-04 20:22] butteff commented on #66
Hello, i have got some questions. Can you help me?
1. Can I edit files on github, which i can see now?
2. What link to see results of my edit?

I allready translate part of all on localhost word file, whant to paste it to your site

[2013-03-04 22:08] butteff opened #248 "Translation edit and results"
Hello, i have got some questions. Can you help me?
1. Can I edit files on github, which i can see now?
2. What link to see results of my edit?

I allready translate part of all on localhost word file, whant to paste it to your site

[2013-03-05 00:40] WaKeMaTTa commented on #248
Answer 1 - Yes you can, just have to open the file and edit and submit.
Answer 2 - If your edition is approved you will be able to see it directly looking for the file modified.

I wait to have been of help.

[2013-03-05 18:41] butteff commented on #248
I can't edit posts directory. (have not got writeble access)
I allready download all to localhost and I can edit here! but i can't see results at own server and at github too.

I see all like this: http://sil-design.ru/phpway/ (it's my own server, at github same problem)
I allready wrote to @codeguy twitter and mail, and don't know what to do. Have not take answer.

Can any body help? Sorry for ba

[2013-03-05 18:44] aldesantis commented on #248
@butteff, you have to fork the repo and translate everything from there using git and pushing to your own repo. If you want to see the result, you'll have to install Jekyll,

Everything is explained in the docs, though.

2013/3/5 butteff notifications@github.com

[2013-03-05 18:48] butteff commented on #248
Sorry, will read it. It is my first work at github and i had some questions.

[2013-03-05 18:58] aldesantis commented on #247
Hello? Any info on this?

[2013-03-05 19:28] WaKeMaTTa commented on #247
What do you want to review?

[2013-03-05 19:29] aldesantis commented on #247
Ooops. I was about to ask you to setup a subdomain, but I've forgot to put the CNAME file. I'll do it and get back to you. :)

[2013-03-05 19:32] WaKeMaTTa commented on #247
For this subdomain have to notify to @codeguy , @KrisJordan or @philsturgeon

[2013-03-05 19:56] philsturgeon commented on #247
Excellent! Set up the CNAME file then poke @codeguy, he owns the domain.

[2013-03-05 20:03] WaKeMaTTa opened #249 "Logo for "PHP: the right way""
I created a logo for "PHP: the right way" and let me know if you like.
## Folder \ Source \ Logo Versions Table \ Hand Versions Table

[![Folder](https://f.cloud.github.com/assets/3450257/237132/e4189f6a-880a-11e2-9870-6007a15bda78.png)](http://bit.ly/YHCfLS) [![Source](https://f.cloud.github.com/assets/3450257/237140/40817e66-880b-11e2-9060-89829eee238c.png)](http://bit.ly/WyNEQT) [![vercion-hand

[2013-03-05 20:04] philsturgeon commented on #249
THATS AMAZING

##

Phil Sturgeon

On Tuesday, March 5, 2013 at 3:03 PM, Mohamed Ziata wrote:

[2013-03-05 20:04] aldesantis commented on #249
Am I the only one thinking the current logo is really cool?

[2013-03-05 20:06] codeguy commented on #249
I like the simplicity of the current logo. Not a huge fan of the elephant logos above... mainly because of the OK hand symbol as the eyes.

[2013-03-05 20:07] philsturgeon commented on #249
It would make a cover for a PDF when this is turned into a download/book

##

Phil Sturgeon

On Tuesday, March 5, 2013 at 3:06 PM, Josh Lockhart wrote:

[2013-03-05 20:08] codeguy commented on #249
It could. But I want to make sure it's right before moving forward with it as a new visual identity. If you take out the OK symbol and the line for the ear... I love the elephant shape and colors as a starting point for additional improvements.

[2013-03-05 20:13] mkaatman commented on #249
The elephant needs to have a bit more condescending look in his eye so that people will know he doesn't approve of their traditional "wrong way" PHP code.

[2013-03-05 20:47] WaKeMaTTa commented on #249
@philsturgeon Thanks :-) I like the idea of _make a cover for a PDF when this is turned into a download/book_

@alessandro1997 No, I think so too xD

@codeguy Thanks for your suggestion, but do not like what you say *If you take out the OK symbol and the line for the ear... \* :-S

@mkaatman Thanks for your suggestion, but because they do not know how to say _doesn't approve "wrong way" PHP code._

[2013-03-06 16:27] aldesantis commented on #247
@codeguy: CNAME file added.

[2013-03-06 16:29] codeguy commented on #247
I've updated DNS records. Should resolve shortly. Thanks!

[2013-03-06 16:36] codeguy commented on #247
Looks like it's up! Closing this out.

[2013-03-07 19:05] kitelife opened #251 "Conditional arguments or Conditional statements ?"
Hi, in the page "(The Basics)[http://www.phptherightway.com/pages/The-Basics.html]", there is  a part named "Conditional arguments", why not Conditional statements? Thank you!

[2013-03-07 20:53] butteff commented on #248
I have been allready can upload own results.
And i allready change cname to ru.phptherightway.com

but I can't see results on this link. What i must to do? where is my failure?

[2013-03-07 22:12] butteff commented on #249
very good logo, i think!

[2013-03-07 22:17] butteff commented on #66
@codeguy

When I upload files to github I have got error with domain link:

The page build failed with the following error:
CNAME already taken: ru.phptherightway.com

[2013-03-08 16:40] WaKeMaTTa commented on #249
@all ( @mkaatman @alessandro1997 @codeguy @mkaatman @philsturgeon ... )

I have re-designed the logo. Some things more VOTE, is to say, write the vercion that you like more. [Here you got all the version table](http://www.mediafire.com/?z3dhehtgcb3jur9).

[2013-03-08 16:53] codeguy commented on #249
@WaKeMaTTa I appreciate your time and effort, but I just don't care for the logo at all. Something as important as identity is not something I want to leave to committee. I've been working with a local designer on refreshing the PTRW brand and website design... hoping to have that updated in the next month or two.

Thanks for your effort, but I don't want you spending time on something that won't

[2013-03-08 16:53] #249 closed, assigned to nobody

[2013-03-10 16:14] #248 closed, assigned to nobody

[2013-04-05 15:53] WaKeMaTTa opened #256 "What method headers have to use?"
**What method headers have to use?**

_Type 1 Headers_ (this is what was used before)

[code]

_Type 2 Headers_ (This is being used more recently)

[code]

[2013-04-05 16:28] WaKeMaTTa commented on #242
I think it very clear, that it is dangerous to do the calculations manually. With this text:

[code]

[2013-04-05 16:32] WaKeMaTTa commented on #241
I can not say, because my resolution is 1366x768 and I see it. But your suggestion is very good, have to say the admins.

[2013-04-05 17:03] WaKeMaTTa opened #257 "Subdomain "CA" for language Catalan"
I can ask take subdomain `ca.phptherightway.com` for Catalan language.

To my fork https://github.com/WaKeMaTTa/php-the-right-way

[Information Catalan language](http://en.wikipedia.org/wiki/Catal%C3%A0)

[2013-04-05 17:39] aldesantis commented on #256
If you don't specify a title it will be guessed using the file's name, so you should always translate it, unless you translate the file names as well.

[2013-04-05 17:48] WaKeMaTTa commented on #256
@alessandro1997 understand. I will continue using _Method 1_, because I'm translating docuementos.

[2013-04-05 23:14] codeguy commented on #257
This is done. Updating the primary site's home page with a link to your translation now.

[2013-04-05 23:20] codeguy commented on #242
I agree this is covered in the existing text. However, you're welcome to send a PR with suggested changes.

[2013-04-05 23:20] #242 closed, assigned to nobody

[2013-04-05 23:22] codeguy commented on #235
Agreed. Send a PR with some improvements and we'll be glad to iterate on those and pull them in.

[2013-04-05 23:22] #235 closed, assigned to nobody

[2013-04-05 23:23] codeguy commented on #222
@markushausammann Any progress made on this?

[2013-04-05 23:26] codeguy commented on #157
@briannesbitt Any progress on this? Catching up on things myself. If not I can close this out or someone else can jump on it.

[2013-04-06 11:14] codeguy commented on #257
I'm seeing several broken accent characters. Just a heads up if you need to correct them.

[2013-04-06 14:20] WaKeMaTTa commented on #257
Yes, I've seen it, I'll have to do it 1 to 1. We solve today :)

[2013-04-06 19:44] markushausammann commented on #222
Nope, I've got too much on my plate right now. If someone else wants to write something up, I'd be glad. Otherwise I'll get back to it when times change to the better again.

[2013-04-07 18:07] WaKeMaTTa commented on #257
`ca.phptherightway.com` subdomain does not work, you can fix it.

[2013-04-08 18:13] WaKeMaTTa opened #258 "[suggestion] Split post Databases in 3 sections"
**Why the post [Databases](https://github.com/codeguy/php-the-right-way/blob/gh-pages/_posts/06-01-01-Databases.md) is not in slpit in 3 archives, like the others?**

_Actually:_
-  06-01-01-Databases.md

_What I'm proposing:_
-  06-01-01-Databases.md
-  06-02-01-PDO.md
-  06-03-01-Abstraction-Layerss.md

[2013-04-08 18:25] philsturgeon commented on #258
Sounds like a plan, but only the one "s" in layers ;p

Send in a PR and I'll merge it.

[2013-04-08 18:25] #258 closed, assigned to nobody

[2013-04-12 13:18] 0xcaff opened #260 "EPUB Version of this book"

[2013-04-12 16:12] #240 closed, assigned to nobody

[2013-04-12 16:13] philsturgeon commented on #260
Absolutely. There has been some discussion of changing the format of the main content files, so I've been waiting on @codeguy to get that wrapped up before I start messing with EPUB translation scripts.

[2013-04-12 16:14] #256 closed, assigned to nobody

[2013-04-12 16:15] 0xcaff commented on #260
@philsturgeon Thanks! Any idea when this will be available?

[2013-04-12 16:16] mkaatman commented on #260
If you guys want multiple outputs, it might be worth using DITA. I could help with the transformations.

[2013-04-12 16:21] 0xcaff commented on #260
I think you should write it in sphinx or markdown. Sphinx is more geared toward looking good while markdown is aimed at compiling to almost any format. DITA looks better than I thought.

DITA ftw.
@philsturgeon [link](http://www.ibm.com/developerworks/xml/library/x-dita6/)

[2013-04-12 16:23] philsturgeon commented on #260
I'm not sure what Dita Von Teese has to do with anything, but Markdown is perfectly adequate at doing this so we'll stick with the format we have. No point recoding everything.

This will happen, just not yet. No timeframe either, as that depends on @codeguy's plans.

[2013-04-12 16:24] #251 closed, assigned to nobody

[2013-04-12 16:25] mkaatman commented on #260
http://dita.xml.org/

[2013-04-12 16:27] philsturgeon commented on #260
I know :)

[2013-04-12 16:29] 0xcaff commented on #260
Should I close the issue?

[2013-04-12 16:30] philsturgeon commented on #260
Nope, leave it open. I'll mark it shut when its done, then anyone interested in this will get an alert and progress reports.

##

Phil Sturgeon

On Friday, 12 April 2013 at 12:29, caffinatedmonkey wrote:

[2013-04-12 16:31] 0xcaff commented on #260
Thanks!

[2013-04-12 16:46] WaKeMaTTa commented on #260
Why you wanted to change the format? @caffinatedmonkey

[2013-04-12 16:48] 0xcaff commented on #260
@WaKeMaTTa Jekyll doesn't really compile well to other formats like epub, pdf, mobi and kindle.

[2013-04-12 16:56] philsturgeon commented on #260
Jekyll doesn't need to compile to anything, the content is all Markdown.

Please guys, this is all under control.

[2013-04-12 18:41] WaKeMaTTa commented on #257
`ca.phptherightway.com` subdomain does not work, you can fix it.

[2013-04-16 14:44] briannesbitt commented on #157
Sorry no :-(

[2013-05-07 05:39] getjump opened #263 "Russian translation"
Translated all stuff here:
 https://github.com/getjump/ru-php-the-right-way
http://getjump.github.io/ru-php-the-right-way

[2013-05-07 08:59] wafe opened #264 "Korean Translation Completed"
URL : http://wafe.github.io/php-the-right-way/

[2013-05-09 00:56] codeguy commented on #263
Added a link to the site.

[2013-05-09 00:56] #263 closed, assigned to nobody

[2013-05-09 00:56] codeguy commented on #264
Added a link on the main site. Thanks!

[2013-05-09 00:56] #264 closed, assigned to nobody

[2013-05-18 06:39] rtretyakov opened #268 "Bad links"
Links to Catalan, Italian and Spanish translations show 404.

[2013-05-24 09:38] sobi3ch opened #271 "Typo: "Composer" instead of "Comoser""
In PEAR section there is a text:
"(..)When this code is installed it will be available in your vendor directory and automatically available through the Comoser autoloader:(..)"

There should be Composer instead of "Comoser"
Cheers

[2013-05-24 15:07] #271 closed, assigned to nobody

[2013-05-29 06:07] mikaelz opened #272 "CSRF protection"
It would be handy to add CSRF examples.
I was just making a CSRF protection https://gist.github.com/mikaelz/5668195 inspired from http://stackoverflow.com/a/10469574/289404

[2013-05-29 16:10] philsturgeon commented on #272
Absolutely dude. Would you like to start putting this stuff together as a Pull Request, then we can talk through it.

[2013-05-29 16:39] jasondavis commented on #272
I request that if you do add this, that you use proper Syntax like PSR compliant and not the shorthand Python(y) way

[2013-05-29 16:39] philsturgeon commented on #272
Yes, I forgot to mention that. PSR-2 is being used for most of our examples.

##

Phil Sturgeon

On Wednesday, May 29, 2013 at 12:39 PM, Jason Davis wrote:

[2013-05-29 19:07] mikaelz commented on #272
I'm no professional in this area, that's why I mentioned it.

[2013-05-30 15:37] dragoonis commented on #272
For strong randomisation for CSRF keys, we use
openssl_random_pseudo_bytes() in PPI Framework.
https://github.com/ppi/website/blob/master/modules/UserModule/Controller/Auth.php#L77

I recommend you use this instead of the uniqid() method.

On Wed, May 29, 2013 at 8:07 PM, Michal Zuber notifications@github.comwrote:

[2013-05-30 15:43] philsturgeon commented on #272
Thats cool we're all learning. Put something together and we'll all help out, like Paul there. I'll throw in too.

##

Phil Sturgeon

On Wednesday, May 29, 2013 at 3:07 PM, Michal Zuber wrote:

[2013-05-30 15:49] dragoonis commented on #272
Hi @philsturgeon,

Is there a template for another piece of functionality that could be cloned and we put the CSRF related stuff in it.

I'm happy to help draft stuff up if you can give a little nudge here I've not committed to php-the-right-way yet.

[2013-05-30 16:25] philsturgeon commented on #272
Take a look at password hashing, its in the right section and has a code example you can use for this new section.

[2013-05-30 18:20] mikaelz commented on #272
Thanks @dragoonis I added your suggestion ;)

[2013-06-07 00:29] ezzatron commented on #157
Hi, just thought I'd chime in as this is an area of interest for me, and I'd potentially be interested in having a go at a PR. A friend and I actually wrote a little [library](https://github.com/eloquent/asplode) that helps set up error handling in a best-practice way, so I have some familiarity with the issues surrounding error exceptions.

Are you still planning on having a 'Debugging' section?

[2013-06-13 00:34] getjump opened #274 "Sub-domain for translation"
Hey, russian translation of PHP The Right Way, almost perfect.
And we, with translaters think, that sub-domain(ru.phptherightway.com) will better than one, that provides GitHub Pages.
Can you link that(ru) subdomain to us?

Link to us for now : http://getjump.github.io/ru-php-the-right-way

[2013-06-17 06:30] githubjeka commented on #274
soooo slowly

[2013-06-21 20:41] lsd commented on #227
Hey. I have added a PDF and a brittle shell script to build your own PDF (or other format) on my repo here:
https://github.com/lsd/php-the-right-way-pdf

[2013-06-21 20:47] rogeriopradoj commented on #227
It's awesome. :clap:

Like composer does, isn't?

http://getcomposer.org/book.pdf

[code]

It appears they build the pdf once a day at least.

[2013-06-21 20:57] lsd commented on #227
Cool. I just added ePub, AZW3, MOBI, TXT. I chose "both" for "old" and "new" .mobi format in Calibre when outputting to the MOBI format. I'm moving these to the Kindle Paperwhite for testing right now.

[2013-06-25 20:03] galund opened #278 "internationalisation, sorting and locales"
I think it would be great to have a section on the intl php extension: I've seen several attempts at implementing locale-aware code, and this stuff is hard to get right.

Much existing literature doesn't mention this relatively new extension, and there aren't many sites linking there as far as I can see.

That said, I'm not the person to write it up, as I only just discovered it myself! Maybe in a

[2013-07-04 18:28] codeguy commented on #274
I've pointed the subdomain "ru.phptherightway.com" to GitHub... you'll want to make sure your repo has the CNAME file with the appropriate subdomain in it.

[2013-07-04 18:32] codeguy commented on #268
Thanks for the heads up. I've deactivated those links for now until I can find out what happened.

[2013-07-04 18:32] #268 closed, assigned to nobody

[2013-07-04 18:33] codeguy commented on #241
A redesign is in progress and I'll take this into account.

[2013-07-04 18:33] #241 closed, assigned to nobody

[2013-07-04 18:35] codeguy commented on #257
@WaKeMaTTa It appears your translation no longer works. Did you remove your fork?

[2013-07-04 18:35] codeguy commented on #247
The Italian translation is no longer available. Did you remove your fork?

[2013-07-04 18:37] codeguy commented on #147
@ghost It appears your Spanish translation is no longer available. Did you remove your fork?

[2013-07-04 18:37] aldesantis commented on #247
No, my fork is there. I don't know what's going on.

[2013-07-04 18:48] codeguy commented on #247
Odd. Can you remove the CNAME file, and then see if the site becomes available at:

http://alessandro1997.github.io/php-the-right-way

[2013-07-04 18:49] aldesantis commented on #247
Oh, I think I know what happened. A few days ago I activated GitHub pages at http://alessandro1997.github.io. How can we solve the issue?

[2013-07-04 18:51] codeguy commented on #247
The issue has been around for at least 2 months (I'm late addressing it). Try removing the CNAME file and see if you can access the site at the URL in my previous comment. If that doesn't work, I'll have to investigate more.

[2013-07-04 22:38] WaKeMaTTa commented on #257
@codeguy no

[2013-07-05 10:54] aranw opened #280 "Dependency injection"
With the raise of PHP frameworks using this design pattern, perhaps a dedicated section on this is needed?

Here is a resource which I think should be linked
http://www.slideshare.net/fabpot/dependency-injection-with-php-and-php-53

[2013-07-07 20:23] codeguy commented on #157
We've started an Errors and Exceptions thread here https://github.com/codeguy/php-the-right-way/pull/282. Feel free to continue discussion in that thread.

[2013-07-07 20:23] #157 closed, assigned to nobody

[2013-07-15 10:43] aldesantis commented on #247
I have removed the CNAME file and I can now access the website, although no CSS styles are applied.

[2013-07-15 12:46] aldesantis commented on #247
I also finally found the time to update the translation. Sorry for the delay. :)

[2013-07-18 23:27] aldesantis commented on #247
@codeguy: any info about this?

[2013-07-22 17:48] codeguy commented on #247
Not yet, sorry. I'll try to resolve this week.

[2013-07-26 14:14] dave1010 commented on #20
The [requirements](https://github.com/codeguy/php-the-right-way/wiki/Frameworks) here say "The framework needs to be within the last three stable versions of PHP (i.e., now 5.5 is stable, no 5.2 frameworks are allowed)".

Should PHP 5.2 frameworks be removed? For example, [CodeIgniter requires PHP 5.1](http://ellislab.com/codeigniter/user-guide/general/requirements.html) and the upcoming [CI 3 req

[2013-07-26 16:33] philsturgeon commented on #20
These numbers have obviously changed since this conversation started so it will only look like im contradicting myself if you ignore the timestamps.

Past Phil made the point that PHP 5.2 was still a thing, which a year ago it was. Now with us supporting a PHP 5.3 to PHP 5.5 range we'll need to relegate a few.

Let's make a Legacy section like you say. Both Past Phil and Present Phil would agree w

[2013-07-29 18:13] lfbittencourt opened #286 "Error reporting settings"
Is there a reason to set `error_reporting` to `E_ALL` instead of `-1` in production?

[2013-07-29 18:19] philsturgeon commented on #286
Could you ask your question more clearly? I'm going to take a stab at it but I might be off.

`E_ALL` lacks `E_STRICT` in some PHP versions, `-1` will do everything. Wether you want to make that distinction in production depends on how full you want your logs to be.

[2013-07-29 18:43] lfbittencourt commented on #286
Actually I was wondering if there's a special reason to set `error_reporting` to `E_ALL` instead of `-1` in production, as is recommended in http://www.phptherightway.com/#error_reporting.

If both values can be `-1`, I could make a pull request to fix this, since the only values that **need** to be different are `display_errors` and `display_startup_errors`.

[2013-07-29 18:49] philsturgeon commented on #286
I don't think I want E_STRICT on production though. I mean, you can if you like but I don't want to advise everyone does that. Dev and Testing sure, but Staging and Production really shouldn't complain in my logs that some PHP feature I'm using is on its way out soon, thats what Dev and Testing are for.

##

Phil Sturgeon

On Monday, July 29, 2013 at 2:44 PM, LF Bittencourt wrote:

[2013-07-29 19:01] lfbittencourt commented on #286
You are right, Phil. Besides your point, there are these two advantages taken of [this answer](http://stackoverflow.com/a/1036691) on Stack Overflow:

Thanks for the answers!

[2013-07-29 19:01] #286 closed, assigned to nobody

[2013-07-31 16:59] aldesantis commented on #247
Any news?

[2013-08-13 17:12] philsturgeon commented on #274
This is on your end now, so we can close this.

[2013-08-13 17:12] #274 closed, assigned to nobody

[2013-08-13 17:14] philsturgeon commented on #272
@dragoonis how's this coming along? If its early stage I'll be happy to close this down and talk on a PR instead.

[2013-08-13 17:22] philsturgeon commented on #280
I've asked Philip Bennett (author of Orno\DI and [this benchmark](http://happyaccidents.me/revisiting-benchmarking-dependency-injection-containers/)) to have a bash at this. Hopefully he'll have something for us soon.

[2013-08-19 23:21] desyncr commented on #147
@ederweber account was removed as well as much of the author's social network accounts.

There is a fork of the spanish repo at https://github.com/isra00/php-the-right-way

I also forked isra00 repo and I'm updating it (there are some missing translations).

[2013-08-19 23:27] desyncr commented on #147
At risk of sounding stupid, it's me or es.phptherightway.com suddently points to my fork?

[2013-08-19 23:40] codeguy commented on #147
@asphxia I have been perpetually confused by GitHub's CNAME redirection... at this point I prefer to link directly to the forked GitHub Pages repository URL (e.g. https://username.github.io/php-the-right-way) and forego the language subdomain. If @isra00's repo is still active, let's consider that the official Spanish translation and you can send pull requests there. Else, I can change the link to

[2013-08-19 23:46] desyncr commented on #147
@codeguy in order to use those addresses the pages needs to be fixed (currently they break because of the links points to the root of the domain).

If @isra00 maintains the repo I'll send the pull request there.

[2013-08-19 23:52] codeguy commented on #147
@asphxia I haven't made an official decision on the URL change... if I can understand what is going on with the CNAME redirects I'll leave as is. But it's been confusing to say the least.

@isra00 Can you confirm if your repo is still active?

[2013-08-21 08:36] isra00 commented on #147
@codeguy I missed the last commits, but I can update the spanish translation, so no prob to set the CNAME :+1:

[2013-08-21 08:50] isra00 commented on #147
I'm already updating ES translation with title IDs, 5.5 release and other updates in the original repo. It will take me a couple of days, so it's up to you to update the CNAME now or... let's say, this weekend, where I plan to finish the updates.

[2013-08-21 09:00] isra00 commented on #147
The page build failed with the following error:
CNAME already taken: es.phptherightway.com

Looks like the old one should unbind it...

[2013-09-09 00:18] petk opened #293 "Slovenian translation"
Hello, I'm announcing Slovenian translation of phptherightway.com on http://paradoxcode.github.io/php-the-right-way/
I'll let you know soon for approval and ask you to setup a DNS for a subdomain.

Kind regards, Peter.

[2013-09-12 08:57] petk commented on #293
@philsturgeon @codeguy would it be possible to assign another subdomain for a new slovenian translation:
sl.phptherightway.com
located here:
http://paradoxcode.github.io/php-the-right-way/

sl is language code for our country (sl_SI). Thanks and regards, Peter.

[2013-09-12 13:47] codeguy commented on #293
This is done. It may take some time to propagate. I'll add a link to the site as soon as I can.

[2013-09-12 18:26] petk commented on #293
Thanks, it's working. I've added it to README and welcome.md here: #298

[2013-09-12 20:14] petk commented on #247
Hello, I'm curious if this issue has anything to do with your page not building up because of wrong Markdown reference in file https://github.com/alessandro1997/php-the-right-way/blob/gh-pages/_posts/05-03-01-Date-and-Time.md

Following:
- [Leggi su DateTime] DateTime][datetime]
  should be:
- [Leggi su DateTime][datetime]

Check this and add CNAME again.

Regards.

[2013-09-13 03:56] char101 opened #299 "APCu cache sharing"
`Note that when running PHP as a (Fast-)CGI application inside your webserver,
 every PHP process will have its own cache,
i.e. APCu data is not shared between your worker processes.`

AFAIK, the data cache is shared between all PHP child processes when using fastcgi with php-fpm.

[2013-09-14 15:12] aldesantis commented on #247
I don't think so, as I have just moved everything to my GitHub domain and it seems to work (except for the Markdown issue that I'll be sure to fix, thanks).

By the way, could @philsturgeon change the translation's link in the main repo? It's now http://alessandro1997.github.io/php-the-right-way/.

[2013-09-16 05:27] rotexdegba opened #301 "Need a section on how to deal with UTF-8 strings"
Hi guys,

  Until there is native Unicode support in php, I believe there should be a section in http://www.phptherightway.com/ (similar to https://phpbestpractices.org/#utf-8 ) that addresses how to properly work with utf-8 strings. I am not a subject matter expert on this topic, but I'm hoping someone out there that is knowledgeable in this area would be kind enough to write something about it.

[2013-09-17 13:24] codeguy commented on #301
+1. I think this would be a good section. I myself have been confused by this. I'm certainly not the best authority to write this section, but I hope someone is available to do this. Would be a big help imo.

[2013-09-17 13:42] mkaatman commented on #301
These might be worth reading for ideas: http://sitepoint.com/bringing-unicode-to-php-with-portable-utf8 and http://pageconfig.com/post/portable-utf8

[2013-09-18 10:22] kantoche opened #302 "French translation"
Hello,

I've finished french translation of phptherightway.com on http://kantoche.github.io/php-the-right-way/. I've setup a DNS for a subdomain: fr.phptherightway.com
I'll take care of the 'pages' folder contents translation in a couple of days.
I'll let you have look on the work and approve it.

Best regards,
Jean-Pierre

[2013-09-22 18:00] apzentral opened #304 "Translation to Thai."
Hi Josh, how are you today?

I have finished this translation to Thai.
Here is the link to Thai.
http://apzentral.github.io/php-the-right-way/

Thank you.

[2013-09-30 20:27] isra00 commented on #147
I just transferred the spanish fork to @mantrax314, please update the DNS for pointing to https://github.com/mantrax314/php-the-right-way/

[2013-09-30 21:07] WaKeMaTTa commented on #257
Something new about it?

[2013-10-01 18:12] mantrax314 commented on #147
Hello everybody! The spanish fork has been transferred to @phpdevenezuela Please update the DNS for pointing to https://github.com/phpdevenezuela/php-the-right-way/

[2013-10-01 18:16] codeguy commented on #147
Please remove the CNAME file and access the translated site at [your-username].github.io/php-the-right-way/. You'll need to update the internal links, stylesheet URLs, etc. so they do not rely on absolute paths (otherwise they won't resolve correctly). I'm unable to contact the original Spanish repo dev to request he remove the original CNAME file.

[2013-10-01 21:39] ericmartel opened #306 "Fixed anchor names"
Instead of using the title of a post to generate the anchors by replacing spaces, removing parenthesis, etc... it would be interesting to add a Front-matter variable that contains a fixed anchor so that it is independent of the text displayed.

This would allow:

a) a bookmark to the "use latest version" remains valid even though the latest stable version changes.  At the moment, the link is /#use

[2013-10-02 05:27] pixeloution commented on #272
I'd suggested to someone he check this project about CSRF and he linked me back this page; is this still being worked on?

[2013-10-02 09:24] dragoonis commented on #272
Hey @philsturgeon i didn't get this notification, sorry.
I had something cooked up but since it's been so long I don't know where it is anymore.

I'm just happy that you switched to using `openssl_random_pseudo_bytes()` as per my previous comment.

Thanks!

[2013-10-03 13:49] philsturgeon commented on #272
@dragoonis do you want to take responsibility of trying to find it or remake it, or are you giving up? :)

[2013-10-05 17:42] mzj opened #311 "Serbian translation"
Hi everyone,

I'm almost (90%) done with serbian translation. You can find the translation [here](http://mzj.github.io/php-the-right-way/).
Please check if everything is alright.

Thanks and best regards,
Marko Jovanovic

[2013-10-09 14:12] pixeloution commented on #272
@philsturgeon @dragoonis If @dragoonis doesn't have the time/original files, I could make a run at it - you know, for the inevitable fame and riches that comes from writing for Open Source.

[2013-10-09 14:51] philsturgeon commented on #272
Don't forget all the women who will be throwing themselves at you.

—
Sent from Mailbox for iPhone

On Wed, Oct 9, 2013 at 3:31 PM, pixeloution notifications@github.com
wrote:

[2013-10-09 18:01] petk commented on #272
Lol :)

[2013-10-10 18:49] mrbanzai opened #316 "Boris REPL"
I started to create a pull request to add mention of the [Boris REPL](/d11wtq/boris) in the command-line interface section, but I figured I'd poll the audience as to whether that would be in-scope for that section (and could recommend an alternative, if not).  I always found tinkering via `php -a` to be painful, but Boris provides a really nice REPL for testing out snippets of code.

Thoughts?

[2013-10-25 22:42] mindplay-dk opened #318 "Models, persistence/mapping"
I didn't want to immediately fork and post something, but rather I would like to open up a conversation.

I love what you're doing with this site - it's a great resource, and sorely needed to bring new PHP developers up to speed on what is a very large eco-system, arguably still dominated (in terms of volume) by bad ideas, bad code and bad practices. This site shows PHP from it's absolute best sid

[2013-11-01 20:01] panique opened #320 "Wrong explaination in xdebug article ?"
Please correct me if I'm totally wrong here, but I think the debugging part (https://github.com/codeguy/php-the-right-way/blob/gh-pages/_posts/03-06-01-XDebug.md) explains the setup of local and remote debugging totally wrong and non-understandable.

The article talks about remote debugging, but then gives `192.168.?.?` as a pattern, which is confusing, as this needs your PUBLIC HOST IP adress (wh

[2013-11-07 10:33] codedokode opened #323 "bindValue and bindParam"
Here https://github.com/codeguy/php-the-right-way/blob/gh-pages/_posts/06-01-01-Databases.md the code examples use bindParam with $_GET, but you better use bindValue because bindParam is used for 2-way binding (e.g. to get the result of a stored procedure execution), it accepts only references, so you cannot pass a number or function call result to it.

[2013-11-12 19:15] tiesont opened #326 "Suggestion: WebMatrix"
Not sure if there's a better place to suggest this, but it may be worth noting somewhere in the Windows section that the WebMatrix IDE (from Microsoft: http://www.microsoft.com/web/webmatrix/) can be used for PHP development. It has tools that will install and config PHP & MySQL and sets up IISExpress to serve your project. It was my personal favorite when I still coded in PHP...

[2013-11-14 08:20] acirtautas commented on #326
I guess it could be mentioned, but in general Notepad++ is better for PHP than WebMatrix.

There are far much better solid IDE's to use on Windows like PHPStorm, Zend Studio, Eclipse PDT or NetBeans.

[2013-11-14 09:48] mathroc commented on #326
Is there suggestions for IDE already? maybe a section for this could be useful

windows/osx/unix : Sublimetext, Zend Studio, Eclipse, NetBeans

windows only: notepad++, WebMatrix, others?

unix only: geany, vim?, others?

osx only: vim? others?

[2013-11-14 16:58] aredqueen22 opened #327 "prepared statement in php with form."
Hello there! I've utilised prepared statements to insert my values of my form but I'm confused about the checkbox. I want to get if it is checked (true) or not (false) and I want to insert this information in my database. Please help me.

[2013-11-14 17:02] philsturgeon commented on #327
Sorry dude you should probably post this with more information on StackOverflow.

[2013-11-14 17:02] #327 closed, assigned to nobody

[2013-11-28 13:47] codeguy commented on #280
@happyaccidents Great work! I've left a few comments. Feel free to make changes, push back, etc. Appreciate your help on this.

[2013-11-28 17:04] #280 closed, assigned to nobody

[2013-11-28 18:09] Rarst opened #331 "220x250 banner size request"
I would like to suggest site as [community ad at Stack Exchange stack](http://meta.wordpress.stackexchange.com/questions/1309/community-promotion-ads-2013), but it needs specific 220x250 image size.

Could it be produced and added to banners selection please?

[2013-12-02 19:56] aldesantis commented on #247
I have tried re-adding the CNAME file after three months. Let's see if this is solved. :)

[2013-12-07 12:24] weakish opened #336 "Is ‘else’ really not necessary when defining the return value?"
http://www.phptherightway.com/pages/The-Basics.html

[code]

I prefer the `else` one, though.

If the function definition is complex, someone who looked at the function at a glance may thought that the function `test` (always) returns `false`.

[2013-12-07 12:30] petk commented on #336
The one without else points to the shorter syntax and therefore smaller file size which (in ideal conditions) can execute faster I believe. So I think this example is good. Regards.

[2013-12-07 12:35] weakish commented on #316
I think it's a good idea to mention Boris alongside `php -a`.

[2013-12-07 12:36] weakish commented on #260
Pandoc can generate epub from markdown files.

[2013-12-07 12:37] weakish commented on #260
Related issue: #227

[2013-12-07 12:48] weakish commented on #336
@peterkokot  I thought it's for brevity. (But actually it turns out to be for performances!)  Thanks to pointing out the performance issue.

[2013-12-07 12:48] #336 closed, assigned to nobody

[2013-12-07 14:22] philsturgeon commented on #227
I've built a simple script that converts our markdown structure to LeanPub structure and released it as a book:

https://leanpub.com/phptherightway

[2013-12-07 14:22] #227 closed, assigned to nobody

[2013-12-07 14:22] philsturgeon commented on #260
The epub is available here:

https://leanpub.com/phptherightway

[2013-12-07 14:22] #260 closed, assigned to nobody

[2013-12-07 14:23] #323 closed, assigned to nobody

[2013-12-07 14:24] philsturgeon commented on #320
Can you PR this so we can discuss the changes?

[2013-12-07 14:26] philsturgeon commented on #316
Sure, go for it.

[2013-12-07 16:02] panique commented on #320
Hey Phil, what do you mean with "PR" ?

[2013-12-07 16:08] philsturgeon commented on #320
Pull Request: https://help.github.com/articles/creating-a-pull-request

[2013-12-07 18:28] rogeriopradoj commented on #227
Nice! @philsturgeon, these scripts could be shared for using with translated versions?

[2013-12-07 18:32] rogeriopradoj commented on #227
Just to point, I'm with @PHPSP PUG guys (and @klaussilveira) taking care of Brazilian Portuguese translation, and I think it would be a nice addition to our job!

[2013-12-07 19:06] lsd commented on #227
I can add conversions of translations here https://github.com/lsd/php-the-right-way-pdf and keep it updated if there's a big interest. Am I missing something between the versions I created (mobi,epub, pdf, etc) and what you're offering on the site? I'm not shit talking, just curious if I'm missing something substantial.

[2013-12-09 20:47] danielgelling opened #338 "Dutch translation of phptherightway.com"
Hi there,

I'd love to translate phptherightway.com for you guys. It's good in my portfolio and I like to contribute to cool projects.
##

Daniel

[2013-12-09 20:49] codeguy commented on #338
Awesome. As we chatted about on Twitter, you'll need to first fork the repo. You'll make your translations on your fork. When your translation is ready, let us know and we'll link to your translated fork from the main website. Learn how to use forks at https://help.github.com/articles/fork-a-repo.

[2013-12-09 20:49] philsturgeon commented on #227
@lsd no huge difference, just... nicer and official. We'll have some cover art up there and be keeping it updated regularly. It gives us the ability to alert folks when new sections are added too, which your github repo wouldn't.

@rogeriopradoj I've put it up here: https://github.com/philsturgeon/phptherightway-book

[2013-12-09 20:54] danielgelling commented on #338
First (short) translation of the discription is in my fork: https://github.com/danielgelling/php-the-right-way

[2013-12-09 21:01] axelitus commented on #338
Sorry for posting here... I'd also like to contribute to this awesome project. I see your spanish translation has gone awol. I've already forked the repo, when I get the translation done I'll issue a PR.

[2013-12-09 21:05] codeguy commented on #338
@danielgelling If you are not familiar with GitHub or git, it may be best to team up with a fellow Dutch translator who does.

@axelitus Hold up for a bit. I think I have a Spanish translation ready already. Will post more info when I know more.

[2013-12-09 21:08] axelitus commented on #338
@codeguy alright then! When you get it I'll be happy to take a look and revise it if needed.

[2013-12-09 22:08] danielgelling commented on #338
@codeguy well I seem to get used to it by now. You can see the first translations appear as I translate them.

[2013-12-09 22:11] danielgelling commented on #338
Oh, by the way: GitHub keeps sending me emails with the issue that it can't be posted on the website:

 [php-the-right-way] Page build failure

The page build failed with the following error:

CNAME already taken: www.phptherightway.com

For information on troubleshooting Jekyll see:

  https://help.github.com/articles/using-jekyll-with-pages#troubleshooting

If you have any questions please conta

[2013-12-09 22:21] axelitus commented on #338
@danielgelling ahhhh just check the [Translations](https://github.com/codeguy/php-the-right-way/blob/gh-pages/README.md#translations) section in the README file:

[2013-12-10 15:55] zoltanradics opened #339 "Hungarian translation of phptherightway.com"
I would do the hungarian translation of the PHP - The right way because i really agree with your points written. I will trying my best to finalize it as soon but contribution is really depends on actual project traffic.

[2013-12-11 00:10] ylynfatt commented on #301
The PHP Best Practices site also has some information on this that might be helpful:

https://phpbestpractices.org/#utf-8
https://phpbestpractices.org/#utf8-further-reading

[2013-12-11 00:34] axelitus commented on #301
+1 I think this is needed as UTF-8 tends to be a source of problems while displaying and when handling data. PHP's utf8 native support has taken too long IMO and until this is not done a section about it would be of great help. I also am not the best to write about it but would helpfully help with my own experience in this regard.

[2013-12-13 11:01] rogeriopradoj commented on #227
Thanks, guys!

[2013-12-19 01:48] samwilson commented on #301
+1

[2014-01-13 17:44] petdance opened #341 "Create a list of excellent tutorials"
Too many PHP newcomers are apparently learning from horrible, outdated tutorials books and/or tutorials.   Spend any amount of time on StackOverflow and you'll see them by the score, using the `mysql` functions and not using prepared statements and using regular expressions inappropriately, especially to parse HTML.

There have to be good tutorials out there, and a page on PTRW would make it easy

[2014-01-13 17:45] codeguy commented on #341
:+1: Let's use this ticket to build a preliminary list of go-to tutorials, and we can then figure out how to integrate them into the site.

[2014-01-13 17:51] petdance commented on #341
I have a request: Please make the URL something that doesn't rely on the query string.  For example, the site right now seems to be one massive page that is anchored like so `http://www.phptherightway.com/#dependency_management`.  I think that burying a list of tutorials in the main body of the page will make it harder for those who need them most to find.  As it stands right now, the front of PRT

[2014-01-13 17:58] codeguy commented on #341
@petdance Yes, we will add a separate page for these with an explicit URL. We are also working on a redesign that will do the same thing.

[2014-01-13 18:07] aymanfarhat commented on #341
Some suggestions

 [PHP Database Access: Are You Doing It Correctly?](http://net.tutsplus.com/tutorials/php/php-database-access-are-you-doing-it-correctly/)

[Prepared Statements in PHP and MySQLi](http://mattbango.com/notebook/code/prepared-statements-in-php-and-mysqli/)

[Object Oriented PHP For Beginners](http://net.tutsplus.com/tutorials/php/object-oriented-php-for-beginners/)

[Better Workflo

[2014-01-13 18:17] PeeHaa commented on #341
@aymanfarhat That first tutorial uses emulated prepared statements. So my verdict: NO

[2014-01-13 18:33] aymanfarhat commented on #341
@PeeHaa I do agree although emulation can be turned off but they failed to mention that. Updated the list with another tutorial introducing MYSQLi

[2014-01-13 18:49] PeeHaa commented on #341
I would much rather see http://wiki.hashphp.org/PDO_Tutorial_for_MySQL_Developers, because friends don't let friends use such a horrible API as mysqli.

s/can/should

[2014-01-14 16:52] petk commented on #341
- http://nomadphp.com
- http://7php.com

[2014-01-14 16:54] petdance commented on #341
@peterkokot I don't see where those sites are tutorials.

[2014-01-14 16:58] petk commented on #341
@petdance: Yes, those are more of PHP resources perhaps and not tutorials. However are useful and popular links for PHP developers atm.

[2014-01-16 19:36] pauloelr opened #342 "Remove Branch Master"
AFAIK the master branch is not in use, it has a feel files from the time that the project was not developed using Jekyll, so is it not the case to remove this branch in order to avoid confusion?

[2014-01-31 21:38] rudiedirkx opened #347 "This is useless for beginners"
It's definitely not "easy to read" OR quick (as in "quick reference"). And it's full of way too advanced stuff for beginners. Nobody starts PHP like that.

It takes 5 minutes to scan text until you get to the seemingly good, practical stuff stuff: "Coding practices", and all it says is a little bit about `DateTime` (good advice) and a link to Design Patterns (**definitely** not beginners' stuff).

[2014-01-31 21:41] codeguy commented on #347
You're welcome to submit a PR with improvements. Closing because this is in no way helpful.

[2014-01-31 21:41] #347 closed, assigned to nobody

[2014-01-31 21:41] philsturgeon commented on #347
"easy to read" does not use overly complex words, when simple words that the general public understand would work just as well. Catering to the everyman makes this easy to read.

"quick reference" means you can click on [Password Hashing](http://www.phptherightway.com/#password_hashing) and learn all about password hashing.

I think you just tried to digest a large amount of information very quick

[2014-01-31 21:44] philsturgeon commented on #342
Done. Thanks

[2014-01-31 21:44] #342 closed, assigned to nobody

[2014-01-31 21:44] philsturgeon commented on #339
Go for it, and let us know when its done!

[2014-01-31 21:44] #339 closed, assigned to nobody

[2014-01-31 21:44] philsturgeon commented on #331
How about it @codeguy?

[2014-01-31 21:45] philsturgeon commented on #316
PR away guys.

[2014-01-31 21:45] #316 closed, assigned to nobody

[2014-01-31 21:46] codeguy commented on #331
On it

[2014-01-31 21:47] philsturgeon commented on #301
Anybody feel like stepping up to the plate?

[2014-01-31 22:03] codeguy commented on #331
I've attached the image. Will this work? Do you need a @2x version?
![php-the-right-way-220x250](https://f.cloud.github.com/assets/31677/2055350/7c004e0c-8ac3-11e3-8ac1-1d23e1ca6ba2.png)

[2014-01-31 22:05] Rarst commented on #331
Flipped dimensions, this is 250x220 :) No 2x needed.

[2014-01-31 22:05] codeguy commented on #331
Whoops :) One sec...

[2014-01-31 22:08] codeguy commented on #331
New orientation attached.
![php-the-right-way-220x250](https://f.cloud.github.com/assets/31677/2055390/26401b5e-8ac4-11e3-90d7-3d75b2c18647.png)

[2014-01-31 22:09] mkaatman commented on #301
Let's just push the team to take the speed and memory hit and store everything as unicode and this topic should be easier to write. :)

In all seriousness, it seems like https://phpbestpractices.org/#utf-8 covers the basics. Do we just want to rehash in our own words or do we want to expand the scope of the conversation?

[2014-01-31 22:11] codeguy commented on #301
I agree PHP Best Practices has it well covered. I'd send an invitation out to its author to see if he/she is interested in writing this panel... and if not we can probably get away with a paraphrased synopsis and linking to that section on their site to make sure we credit sources.

[2014-01-31 22:14] Rarst commented on #331
Thank you! [Ad suggestion posted](http://meta.wordpress.stackexchange.com/a/3801/847). :)

[2014-01-31 22:14] #331 closed, assigned to nobody

[2014-01-31 22:15] codeguy commented on #301
@acabal What are your thoughts? We'd love to have you involved with this section since you cover it so well on your site.

[2014-01-31 23:03] acabal commented on #301
Hi folks, phpbestpractices.org is released to the public domain so if you want to just copy and paste whatever's in there, go for it.  If you do that, credit and a link back would be appreciated.

I haven't heard of the "Portable UTF-8" library, and there's no timestamps on the release notes (or maybe I'm just overlooking them) so it's not immediately obvious how old the library is.  Timestamps on

[2014-01-31 23:38] philsturgeon commented on #301
It's a lot older than 5 months, it's at least a year, possibly two. Consider as stable.—
Sent from Mailbox for iPhone

On Fri, Jan 31, 2014 at 6:03 PM, Alex Cabal notifications@github.com
wrote:

[2014-02-01 00:07] codeguy commented on #301
@acabal Thanks for your willingness to let us source your material. We'll definitely be sure to credit your work and provide a link back to the original content.

[2014-02-01 01:19] rudiedirkx commented on #347
You can consider this however you want, of course.

Obviously you're not learning everything about anything from this reference. It's not enough for advanced PHPers and it's way too much for beginners. I think you're slightly biased as to who would read this and learn from it. I might be wrong. I'm very curious actually.

[2014-02-01 01:47] jusheehy commented on #347
I'm not a complete beginner (imho) because I started teaching myself a little over five years ago and have complete applications in use across campus (granted, relatively small user population, we're a small college).  I'm finding it helpful.

That might indicate that I'm more of a beginner than I thought, or that I've only read eight PHP books and so do not have sufficient experience in critiquin

[2014-02-01 14:38] codeguy commented on #341
Thanks everyone! I'll have a look through these suggestions and start building this out.

[2014-02-01 14:40] codeguy commented on #326
I'm hesitant to provide IDE or text editor suggestions in the official document since this is highly subjective. It may be a better candidate for the public wiki:

https://github.com/codeguy/php-the-right-way/wiki/_pages

[2014-02-01 14:40] #326 closed, assigned to nobody

[2014-02-01 14:44] codeguy commented on #320
@panique Any word on this?

[2014-02-01 14:53] codeguy commented on #203
Ongoing discussion in #301

[2014-02-01 14:53] #203 closed, assigned to nobody

[2014-02-01 14:53] codeguy commented on #222
Closing out for lack of updates. Feel free to re-open when you have time to revisit this.

[2014-02-01 14:53] #222 closed, assigned to nobody

[2014-02-01 15:03] codeguy commented on #207
Since this is so old, we probably want to add a section on the now bundled http://phpdbg.com/

[2014-02-01 15:05] codeguy commented on #318
I think this would be a good candidate for the design pattern section of the site. The front page can include a brief overview of the subject, and can link to its own subpage for more in-depth coverage.

Feel free to get this started and submit a PR when you are ready for feedback.

[2014-02-01 15:06] #318 closed, assigned to nobody

[2014-02-01 15:06] codeguy commented on #306
Closing duplicate issue.

[2014-02-01 15:06] #306 closed, assigned to nobody

[2014-02-01 15:10] codeguy commented on #278
I think this is a good idea. Please submit a PR when ready.

[2014-02-01 15:10] #278 closed, assigned to nobody

[2014-02-01 15:11] codeguy commented on #299
@char101 Do you have a URL for us to reference?

[2014-02-01 15:16] panique commented on #320
Thanks for the notice, I'll have a look in +/- 2 weeks (holidays).

[2014-02-01 15:16] codeguy commented on #207
@philsturgeon Any word on this? Or should we ask for contributions?

[2014-02-01 15:17] codeguy commented on #272
@philsturgeon @peterkokot @pixeloution Status update?

[2014-02-01 15:59] philsturgeon commented on #272
Seeing as @dragoonis is a superstar-CTO now I am going to assume this is dead to him. :)

@pixeloution are you on this?

[2014-02-01 16:00] mindplay-dk commented on #318
I'm in the middle of moving across the country, and will be starting a new job next month, so I'm afraid I'm not going to have time in the near future.

If somebody else wants to start, feel free :-)

[2014-02-01 16:00] philsturgeon commented on #207
I have never used Zend Debugger, this issue was mainly a todo note to myself to find somebody to do it.

I'll get a section written up for PHPDBG though, and get Joe to give it a once over. That's going on MY todo list, but maybe close this one and just say "Zend Debugger would be nice if somebody can be bothered."

[2014-02-01 16:00] #207 closed, assigned to nobody

[2014-02-04 00:22] bgui opened #353 "Romanian translations"
This (PHP The Right Way) is such a great idea. Would love to help translating it, I tried to go to ro.phptherightway.com but there was nothing there yet :<
http://git.io/D7MPXQ

[2014-02-04 00:34] codeguy commented on #353
Thanks! Leave a comment here when your translation is complete and we'll link to it.

[2014-02-04 16:50] starlays commented on #353
On 03/02/2014, bgui wrote:

Hello.

Nice initiative. I can help you with this if you want, just let me know.

[2014-02-08 06:43] ylynfatt commented on #301
Should this be a separate section or would it fit under an existing section for example _Coding Practices_?

[2014-02-09 06:23] Walile opened #357 "language about chinese"
Dear, these are had 2 kind of Chinese written. Now Chinese in translation is " Simplified Chinese". Please help to correct it. Simplified Chinese is using some place for example, Chinese(mainland china), or Singapore ... etc. Another Chinese we called "Traditional Chinese" whom we are use in Taiwan(R.O.C). Just want to show 2 kind of language to let all people know about php the right way. Not jus

[2014-02-09 16:12] codeguy commented on #357
This is done. Thank you for the suggestion.

[2014-02-09 16:12] #357 closed, assigned to nobody

[2014-02-10 11:29] Heart1010 commented on #301
In https://phpbestpractices.org/#utf-8 there is
`To make sure your strings go from PHP to MySQL as UTF-8, make sure your database and tables
are all set to the utf8mb4 character set, and issue the MySQL query `set names utf8mb4` before
issuing any other queries in your database.`

Isn't that "old"? Shouldn't we use http://www.php.net/manual/de/mysqli.set-charset.php now?
On that php.net page there

[2014-02-10 17:45] philsturgeon opened #359 "Link to the book"

[2014-02-10 19:20] acabal commented on #301
Good catch @Heart1010, thanks.  I've updated both the PDO and UTF-8 section at phpbestpractices.org to declare the character set in the connection string instead of with 'set names' and included a link to SO for rationale.

[2014-02-10 19:23] acabal commented on #301
@ylynfatt you might want to update the commit in your pull request to reflect the change to declaring charset in the connection string.

(I also changed the UTF example string to Elvish to stick with the LotR theme in the rest of the examples, but that's not as important) :)

[2014-02-10 21:25] ylynfatt commented on #301
@acabal and @Heart1010, the pull request should now be updated.

[2014-02-14 08:40] petk commented on #293
I've changed and updated PR with slovenian links a bit here, so please ignore PR #298 and merge #355
if possible. Thank you very much!

[2014-02-17 14:20] bgui commented on #353
hi starlays, nice to see people want to help :)
the translation itself is finished,
but you are most welcome if you wish to proof read, and if you spot any mistake
or have _any_  suggestion please do tell me ; )

http://bgui.github.io/php-the-right-way

[2014-02-18 00:25] astorm opened #362 "Error Control Operator: Does it Log?"
In the new [expanded error control](https://github.com/codeguy/php-the-right-way/pull/360) section, several comments are made about the error control operator **not** suppressing logging.

Is this accurate?  My experience has been it **does** suppress logging.  Consider this sample script

[code]

Nothing is logged to the `/tmp/my-custom-php-error-log.log` file.  If you remove the `@`

[code]

Inf

[2014-02-18 05:19] joseayram commented on #147
Hi @codeguy, the new link for the spanish translation of the guide is ready:

http://phpdevenezuela.github.io/php-the-right-way/

Im sorry for the delay.

[2014-02-23 09:06] aldesantis commented on #247
This can be closed, BTW. The translation is now available.

[2014-02-23 09:06] #247 closed, assigned to nobody

[2014-02-23 09:07] aldesantis opened #365 "Typo in "Dependency Injection""
In `_posts/06-01-01-Dependency-Injection.md`:

[2014-02-24 00:44] philsturgeon commented on #365
Done. Please consider a PR next time, as you can easily edit page content through the GitHub web interface. :)

[2014-02-24 00:44] #365 closed, assigned to nobody

[2014-02-27 21:48] bgui commented on #353
So, everything ok then?

[2014-02-28 20:29] starlays commented on #353
Where should I make the review? Should I make a pull request to you or...?

[2014-02-28 22:28] bgui commented on #353
Sure, or whatever is handy. you can pm if you want, no problems.

[2014-03-02 18:04] starlays commented on #353
Done, [pull request](https://github.com/bgui/php-the-right-way/pull/1) sent.

[2014-03-06 21:36] codeguy opened #370 "More details about Design Patterns"
This issue is for discussion on a more detailed Design Patterns section. I think we should first decide which patterns to include, and then open up separate issues for each one for more in-depth discussion on each.

[2014-03-06 21:41] adambrett commented on #370
I really like how http://sourcemaking.com/ covers this.  I think they're trying to sell a book so I'm not sure how comfortable people would be linking to them directly but it's possibly a good start?.

n.b. I am not affiliated with them in any way at all.

[2014-03-06 21:44] AmyStephen opened #371 "Reporting Feedback and Issues (MOVED TO https://github.com/codeguy/how-to-report-feedback/issues)"
It might be worthwhile to consider community "best practices" for how to provide feedback to projects. All projects have design and code issues. It's a given. It's important to encourage feedback from the community so that the project can improve. How that feedback is provided can either bring improvements or create problems.

What standard approaches make sense in the PHP community to both ensure

[2014-03-06 21:51] Ocramius commented on #371
When I get asked for explicit review, I usually either ask the original developer to:
- open a pull request containing bits to be reviewed
- create a new branch from the first commit and then pull-request to that branch to create the complete project diff with `master`. That allows me to provide on-spot reviews that I can show to the author

Bugs and issues discovered outside a review should just

[2014-03-06 22:04] codeguy commented on #371
:+1: Brilliant suggestion, Amy.

[2014-03-06 22:06] codeguy commented on #370
@adambrett Thanks. The goal here is to provide a basic definition and synopsis of each pattern with a simple example. We will provide links to external resources for more in-depth coverage.

[2014-03-06 22:09] codeguy commented on #370
This is a list straight from Wikipedia referenced from the Gang of Four book. The goal is to cover each of these with a definition/synopsis and a brief example. We can provide outbound links for each pattern to more in-depth tutorials and articles.

http://en.wikipedia.org/wiki/Design_Patterns

**The goal here is to provide a description, simple example, and a list of external references for each

[2014-03-06 22:14] brandonsavage commented on #370
I wrote a book on this recently. In my experience, you can drop Flyweight, Interpreter, Memento, and I would add MVC and Domain Modeling, as well as Active Record.

[2014-03-06 22:16] philsturgeon commented on #371
This?

http://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2014-03-06 22:20] jeremykendall commented on #371
@philsturgeon :+1:

[2014-03-06 22:28] AmyStephen commented on #371
Eric Raymond's "How to ask questions the smart way" is another good one for getting support or determining if a bug exists and then how to report it. http://www.catb.org/esr/faqs/smart-questions.html

The trickier communication points tend to be more high level, for example, what if a project uses an approach that is not defined as "PHP The Right Way?" What are good approaches for sharing that cri

[2014-03-06 22:29] philsturgeon commented on #371
I feel like this is moving from “PHP The Right Way” to “How to computer with other people and other projects”, which might be outside the scope of the project?

[2014-03-06 22:36] codeguy commented on #371
@philsturgeon I can see that. I think this is a worthwhile project though. Where should it live? PHP-FIG?

[2014-03-06 22:37] jeremykendall commented on #370
/me raises my hand to contribute to Decorator.  I'm a big fan of the Decorator pattern.  I got this: #372.

[2014-03-06 22:37] codeguy commented on #370
ALL: If you want to claim a given pattern, open a separate issue titled "[X] Pattern" and link to that issue in this thread.

[2014-03-06 22:40] jeremykendall opened #372 "Decorator Pattern"

[2014-03-06 22:40] philsturgeon commented on #371
Neither. I think it would make for an excellent blog post.

[2014-03-06 22:40] philipobenito commented on #370
@codeguy I'd love to get involved with this as the books we pull patterns from are not always helpful for beginners.

It is a massive undertaking though. I will keep an eye on this thread and if you want a chat about anything just shoot me a DM or an email.

[2014-03-06 22:47] codeguy commented on #371
@philsturgeon @AmyStephen Amy why don't you open a new repo for this topic and we can move this discussion there. I'm 100% in support of this still and will be first in line to help get it started.

[2014-03-06 22:51] codeguy commented on #370
Further clarification. Each Design Pattern should have it's own stand-alone child page that lives in the `pages/` subdirectory. We will link to this page from the front page.

[2014-03-06 22:59] davidstanley01 commented on #371
2 parts:  _what_ you say and _how_ you say it.

# What

When offering criticism, be specific, concise, and objective.

_Specificity_ will help to narrow the focus of the discussion.  Comments such as

Instead, offer something like this

Being _concise_ simply means "get to the point."  If your criticism of a project or code is based on a larger theme (disagreement over naming convention, use of te

[2014-03-06 23:01] philipobenito opened #373 "Chain of Command Pattern"

[2014-03-06 23:02] philipobenito commented on #370
I will take Chain of Command if nobody has any objections - Issue #373

[2014-03-06 23:07] codeguy commented on #371
Closing. Moving discussion to a separate repo here:

https://github.com/codeguy/how-to-report-feedback/issues

[2014-03-06 23:07] #371 closed, assigned to nobody

[2014-03-06 23:14] codeguy commented on #370
NOTE: The goal here is to provide a description, simple example, and a list of external references for each design pattern. A visitor should walk away from PHP The Right Way with a good understanding of a design pattern with a list of more in-depth external references to explore later.

[2014-03-06 23:16] davidstanley01 commented on #370
I'll take Singleton.

[2014-03-06 23:19] davidstanley01 opened #374 "Singleton Pattern"
in reference to codeguy/php-the-right-way#370

[2014-03-06 23:44] AmyStephen commented on #371
@Ocramius @davidstanley01 Thanks for your considerate contributions to this question.

@codeguy - My answer [to your question](https://twitter.com/codeguy/status/441685633019707392) that motivated me to start this thread -- is this thread. There is no reason that a discussion on how to work together on this important topic needs to be pushed out of PHP The Right Way.

When it's acceptable for us t

[2014-03-06 23:50] ahmednaguib opened #375 "Factory Method Pattern"
Factory Method Pattern - in reference to https://github.com/codeguy/php-the-right-way/issues/370

[2014-03-06 23:52] ahmednaguib commented on #370
I want to take factory method

[2014-03-07 00:37] codeguy opened #376 "Observer Pattern"
I'll take on the Observer Pattern as listed in #370

[2014-03-07 00:38] codeguy commented on #370
I'll take Observer.

[2014-03-07 00:45] jeremykendall commented on #370
@codeguy Observer is a fun one, and brings back [good memories](https://github.com/jeremykendall/mercyful-fate).

[2014-03-07 02:03] brandonsavage commented on #370
I'll take Facade, Bridge and Adapter. They're actually all related.

[2014-03-07 02:03] brandonsavage opened #377 "Facade, Adapter and Bridge Patterns"
References #370

[2014-03-07 02:08] codeguy commented on #370
@brandonsavage Thanks! Re: your earlier comment, I prefer to keep all of the patterns even if we just provide a very simple description and a note that they are not used often. I'm fine adding MVC, Domain Modeling, and Active Record :+1:

[2014-03-07 02:12] brandonsavage commented on #370
You won't get any argument from me, that's for sure!

[2014-03-07 02:14] philsturgeon commented on #370
Onxe everyone is done with their sections we'll have a 30 minute break then pass the issues one to the right. 

We'll all mark somebody else's answers and the winner gets a bottle of wine.

Josh is paying.
—
Sent from Mailbox for iPhone

On Thu, Mar 6, 2014 at 9:12 PM, brandonsavage notifications@github.com
wrote:

[2014-03-07 02:21] codeguy commented on #370
2 buck chuck it is.

[2014-03-07 02:22] philsturgeon commented on #370
Its 3 buck in New York. The extortion! But yeah, happy writing folks. 

@brandonsavage make issues for your patterns so people know what's up.
—
Sent from Mailbox for iPhone

On Thu, Mar 6, 2014 at 9:21 PM, Josh Lockhart notifications@github.com
wrote:

[2014-03-07 02:26] brandonsavage commented on #370
@philsturgeon I filed #377.

On Thu, Mar 6, 2014 at 9:22 PM, Phil Sturgeon notifications@github.comwrote:

[2014-03-07 02:26] philsturgeon commented on #370
Sweet. Missed that. Keep on trucking.—
Sent from Mailbox for iPhone

On Thu, Mar 6, 2014 at 9:26 PM, brandonsavage notifications@github.com
wrote:

[2014-03-07 05:49] stormpat commented on #370
For starters check out this repo: https://github.com/domnikl/DesignPatternsPHP it has many patterns covered.

[2014-03-07 07:00] lsmith77 commented on #371
long long long ago before twitter was popular I wrote https://github.com/php/php-src/blob/master/README.MAILINGLIST_RULES

[2014-03-07 11:09] stefanotorresi commented on #370
i could take proxy

[2014-03-07 11:09] stefanotorresi opened #378 "Proxy pattern"
#370

[2014-03-07 12:45] codeguy commented on #370
@stormpat That has good examples, but little to no description which is what we will be doing here. That would be a good resource to link to though.

[2014-03-07 12:47] philipobenito commented on #373
Related to #370

[2014-03-07 15:30] philsturgeon commented on #371
So @AmyStephen seems fairly intent on a continuing this discussion through a mixture of sarcasm and passive aggression on Twitter, which is rather ironic and frustrating after she has put forward her interest in helping us all learn how to work together.

I was initially not entirely certain what the purpose of the proposed section was, which is why I linked to the [bug report article](http://www.

[2014-03-07 15:52] jakeasmith commented on #371
@philsturgeon :thumbsup:

[2014-03-07 17:16] AmyStephen commented on #371
@philsturgeon You are wrong, I don't pretend you are a monster.

[2014-03-07 17:34] AmyStephen commented on #371
Thanks @lsmith77 - that's got some good material in there about how to work collaboratively. If we are allowed to add a section to PHP The Right Way, we'll link to that or include some of that information.

[2014-03-07 17:38] mfrost503 commented on #371
Discussion in this area is really good and I think we all (or most of us) have expressed some sort of validation that this would be helpful. In all honesty, it seems like the debate is currently centered around where this information should be "housed" and I could certainly make an argument for points. Rather than debating on whether it should be part of PTRW or not, I think we should be debating

[2014-03-07 17:39] philsturgeon commented on #371
@mfrost503 already answered. Right here :) https://github.com/codeguy/how-to-report-feedback/issues

[2014-03-07 17:43] AmyStephen commented on #371
@mfrost503 Appreciate recognition that this is important. I agree with @davidstanley01 point doing things, be it PHP or anything else, involves two basic issues 1) What is communicated and 2) How it is communicated.

This community is nailing the "what." There are blog posts and resources, including this one, which get into great detail on academic issues. But, there is so much drama because of ho

[2014-03-07 17:45] philsturgeon commented on #371
@AmyStephen so far you have only responded to the monster joke and the laughing stock sentence. That covers roughly 2% of what I said.

[2014-03-07 17:47] AmyStephen commented on #371
@philsturgeon We'll just have to agree to disagree. Chances of me convincing you that this is important are very slim. I respect your right to hold your opinion but I will not argue with you.

[2014-03-07 17:48] stevenwadejr commented on #371
It all boils down to respect. Treat each other with respect, and if not, fall back to more basic forms of civility.

I'm not sure what pattern this would fall under, but we should all seriously be using it:

https://gist.github.com/stevenwadejr/9416043

[2014-03-07 17:52] philsturgeon commented on #371
@AmyStephen How do you plan to hold your ground without actually addressing any of the points being made?

Summary of my points: @codeguy suggested a home. Work on the content with the interested parties. PR a link when its done. Everyone wins.

You sulking because "I am not allowing it" on this repo has zero benefit for anyone. And as pointed out, I did not make any decisions.

My _suggestion_ is

[2014-03-07 17:54] donaldallen commented on #371
@philsturgeon :thumbsup:

Not sure how any of this would make sense on PHP The Right Way. It's more of a "Development Collaboration The Right Way".

[2014-03-07 17:59] mfrost503 commented on #371
@philsturgeon seems fair enough to me, just hope the content gets as much attention as where to put it

[2014-03-07 18:01] philsturgeon commented on #371
@mfrost503 right. I'm amazed this became a thing, but it happens semi-regularly on the FIG too.

[2014-03-07 18:24] jasonrhodes commented on #371
I think it's pretty clear from about 6 minutes of Twitter browsing that civility is NOT common sense by any means, and I don't think it's ever as easy as saying "just be nice". I just can't see how these kinds of guidelines make sense as a part of PHPTRW anymore than they'd belong as a chapter in the [Grumpy Programmer's PHPUnit Cookbook](https://leanpub.com/grumpy-phpunit), etc.

[2014-03-07 18:38] AmyStephen commented on #371
@stevenwadejr Thanks Steven!

[2014-03-07 19:02] AmyStephen commented on #371
@jasonrhodes Generally speaking, these types of things boil down to process, using an Issue report to share a concern, or creating a PR for a desired improvement. Having a link to PHP The Right Way to share when those Twitter battles emerge, knowing we all respect the resource as a good set of guidelines for the community, could help. Anyway, that's the thinking.

What would have been nice (and wo

[2014-03-07 20:42] Crell commented on #371
I agree that having a resource to point to on "how to get along well in OSS" (aka, "how not to be a jerk in OSS") is a good thing.  I also agree that there's little if anything that's PHP specific about it, so it shouldn't be in PHPTRW proper.  If anything, it's too important to be just a PHP-thing.  It can and should be its own site, with its own billing, and input from more than just the PHP com

[2014-03-07 21:34] dongilbert commented on #371
Maybe we need CommunityTheRightWay.com?

[2014-03-07 21:42] AmyStephen commented on #371
Thanks @crell and @dongilbert Appreciate your feedback.

[2014-03-07 21:43] AmyStephen commented on #371
@dongilbert Won't the .com bring out another set of paranoid concerns? ;-)

I'll give it some thought. Thanks to all.

[2014-03-07 23:27] stefanotorresi commented on #370
@codeguy what about object persistence patterns? Data Mapper and Active Record are surely worth a mention

[2014-03-10 01:39] philsturgeon commented on #301
We can continue this chat over on the PR.

[2014-03-10 01:39] #301 closed, assigned to nobody

[2014-03-10 01:40] #293 closed, assigned to nobody

[2014-03-10 13:10] philsturgeon opened #379 "Suggested Package Folder Structure"
I had a chat wsith somebody who was asking for more explanation on suggested folder structure, for applications and packages. I explained that applications are tricky because they are so varied and dependent on the opinions of the developer (or framework developer), but packages should be fairly easy.

[code]

I can probably turn that into something more useful.

[2014-03-10 13:23] codeguy commented on #379
Sounds good. Probably a subsection of Dependency Management.

[2014-03-11 22:36] eilgin opened #381 "French translation"
I've translated phptherightway into french and after some proof reading, i'm proposing it so french readers like me can enjoy this great resource !

You can directly see the website at this URL :
http://eilgin.github.io/php-the-right-way/

[2014-04-16 09:55] petk opened #388 "Markdown migration from Maruku to kramdown"
I get the following warning when building phptherightway using GitHub pages:

[code]

[2014-04-25 13:12] eilgin commented on #381
_UP._
So you don't plan to add the french version of the site ?

[2014-04-25 14:10] andylibrian opened #392 "Indonesian Translation"
Hi,

I've done the translation in Indonesian. Could you put a link to the translation?
Currently it's hosted here: http://andylibrian.github.io/php-the-right-way/

Should I set up a CNAME or not, what do you think?

[2014-04-25 15:25] petk commented on #381
:+1: I don't decide about new languages but having translations is very good thing for local PHP user groups. You should also request for a subdomain fr.phptherightway.com. Thanks and keep up the good work.

[2014-04-25 15:27] codeguy commented on #381
Sorry for the delay. I'll get this added this afternoon.

[2014-04-25 15:28] codeguy commented on #381
Gah. Sorry for the delay. Will have this added this afternoon.

[2014-04-25 15:28] petk commented on #392
:+1: congrats and thanks for adding new translation. I think your language code for this translation can be id.phptherightway.com so yes request also for a subdomain. Thanks and keep up the good work. Regards.

[2014-04-25 23:05] andylibrian commented on #392
I've added a CNAME file with id.phptherightway.com. So we are waiting for the DNS record to be configured. Thanks.

[2014-05-02 14:49] codeguy commented on #392
I've updated DNS. I'll add a link once it propagates.

[2014-05-02 14:54] codeguy commented on #381
Link added. Thank you!

[2014-05-02 14:54] #381 closed, assigned to nobody

[2014-05-02 14:57] codeguy commented on #353
How is this coming along?

[2014-05-02 14:59] codeguy commented on #338
How's this coming? Do you need any help or have any questions?

[2014-05-02 14:59] codeguy commented on #311
Hi @mzj. How's this coming? Is it ready to announce?

[2014-05-02 15:01] codeguy commented on #304
This is finally posted now that I'm catching up on things. Thank you very much for your help translating this project. I've added a link to your translation on the main website.

[2014-05-02 15:01] #304 closed, assigned to nobody

[2014-05-02 15:03] #302 closed, assigned to nobody

[2014-05-02 15:04] #147 closed, assigned to nobody

[2014-05-02 15:05] codeguy commented on #257
Neither the subdomain or the "WaKeMaTTa.github.io/php-the-right-way" URLs work anymore. The DNS resolves to GitHub, but it fails to display correctly. I'm not entirely sure why. Perhaps you can re-fork and copy over your work to the new copy?

[2014-05-02 15:09] codeguy commented on #392
Link added. Thank you!

[2014-05-02 15:09] #392 closed, assigned to nobody

[2014-05-02 15:10] bgui commented on #353
It was done 2 months ago but i havent translated any newly added pages since then.

[2014-05-02 15:10] codeguy commented on #353
Ok great. I'll add a link to the translation.

[2014-05-02 15:13] codeguy commented on #353
Link added. Thanks!

[2014-05-02 15:13] #353 closed, assigned to nobody

[2014-05-15 11:55] petk commented on #388
I think the migration to kramdown is now ok:
https://github.com/codeguy/php-the-right-way/commit/c540989abda1fdffe95d5fd5fc41600be1223bac
Thanks. I'll close this issue.

[2014-05-15 11:55] #388 closed, assigned to nobody

[2014-05-16 12:18] mzgajner opened #394 "Droid Serif doesn't support foreign characters"
Translated versions of PHP: The Right Way in languages with special characters can have problems with the default font (Droid Serif), because the version provided by Google Fonts only includes the basic set of latin characters.

For example, in the [Slovenian version](http://sl.phptherightway.com/), č, ž and š characters are rendered with a different font, which looks bad.

A solution would be to

[2014-06-19 12:29] MHM5000 opened #401 "Gitbook"
@gitbookio is a great tool for writing online books.
I'd like to see `php-the-right-way` in gitbook.
If you're not going to work on it, should I?

[2014-06-19 12:30] philsturgeon commented on #401
We’re hosting on LeanPub anyhow so I’m not sure if we need this? 

-- 
Phil Sturgeon

On June 19, 2014 at 1:29:59 PM, Mohammad Hossein Mojtahedi (notifications@github.com) wrote:

@gitbook is a great tool for writing online books.
I'd like to see php-the-right-way in gitbook.
If you're not going to work on it, should I?

—
Reply to this email directly or view it on GitHub.

[2014-06-19 12:38] MHM5000 commented on #401
No specific reason... Just wanted to see if you are interested...
It's actually a neat tool.

[2014-06-19 12:38] #401 closed, assigned to nobody

[2014-06-19 12:38] philsturgeon commented on #401
I’ll definitely check it out. Thank you!

[2014-06-19 12:51] MHM5000 commented on #401
:+1:

[2014-07-03 19:33] hugoleon46 opened #405 "Typo PHPDoc.md"
There is a small typo in _posts/15-01-01-PHPDoc.md at line 59: [@pacakge]

[2014-07-09 22:32] #405 closed, assigned to nobody

[2014-07-11 03:01] petk opened #407 "Deprecated IP address for sl.phptherightway.com"
Hello, when I build sl.phptherightway.com (slovenian translation), GitHub gives the following warning:

[code]

Is it possible to change the A record for sl.phptherightway.com that has the new IP addresses shown here:
https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider
Thanks.

[2014-07-25 14:50] reinink opened #412 "Proposed new "Templating" section"
@philsturgeon @codeguy As already discussed, here is a draft version of my proposed new _Templating_ section. My goal here was threefold:
1. Explain what templating is
2. Explain the benefits of templating
3. Explain the two main approaches to templating (native vs compiled)

I'm posting it here for your initial thoughts and for others to give feedback. Once we're close, I'll put together a PR for

[2014-07-25 15:07] philsturgeon commented on #412
Awesome.

It needs some sort of intro to explain what templates are and that they arent really a feature, just a concept.

[2014-07-25 15:09] philsturgeon commented on #412
After reading in full my last suggestion seems less relevant.

This is brilliant. I have no further feedback.

[2014-07-25 15:11] codeguy commented on #412
What @philsturgeon said

[2014-07-25 15:14] philsturgeon commented on #412
@reinink we usually have some "Further Reading" links in content like this. Can you get a list of packages that conform to each section? You have Twig and Smarty for example, any others? Any NetTuts articles about this stuff for megabegginers?

[2014-07-25 15:14] philsturgeon commented on #412
Definitely f**k framework specific packages.

[2014-07-25 15:22] reinink commented on #412
@philsturgeon Definitely, before writing this I created a long list of native and compiled libraries, as well as a bunch of tutorials, screencast and blog articles on the topic. I just wasn't sure how much you wanted me to include.

I'll add a "Further Reading" section. Maybe that's even the place to reference a couple popular framework specific packages, like Blade and Zend\View.

[2014-07-25 15:31] philsturgeon commented on #412
Sure that’ll work.

[2014-07-25 15:43] reinink commented on #412
Added "Further Reading" section.

[2014-07-25 15:44] reinink commented on #412
@codeguy As in it's good, or as in you want some modifications yet to the intro?

[2014-07-25 15:45] codeguy commented on #412
As in it's very very good.

[2014-07-25 15:48] reinink commented on #412
@codeguy Nice, thanks! Do you have a preference to where this is placed on the site?

[2014-07-25 15:50] codeguy commented on #412
I think what you suggested above (after databases) is fine.

[2014-07-25 15:58] reinink commented on #412
Okay, does that mean I'll need to rename all subsequent posts in order for the numbers to work properly? I'm not a Jekyll wiz. Something like:

[code]

[2014-07-25 16:00] designermonkey commented on #412
Is there any reason to omit XSLT which a standards based template language?

[2014-07-25 16:13] philsturgeon commented on #412
@reinink Yes, rename. Fun itsn't it.

@designermonkey XSLT is not really in the same league as PHP (native or compiled) templating. It's a whole new arena, and one that is rarely used by the masses.

I have successfully avoided it for a decade, and would love to stay that way, but maybe you could have a go at convincing me its awesome with a follow up pull request to this section once @reinink is

[2014-07-25 17:16] designermonkey commented on #412
I will get our community on the case. :D

It does have a steep learning curve for those used to PHP, but we use it very successfully @symphonycms. I suppose the problem for moving over to it would be creating the XML data in the first place.

[2014-07-25 17:33] reinink commented on #412
What are the chances I'll be able to add syntax highlighting to the Twig example? Probably not good, right?

[2014-07-25 18:42] philsturgeon commented on #412
@reinink Tragic.

@designermonkey yeah thats kind of the problem for me. When you're used to it its great, but its rather alien to people who just want to output some HTML and CSS with PHP.

[2014-07-25 19:03] reinink commented on #412
Pull requested added: #413. I think I may have not followed the procedure 100%, the pull request is from gh-pages, not a topic branch. Hope that's fine.

I also noticed a little issue with the titles in the database section, which I fixed in this update as well.

[2014-07-25 19:12] philsturgeon commented on #412
You're golden. One final thought added to do as another change if you care, but leave it if you don't.

[2014-07-25 19:12] philsturgeon commented on #412
Thank you!

[2014-07-25 19:12] #412 closed, assigned to nobody

[2014-07-25 19:18] reinink commented on #412
Thanks @philsturgeon, very happy to help!

[2014-07-26 13:51] reinink opened #414 "Improving the new "Templating" section"
The feedback so far has been good (most seem to like the new section) but, as to be excepted, there are some suggested improvements:
- [x] Add the word "partials" when talking about "smaller, reusable pieces". (@philsturgeon)
- [x] Views (templates) are really only part of "views" in MVC, maybe remove this reference? (@funkatron)
- [x] Should Smarty be a recommended template language, considering

[2014-07-26 14:17] reinink commented on #414
I had a feeling I would be called out on the "views" reference, and it's a fair point. Views are more then templates. From [Wikipedia](http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller):

However, I find this tough. We want to help beginners understand MVC, and a HUGE part of the "V" is templates, so how do we do this without misleading them into thinking that templates are the ON

[2014-07-26 14:18] ircmaxell commented on #414
I would just like to clarify my point about Smarty.

I am not questioning if it should be there or not. All I would like to point out is that if Smarty is mentioned, it should be also mentioned that it doesn't auto-escape by default, and that it's **highly** encouraged to [enable it](http://www.smarty.net/docs/en/variable.escape.html.tpl).

[2014-07-26 14:19] reinink commented on #414
@ircmaxell Sorry if I misrepresented your point. Thanks for clarifying!

[2014-07-26 14:32] reinink commented on #414
My original examples actually used inheritance, but I was worried it would be too much for beginners without a more complete (longer) example. Using includes is still a totally valid way of using templates, and it's probably easier to digest if new to this topic.

However, if the general consensus is that we should show inheritance, I feel we need to show two files in the example: the page and tem

[2014-07-26 14:38] philsturgeon commented on #414
There is room for both [header/footer and inheritence approach]. Show users the first thing they'll probably try then show them the better option.

[2014-07-27 21:17] zeebinz commented on #414
@reinink I understand your dilemma, it's a tricky one. It doesn't help that the Laravel page is called 'Views & Responses' either, including JSON as "special" responses - it would have avoided a lot of confusion if he'd just called them Templates (despite behind the scenes using a type of view model).

But to get to the main point: some templating languages give new users a lot of rope to hang the

[2014-07-29 08:51] webspin commented on #338
Hi,

@codeguy Can I take over?

[2014-07-29 12:34] codeguy commented on #338
I think that is fine since this has been dormant for so long.

[2014-08-30 08:57] novid opened #426 "Persian Translation"
Hi,

I started the Persian translation and here is the [link](http://novid.github.io/php-the-right-way/). Besides, because of RTL nature of Persian language, i modified some of code in _layouts and styles folders. The translation process is just started and below topics are completed:
- Welcome
- Getting Started
- Code Style Guide
- Language Highlights
- Dependency Management
- Coding Practices
-

[2014-09-04 22:10] petk opened #432 "Suggestion about PHP frameworks"
Hello, I was just browsing the PHP Frameworks wiki page here:
https://github.com/codeguy/php-the-right-way/wiki/Frameworks
My proposal/suggestion is to add PHP frameworks wiki page in the md format inside _posts folder as well. That way the translating of the content is easier and more consistent and also pull requests must be made for framework to be added to the list. Would it be ok to proceed a

[2014-09-05 16:12] philsturgeon commented on #432
We liked keeping them out of the site so its not as controversial. People get fighty over frameworks. 

[2014-09-05 20:01] petk commented on #432
I see. Ok, that is understandable and the wiki page at translations can be just linked to English origin here.

[2014-09-05 20:02] #432 closed, assigned to nobody

[2014-09-18 17:53] damko opened #437 "Broken link in Further Reading for Dependency Injection"
The link to [Dependency Injection as a tool for testing](http://www.happyaccidents.me/dependency-injection-as-a-tool-for-testing/) in the file  _posts/06-05-01-Further-Reading.md points to a domain which looks to be in Reactivation Period, so the content is not visible

[2014-09-22 16:53] philsturgeon commented on #437
His site has vanished. Trying to find out whats going on.

[2014-09-29 04:37] JavierCane opened #441 "Single quotes vs. Double quotes in String types"
Hi,

On the "The Basics" -> "Strings" -> ["String types"](http://www.phptherightway.com/pages/The-Basics.html) section, now we're specifying:

But based on these posts:
- [Disproving the Single Quotes Performance Myth](http://nikic.github.io/2012/01/09/Disproving-the-Single-Quotes-Performance-Myth.html) (post by [@nikic](http://nikic.github.io/aboutMe.html))
- [PHP Myth Busters: Using single quote

[2014-09-29 04:42] philsturgeon commented on #441
We should specify that "it doesn't even vaguely matter ever, for the slightest of shits" But a vague reference to "if it's literally just a string then use singles but if it's gonna have some data smashed in there then use whatever you think is pretty."

---Sent from Boxer | http://getboxer.com

On 29 September 2014 00:37:25 GMT-4, Javier Ferrer notifications@github.com wrote:Hi,  On the "The Basi

[2014-10-07 22:31] #441 closed, assigned to nobody

[2014-10-07 22:31] philsturgeon commented on #441
Let me know what you think.

[2014-10-17 11:56] antonmedv opened #443 "Add Deployer to Deployment section."
Hello!

Now `Servers And Deployment` section contains only Capistrano (so, to deploy an php app you need ruby, :cry:). But you can do the same with tools written in php: [Deployer](http://deployer.in). Please, add information about Deployer to this section.

Thanks!

[2014-10-17 13:03] philsturgeon commented on #443
A PR would be awesome! Can you help?

-- 
Phil

On October 17, 2014 at 6:56:14 AM, Anton (notifications@github.com) wrote:

Hello!

Now Servers And Deployment section contains only Capistrano (so, to deploy an php app you need ruby, ). But you can do the same with tools written in php: Deployer. Please, add information about Deployer to this section.

Thanks!

—
Reply to this email directly or vie

[2014-10-17 16:11] antonmedv commented on #443
Yes, of course.

[2014-10-19 04:43] chrishoward-au opened #444 "How do you make the Singleton work in PHP 5.2?"
I don't have control of my customers' config. Plenty still use PHP 5.2.

But this Singleton pattern throws an error:

[code]

This in the line
    $instance = new static();

Thanks

[2014-10-19 14:46] astorm commented on #444
Given the goals of PHP the Right Way, the solution to your problem may be a chapter on how to talk to clients, managers, and other developers about the need to use a version of PHP that's still supported by the PHP maintainers :)

PHP 5.2 doesn't support the `static` keywords in the same context as PHP 5.3+.  One of the reasons PHP 5.3+  introduced the `static` keyword was to allow a simpler singl

[2014-10-19 15:29] codeguy commented on #444
Yep make sure you are using one of the more recent PHP versions (if only for security reasons). That being said, a section on how to talk with clients is a bit beyond the scope of PHP The Right Way and is best suited for another venue.

[2014-10-19 15:29] #444 closed, assigned to nobody

[2014-10-20 03:01] chrishoward-au commented on #444
Thanks. Will do that. I assume I can make that conditional - i.e. to use the better method on 5.3+ and the alternate on 5.2.

The problem is not customers or clients per se, it is their host. It's the host we've got to get thru to.

And when a customer buys your product only to find it doesn't work on their host - you can bet they'll be mad at you, not the host. :) I can try slapping minimum specs

[2014-10-20 03:57] astorm commented on #444
@qwertydude Re: conditional, probably not.  I don't have a copy of PHP 5.2 handy, but I'm pretty sure its parser will choke on the `new static;` syntax.

[2014-10-20 16:14] amin007 opened #447 "Can i translate in malay language?"
Can i translate in malay language?

[2014-10-21 14:12] philsturgeon commented on #414
Looks like this had a PR and didn't magically autoclose. Correct me if I'm wrong @reinink, but im closing this one.

[2014-10-21 14:12] #414 closed, assigned to nobody

[2014-10-21 14:12] reinink commented on #414
Yep, good to go!

[2014-10-21 14:41] Anahkiasen opened #450 "PEAR as global dependency manager"
Why is PEAR recommended as global dependency manager when Composer now supports global dependencies via per example `composer global require phpunit/phpunit` ? Are there things on PEAR that aren't on Composer?

[2014-10-21 16:44] philsturgeon commented on #450
A very good point. This was written a long time again, before composer had global support.

Would you take a go at changing this section?

[2014-10-21 16:45] philsturgeon commented on #450
For anyone curious, it's in the intro here. http://www.phptherightway.com/#dependency_management

[2014-10-24 03:55] Nilpo commented on #444
@qwertydude I agree with @astorm.  I don't believe the parser will allow the static syntax at all.  You would probably need to wrap that in an eval().  That would get you around the parser.  Of course, getting into evals is probably not the best practice.

[2014-10-24 04:10] chrishoward-au commented on #444
Thanks, guys. That is a bummer. Would the parser mind if I put the conditional on the "require". i.e. load a different php file depending on PHP version? The parser only parses what it loads, yes? Then I could have a 5.2 version of my class and a 5.3.

It is quite small. All it does is create the singleton. All the functionality is in child classes that extend it. That way I don't have to write th

[2014-10-24 05:35] Nilpo commented on #444
@qwertydude Conditionally loading with require should work just fine.  I would do it like this.

[code]

[2014-10-24 05:44] chrishoward-au commented on #444
Sweet, thanks, @Nilpo!!!

[2014-10-24 14:05] philsturgeon commented on #444
Make sure you create an interface so that you can force both classes to be more similar than they will be if they’re just a copy/paste job. 

-- 
Phil

On October 24, 2014 at 1:44:42 AM, Chris Howard (notifications@github.com) wrote:

Sweet, thanks, @Nilpo!!!

—
Reply to this email directly or view it on GitHub.

[2014-10-25 06:47] chrishoward-au commented on #444
Thanks, @philsturgeon. Does that mean I create parent interface, and then each of my classes implement it?

[2014-10-25 12:09] philsturgeon commented on #444
Yep!

---Sent from Boxer | http://getboxer.com

On 25 October 2014 02:47:35 GMT-4, Chris Howard notifications@github.com wrote:Thanks, @philsturgeon. Does that mean I create parent interface, and then each of my classes implement it?  —Reply to this email directly or view it on GitHub.  {"@context":"http://schema.org","@type":"EmailMessage","description":"View this Issue on GitHub","action":{"@typ

[2014-11-01 12:15] maglnet commented on #437
This has been fixed in #449

[2014-11-03 15:32] #437 closed, assigned to nobody

[2014-11-05 01:57] edgarsandi opened #457 "Namespaces file needs to be updated about PSR-4"
In _posts/03-03-01-Namespaces.md file, the paragraph needs to be updated:

[code]

[2014-11-05 18:18] philsturgeon commented on #457
Can you gimme a PR with this taken care of? Traveling today and think you could beat me to it.

[2014-11-05 19:02] edgarsandi commented on #457
@philsturgeon Yes, I'll do.

[2014-11-06 11:01] petk commented on #407
You will probably receive an error also building the main page and see this announcement as well on GitHub blog. Just to let you know about GitHub IP deprecations:
https://github.com/blog/1917-github-pages-legacy-ip-deprecation

[2014-11-07 16:32] stivni opened #459 "You should guide readers to DateTimeImmutable"
From PHP >=5.5 you can use `DateTimeImmutable`.

It is a lot safer for your code to use immutable value objects.
We should start pointing people into using this instead of `DateTime`.

Resulting in two different kinds of `DateTime`s, people should also typehint on `DateTimeInterface` instead of a concrete type.

[2014-11-07 16:40] stivni commented on #459
Let me take this back... I think its better to always use `DateTimeImmutable`, so we should always type hint on that.

Unless someone can point me out to a reason to have a mutable `DateTime`?

[2014-11-08 05:59] mappu opened #460 "Bad practice / XSS vulnerability in example code"
Hi

In the example for "UTF-8 at the browser level" you have the following code snippet

[code]

`print` builtin does no escaping of `$row->Body` going from string context to HTML context. I realise the example code stores one value which is not exploitive, but a user new to PHP might mistakenly treat this as a good behaviour.

I don't think it's a suitable tutorial example as-is.

As a resolution

[2014-11-08 18:14] hikari-no-yume opened #462 "Bytecode Cache is incorrect terminology, section has weird pluralisation"
PHP doesn't have bytecode, it has opcodes. There's no binary format (bytecode) for them. There's no such thing as a "Bytecode Cache", only an "Opcode Cache" in the context of PHP.

Another issue with the section is inconsistent capitalisation and weird plurals: "This is where Bytecode cache comes in" - "Bytecode"? Is that a brand name? And why the lack of a plural ("where bytecode caches come in")

[2014-11-11 15:45] halfer commented on #341
If you are still planning to assemble a list of good introductory material, please consider [adding mine to the list](http://ilovephp.jondh.me.uk/).

(Helpful aside: the [Bento](https://www.bento.io/) project in theory collates good tutorials across a number of languages based on community reports ([the PHP set is quite small presently](https://www.bento.io/php)). However the author seems slow to

[2014-11-12 16:52] mwhitneysdsu commented on #459
In most cases where I am using `modify()` on a `DateTime` object (or other methods to modify the value), I am doing so specifically to avoid creating an object for every piece of date/time data I am handling. In other words, I've handled the piece of information that was previously in that object, now I would normally create a new object with the new information, but I don't want to go through the

[2014-11-13 16:46] iamkirkbater opened #464 "Development on a Virtual Machine"
Would there be any interest in writing up a section on development within a virtual machine in the getting started section?  Something like using Vagrant to provision a LAMP stack to get started with?

[2014-11-13 16:48] iamkirkbater commented on #464
Nevermind, I just realized that I completely missed that section when I was reading.  Closing because I'm dumb :p

[2014-11-13 16:48] #464 closed, assigned to nobody

[2014-11-13 20:21] stivni commented on #459
If the so called overhead of instantiating an object is your first concern, we should stop discussing this. I was trying to make a point for writing better code, which is composed by a lot more than execution speed only.

[2014-11-13 20:35] mwhitneysdsu commented on #459
So skip the first three paragraphs of my response and address the last one. I'm perfectly happy to leave all of the discussion of `DateTime` and execution time behind, and if I had given my response more thought, I probably would not have posted the first three paragraphs, anyway.

[2014-11-13 20:37] stivni commented on #459
To further explain: `DateTimeImmutable` and `DateTime` have exactly the same interface and api. There is one big difference in their implementation though. When calling `modify()` or `set*` methods on `DateTimeImmutable`, it returns a **new** instance of a `DateTimeImmutable` object, leaving the original `DateTimeImmutable` as it is. This is of great importance for avoiding bugs.

For example, giv

[2014-11-13 20:56] mwhitneysdsu commented on #459
Given that example, it might be better to raise awareness of such issues and educate people on the proper use of clone to prevent outside modification of properties when accepting mutable objects as arguments to initialize/set those properties. It's certainly not an issue limited to `DateTime`, and use of `DateTimeImmutable` fixes the problem only where it's available, and only as it relates to `D

[2014-11-13 21:52] mathiasverraes commented on #459
+1 @stivni

Furthermore:
1. Typehinting on an interface in php enforces that the object implements the interface, but it does not protect you from calling methods on that object that are not part of the interface. In other words, typehinting against DateTimeInterface gives you very little protection. So typehint to DateTimeImmutable and forget DateTime and DateTimeInterface ever existed. DateTimeI

[2014-11-14 10:09] blastoise365 opened #466 "404 link - The Basics page"
Line 402

Link about performance tips don't work. You can add some other link for optimizing php or add this archived link:
http://web.archive.org/web/20140625191431/https://developers.google.com/speed/articles/optimizing-php

[2014-11-21 13:18] petk commented on #407
Deprecated IP address warning went away now but now I receive the following warning:

[code]

[2014-11-22 15:19] harikt opened #471 "Links / Reference to non stable released libraries"
Hi,

I fear when I say this. But as php the right way at-least we should not link to libraries which have not being released a stable version.

We can always link once they release a stable version.

I am refereing to fuelphp validation library linked at many places  http://www.phptherightway.com/#components .

I have not send a PR for people will feel I am trying to push aura here. But certainly

[2014-11-24 23:24] philsturgeon commented on #407
@codeguy ping. Can you set the site to use the newer IP?

[2014-11-26 16:16] minusf opened #473 "fix code example highlight"
it seems like `{% highlight php %}` always needs `<?php` as well.

[code]

[2014-11-26 16:30] minusf opened #474 "fix contradicting previous advice"
1. the `foo.php` example contradicts the utf8 best practice from the previous section. as it is only a proof of concept, i would remove the charset bit, it is described in great detail elsewhere
2. according to PSR-1, short tags must not be used. PSR-1 is presented as a good set of doduments to follow, i think the examples might encourage that style.

[code]

[2014-11-26 17:06] sameg14 commented on #474
@minusf can you fork, make the change, and create a pull request.

[2014-11-26 18:14] minusf commented on #474
sorry, i am just passing through and this is all the time i had for php-the-right-way.
feel free to use the patches or not.

[2014-11-26 18:24] petk commented on #474
I've opened a pull request for PHP tags. About the utf-8 declaration is there any reason to omit it? I think it is good to have it. Can you provide any link that says not to do that? I can open a PR for that as well if needed and this is true.
The only thing mentioned about charset=utf8 was about PHP version prior to 5.3.6 where you had to set that differently:
http://stackoverflow.com/questions/4

[2014-11-26 18:35] philsturgeon commented on #474
I think its ok how it is now we have short tags removed. Thank you!

[2014-11-26 18:35] #474 closed, assigned to nobody

[2014-11-26 18:43] minusf commented on #474
the document itself (section "UTF-8 at the Database level") advises against using `charset=utf8` :)

[2014-11-26 18:49] philsturgeon commented on #474
Well, that section suggests that `utf8mb4` is a better choice than `utf8` as it contains more characters, but I would much rather see people picking any old character set than just letting the connection default out to whatever it feels like.

[2014-11-26 19:19] minusf commented on #474
ok, i understand. the reason why i removed it instead was,
that the particular example is about code/content separation,
and not database connections in general, but yes, all connections
should have a charset.

mysql's issue re `utf8` vs `utf8mb4` is an unfortunate one,
and i think it would be nice to point out in that section that
postgresql has no such issues.

and while we are here, it would be

[2014-11-26 19:20] philsturgeon commented on #474
Feel free to PR that! MariaDB is lovely. 

[2014-11-27 20:50] jrfnl opened #476 "Question: where to add useful links ?"
Think: [phpcheatsheets.com](phpcheatsheets.com) which IMNSHO is a quite useful resource, it does not really fit with the basics or security or filtering, though it is (or could be) a useful addition to all those sections.
Would you be open to a PR adding an 'useful other resources' section under resources for links like that ?

[2014-12-01 11:58] philsturgeon commented on #476
Maybe you could look into a new "Creating Packages" section? There have to be a few links around for things, like a few stages in this course on [Treehouse](http://teamtreehouse.com/library/standards-and-best-practices).

If there are more free resources that would help, but... well don't judge me, I was homeless and poor.

[2014-12-03 11:26] ryasmi opened #479 "Handling JSON and avoiding associative arrays."
I'd like people to use objects over associative arrays wherever possible. Associative arrays are quick and dirty, rather than sensible.

For example, a lot of us will deal with JSON, you'll probably decode and store it, then encode it and send it back when requested. There is an issue here when you decode it to an associative array and send it back. The code below demonstrates that an empty object

[2014-12-03 16:57] sameg14 commented on #479
@ryansmith94  Why shouldnt they be equal? empty is empty as far as JSON is concerned. Client side code will handle the response in the same way, instead of having different ways to encode empty arrays and objects!

[2014-12-03 17:18] ryasmi commented on #479
Because an empty object and an empty array are not the same thing... client side code will not handle it the same way at all. We should encourage this...

[code]

instead of...

[code]

[2014-12-03 22:26] mwhitneysdsu commented on #479
`false` is the default value for the second parameter, but if you're using an associative array, there's very little chance the client is going to receive an array, because an associative array isn't an array once you encode it into JSON.

[code]

[code]

[2014-12-04 08:04] ryasmi commented on #479
I know it's the default, my point is that you should encourage people to
use the default because otherwise there's no difference between an empty
JSON object and an empty JSON array.
On 3 Dec 2014 22:26, "Mat Whitney" notifications@github.com wrote:

[2014-12-04 17:03] mwhitneysdsu commented on #479
I think, in the end, we may be saying the same thing in different ways. However, I would argue, especially when dealing with JSON, that we probably shouldn't get into a situation in which we have to differentiate between an empty array and an empty object.

In PHP, what other languages call an array is really just a special type of array in which all of the keys are numbers, and more often than no

[2014-12-04 17:07] jberubepublidesign opened #483 "Suggestion : Add https://puphpet.com/ to the VM tools for beginners"
Hi there,

Great work on this project. Coming from a C# programmer and Ruby dabbler perspective, I found this documentation very much to my liking, it helped my tackle my most hated old friend : garbled-up PHP spaghetti monster I've learned to write in 2004 or so.

While I was reading it, it came to my mind in the provisioning of Virtual Machines section of your website that a tool was missing for

[2014-12-04 17:14] philsturgeon commented on #483
Thanks for the feedback! That is exactly why I like working on this project, because we need to eradicate those spaghetti monsters and its not hard to do with modern resources being so awesome.

Could you PR puphpet into place, then you get the Internet points for contributing. You can just go to the page and click "Edit."

[2014-12-04 18:10] jberubepublidesign commented on #483
Thanks Phil for the quick reply!

As English is NOT my primary language (as you probably guessed it), I was hoping someone else would put it there with correct grammar and syntax. I really don't care about my personal Internet fame :).

[2014-12-04 19:09] jberubepublidesign commented on #483
I'm closing this, since it seems it was already in the documentation, in the Vagrant post. My bad, sorry for the troubles.

[2014-12-04 19:09] #483 closed, assigned to nobody

[2014-12-05 10:04] ryasmi commented on #479
I'm saying it should be best practice to use the default value (`false`) for the second argument of `json_decode` to avoid leading PHP users astray. For example, if they start decoding to arrays (by setting the argument to `true`), they'd probably write a tonne of code relying on arrays and not realise until later that they can't differentiate between a JSON object and a JSON array. This particula

[2014-12-06 00:25] maglnet commented on #476
Regarding the topic this could be another useful resource: https://www.airpair.com/php/posts/best-practices-for-modern-php-development
I didn't really read through the post but it seems to be a good resource for main "Brest practices"...
A useful link section could really be a good section to help users to get more information about different topics and useful information.
Best regards,
Matthias

[2014-12-07 04:13] petk commented on #394
Hello, @mzgajner I should check out this issue sooner. I've replaced that Google font with almost exact same looking latin-extended one - Noto Serif (all those mentioned characters are now shown as they should be). It does look better now:
http://sl.phptherightway.com/
It is also good to know that this is the alternative font for other other translations (at least most of them).

About replacing t

[2014-12-07 11:54] #394 closed, assigned to nobody

[2014-12-07 20:34] jrfnl opened #487 "Twig highlighting"
V2.0 of Pygments supposedly now includes a [highlighter for Twig](http://pygments.org/docs/lexers/#lexers-for-various-template-engines-markup). So the highlight lexer could be switched to `twig` or `html+twig`.
Needs testing whether this a) works and b) would make the example clearer.

[2014-12-07 20:34] jrfnl commented on #487
Related to file: /_posts/08-04-01-Compiled-Templates.md

[2014-12-07 20:51] petk commented on #487
Hello, I've opened PR for this if it's ok. Twig is directly not supported yet. Github pages use [pygments.rb](http://rubygems.org/gems/pygments.rb)

[2014-12-07 20:58] jrfnl commented on #487
@peterkokot Thanks - what needs looking into more than anything is on what version of pygments GitHub pages run as the new highlighters are only available from v2.0 onwards.

[2014-12-07 21:15] petk commented on #487
pygments.rb is different from Pygments.org Python syntax highlighter. GitHub Pages use 0.6 version of pygments.rb:
https://pages.github.com/versions/

[2014-12-11 01:04] jrfnl commented on #476
Thank you both for your feedback. I've turned this into a PR now.
So closing in favour of PR #502

[2014-12-11 01:04] #476 closed, assigned to nobody

[2014-12-23 16:03] liberatr opened #505 "Interacting with databases: All be it vs. albeit"
php-the-right-way/_posts/07-04-01-Interacting-via-Code.md

There is a line that includes "all be it" which is a homophone for "albeit". In the context it's used, "albeit", as in "although", or "even though" is the correct word.

Looks like line 91:

[code]

https://github.com/codeguy/php-the-right-way/blob/0ecfd9f4f39aa3f87d334bace714249ac4d91a1e/_posts/07-04-01-Interacting-via-Code.md#interacting

[2014-12-23 16:04] philsturgeon commented on #505
Done, thanks!

[2014-12-23 16:04] #505 closed, assigned to nobody

[2014-12-30 14:21] #443 closed, assigned to nobody

[2015-01-02 15:40] ifdattic opened #512 "Code sample overflow on smaller screens"
![screen shot 2015-01-02 at 5 37 18 pm](https://cloud.githubusercontent.com/assets/966877/5597163/5982812e-92a6-11e4-8327-5eb9ef9302ac.png)

[2015-01-02 17:36] jrfnl commented on #487
Closing as issue is fixed with the merge of PR #488

[2015-01-02 17:36] #487 closed, assigned to nobody

[2015-01-02 17:37] jrfnl commented on #473
This issue has been fixed and can be closed.

[2015-01-02 17:38] #473 closed, assigned to nobody

[2015-01-02 17:38] jrfnl commented on #466
This issue has been fixed and can be closed.

[2015-01-02 17:38] #466 closed, assigned to nobody

[2015-01-02 17:39] #450 closed, assigned to nobody

[2015-01-02 17:39] philsturgeon commented on #447
Certainly! Get the site up on your own GitHub pages site, and send us the link when its done.

[2015-01-02 17:39] #447 closed, assigned to nobody

[2015-01-02 17:41] philsturgeon commented on #370
Where did we get to with this? I don't remember seeing much in the way of actual results, even though lots of people claimed various patterns. :)

[2015-01-02 17:44] philsturgeon commented on #471
Yup, seems fair. When this section was written FuelPHP was a lot more active and it seemed realistic that the API was going to be stablised very very soon. That never really happened as everyone kinda bailed on the project and just decided to use Laravel instead. Heh.

https://github.com/fuelphp/validation/releases

2.0.0-pre1 seems to be the biggest and best over 0.2.

If Aura had an appropriate

[2015-01-02 18:49] harikt commented on #471
ok, so they released a day ago `2.0.0` :-) .

My aim was not to replace fuel with aura. But it seemed to me that packages that are on development versions should not be shown as the best package.

Anyway happy to say aura do have a wonderful validator. But name is similar to the one that PHP have Filter . Here is an example just for you .

[code]

I am closing this for they have 2.0 released.

Tha

[2015-01-02 18:49] #471 closed, assigned to nobody

[2015-01-03 14:54] amin007 commented on #447
:+1:

[2015-01-04 11:11] JindrichPilar opened #515 "Subscription"
It would be nice if there were posibility to get notified when some bigger changes were done. Email or RSS would be nice.

I tried to "watch" this repository, but it gets you spammed with spelling and typos issues/pr. Being noticed when some information content gets updated, perhaps in monthly / weekly interval would be nice. Plus with some tags distinguishing "form updates" and "information updat

[2015-01-04 16:26] novid commented on #426
_Persian_ translation is complete, so i updated the wiki page for translations and waiting for addition of _Persian_ to list of available language translations.

[2015-01-04 16:30] novid commented on #426
@codeguy do i need to make a pull request in order to be approved or you just simply link to my translation? because i didn't make separate directory for language in my local branch.

[2015-01-04 22:51] #462 closed, assigned to nobody

[2015-01-05 18:56] philsturgeon commented on #515
If you'd like to subscribe to updates there are two ways of doing that, which are not super obvious but do handle your use case.
1. Watch this repo instead https://github.com/philsturgeon/phptherightway-book
2. Download the eBook https://leanpub.com/phptherightway

Either way, you'll get updates far less regularly than the website itself, and still receive the important bits. I tag releases now.

[2015-01-05 18:56] #515 closed, assigned to nobody

[2015-01-05 21:10] reinink opened #519 "Sub pages missing template"
Just noticed that the [Design Patterns](http://www.phptherightway.com/pages/Design-Patterns.html) page is missing the template. Don't have time to send a fix right now, but thought I'd make an issue to track this either way.

![image](https://cloud.githubusercontent.com/assets/882133/5619990/472b96d6-94f5-11e4-9f00-39dede85a138.png)

[2015-01-05 21:35] petk commented on #519
Yes, baseurl configuration parameter must be there. Thanks for noticing. :+1:

[2015-01-07 18:06] petk commented on #457
Hello, I've mentioned the deprecation of PSR-0 here: #514 and usage of PSR-4 instead. I think this issue can be closed if you agree.

[2015-01-07 18:19] tchalvak commented on #362
@astorm What is the original sitepoint article that you're referencing?

[2015-01-07 20:14] #457 closed, assigned to philsturgeon

[2015-01-07 20:51] tchalvak opened #530 "File uploads best practices section."
I think it would be a great addition to have a best practices section for dealing with file uploads.  This is a complex practice, rife with many security pitfalls (e.g. how to prevent people from uploading exploit.jpg as php with simply a fake extension and then finding a way to execute it).

http://www.reddit.com/r/PHP/comments/2dn8t3/file_uploading_best_practices_and_handling_in_php/
For example

[2015-01-11 18:37] tchalvak commented on #530
Relatedly, there's the separate-from-upload issue of best practice for manipulating files in the filesystem (e.g. creating csvs and managing them, creating text files, reading through text files in a dynamic way, dealing with document libraries that may contain mixed content).

Though I could open a separate ticket for the slightly different approaches available for that.

I'd be happy to start so

[2015-01-13 13:44] smoakey opened #535 "Components Edit"
I think the you could list the Laravel IoC container under reusable components decoupled from the framework.

[2015-01-18 22:44] carpii opened #538 "Encryption Best Practices"
There is already a section on password hashing, which is perhaps the most common requirement for many deveopers

But I'd also like to see a section on two way encryption added.
This can be a hornets nest at the best of times, and the net is littered with outdated articles, with many of them just proliferating really bad or outdated practices.

I think it would be really useful to have a definitive

[2015-01-22 20:00] philsturgeon opened #541 "Make a "phptherightway" org"

[2015-01-27 19:52] codeguy commented on #426
No pull request required. I'm updating the translation list now.

[2015-01-27 19:53] #426 closed, assigned to nobody

[2015-01-30 12:30] reinink commented on #519
Happy to help! :)

I'm going to close this ticket, assuming nothing else needs to be done here.

[2015-01-30 12:30] #519 closed, assigned to nobody

[2015-02-06 04:37] wafe opened #550 "Korean Translation GitHub repository transfered. Plz update link."
from : http://wafe.github.io/php-the-right-way/
to : http://modernpug.github.io/php-the-right-way/

[2015-02-06 07:28] petk commented on #550
Hello, if it's ok, I've opened the pull request and updated the wiki pages:
https://github.com/codeguy/php-the-right-way/wiki/Translations

[2015-02-14 03:04] wafe opened #555 "Link of Google PageSpeed Insight "SpecifyCharsetEarly" is not valid"
The linked url (https://developers.google.com/speed/docs/best-practices/rendering#SpecifyCharsetEarly) is redirected to https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent and redirected page does not have charset related content.

ps.

I think that https://code.google.com/p/page-speed/wiki/SpecifyCharsetEarly URL has valid content, but last updated date is so old(Updated Fe

[2015-02-14 03:06] wafe commented on #550
I checked result of http://www.phptherightway.com/
thanks!

[2015-02-14 03:06] #550 closed, assigned to nobody

[2015-02-26 07:20] JeroenDeDauw commented on #374
The thing is already on the site, so should this not be closed?

[2015-02-26 07:24] JeroenDeDauw commented on #370
I'm saddened to see the Singleton pattern being included, and even more so by it being the second one on the page.

At least there is this "You should be wary when using the singleton pattern" warning at the end. Though I wonder how many of the people reading this for the first time will actually see that. They probably read the intro, check the code, and implement it.

I'd just kill the Singleton

[2015-02-26 07:31] jrfnl commented on #370
@JeroenDeDauw The singleton pattern has a place in oo in certain use cases, killing it would be the wrong way to go IMHO.

[2015-02-26 14:35] #374 closed, assigned to nobody

[2015-03-13 02:40] rszrama opened #560 "Typo in _posts/03-02-01-Programming-Paradigms.md's Functional Programming intro"
The first sentence i this section reads, "PHP supports first-class function." In the linked article on functional program, it correctly reads, "PHP supports first-class functions."

Couldn't tell from the contribution guidelines if I needed to submit a pull request or if just posting the issue was sufficient. Thanks for such an invaluable resource!

[2015-03-13 02:41] codeguy commented on #560
Feel free to send a PR and you'll get credit for the fix.

[2015-03-13 02:54] rszrama commented on #560
Cool, I added it and saw another function -> functions fix. I may have committed a faux pas, though, as I'm really just a denizen of the Drupal issue queue. My pull request seems to have generated some page of its own, and I don't see any way to link it to this issue. : ?

https://github.com/codeguy/php-the-right-way/pull/561

[2015-03-13 15:28] #560 closed, assigned to nobody

[2015-03-26 12:05] hglattergotz commented on #479
An example where decoding to objects is necessary:
Consider a REST endpoint that returns a single resource as follows:

[code]

and a collection of resources like this:

[code]

This is what the [json:api](http://jsonapi.org/) spec is shaping up to look like.
If the first response was decoded into an assoc array there is no safe way to identify that the data structure at hand is a resource and not

[2015-03-26 14:45] mwhitneysdsu commented on #479
While I still agree with the preference to decode to objects and to not go around telling people to override the default functionality of json_decode() in order to decode to arrays, it's still not a solution to every problem. In most cases, you need to treat JSON coming into your application the way you (hopefully/should/need to) treat data input into a form on a website.

If you can't safely dete

[2015-03-29 21:46] alimac opened #565 "Composer - install locally or globally?"
In the section: http://www.phptherightway.com/#composer_and_packagist

(emphasis mine) I found this section a bit confusing. Later on, the assumption is that composer is installed globally.

Maybe it would be better to provide global installation instructions from https://getcomposer.org/doc/00-intro.md#globally?

[code]

[2015-04-02 14:59] tchalvak commented on #565
Makes sense to me.

[2015-04-02 15:00] philsturgeon commented on #565
Good point @alimac. Recommendations changed over time and this text is a bit frankenstein. Can you PR the situation?

[2015-04-17 20:54] tolidano opened #569 "Potential ideas"
Error/Debug Logging using error_log / similar
There are lots of loggers - Log4PHP, Monolog, KLogger, PEAR Log, and the common interfaces prescribed by PHP-FIG (which might be useful if listed as a resource somewhere).  Even the good old error_log might be relevant to briefly describe a few best practices on.  Understanding the Exception area might override this, it is still my go-to method for aut

[2015-04-19 05:26] lyongdee opened #570 "这个项目还在维护吗？"

[2015-04-23 20:28] gutierri opened #572 "install php with scoop(.sh) - Windows"
https://github.com/lukesampson/scoop

[2015-05-31 12:23] philsturgeon commented on #359
@codeguy ping :)

[2015-05-31 20:01] codeguy commented on #359
Which book and what's the link?

[2015-05-31 20:05] philsturgeon commented on #359
https://leanpub.com/phptherightway

##

Phil Sturgeon
Sent from my iPhone and there's probably typos because I'm probably at the pub.

[2015-05-31 20:21] sarciszewski commented on #341
Regarding SQLi, this is a bit boldly stated but leaves nothing ambiguous: https://paragonie.com/blog/2015/05/preventing-sql-injection-in-php-applications-easy-and-definitive-guide

[2015-06-15 09:54] satboy78 commented on #299
Hi guys,
so can you please confirm that cache is shared between all PHP child processes in php-fpm pool?

Thanks a lot.

Best regards.

[2015-06-15 10:03] char101 commented on #299
If the cache is not shared between PHP processes, how do you access previously saved variable that was set by another PHP process?

[2015-06-15 14:42] philsturgeon commented on #299
Ping @krakjoe

[2015-06-15 14:46] satboy78 commented on #299
I've even opened a new [issue](https://github.com/krakjoe/apcu/issues/121) on APCu repo

[2015-06-17 00:38] matthewtrask opened #578 "split the topics into pages instead of page id's?"
I saw this in another repo comment, where splitting up PHP The Right Way from Id's to pages will help with the SEO. When new developers come to google a topic, having separate links for the topics will let them quickly gain the knowledge they want, instead of having to scroll to the section they need.

[2015-06-17 19:52] Nightfirecat commented on #570
From Google Translate:

[2015-06-17 20:04] philsturgeon commented on #570
Yup!

[2015-06-17 20:04] #570 closed, assigned to nobody

[2015-06-17 20:09] bateller commented on #570
Or to respond in kind...

[2015-06-22 21:00] cdvillard commented on #341
Hoping this issue is still being made a priority. I'd like to suggest [Hacking with PHP](http://www.hackingwithphp.com) for this list. I'm going through it now and it seems to be written in the same style as PHPTRW.

[2015-06-22 21:10] philsturgeon commented on #341
Can somebody turn this into a PR?

[2015-06-22 22:45] cdvillard commented on #341
@philsturgeon I don't mind doing it.

[2015-06-22 23:11] philsturgeon commented on #341
Perfect! Thank you :)

-- 
Phil

From: Charles V. notifications@github.com
Reply: codeguy/php-the-right-way reply@reply.github.com>
Date: June 22, 2015 at 6:45:51 PM
To: codeguy/php-the-right-way php-the-right-way@noreply.github.com>
Cc: Phil Sturgeon me@philsturgeon.uk>
Subject:  Re: [php-the-right-way] Create a list of excellent tutorials (#341)

@philsturgeon I don't mind doing it. It'll give m

[2015-06-26 19:24] nikolaposa opened #581 "Serbian translation"

[2015-06-26 19:24] #581 closed, assigned to nobody

[2015-06-26 19:45] nikolaposa opened #582 "Serbian translation"
On behalf of [PHP Srbija](http://phpsrbija.rs) association - the biggest and best known community of PHP developers in Serbia, I would like to propose translation of the _PHP: The Right Way_ project on Serbian language:
- Website: http://phpsrbija.github.io/php-the-right-way
- GitHub fork: https://github.com/phpsrbija/php-the-right-way

This translation has been carried out by the [GitHub group](h

[2015-07-01 02:34] Tjoosten commented on #582
#311

[2015-07-02 08:47] tasmaniski commented on #582
@Tjoosten As I can see this is an old translation: _Last Updated: 2013-10-05 10:28:20 -0700_

In community "PHPSerbia" we have developers willing to contribute to this project and keep it up to date.

Also, I want to call all developers to contribute to this repository as official repository of PHPSerbia organization, in order to keep all the changes in one place.

[2015-07-05 20:08] tasmaniski commented on #582
Hello @codeguy, do we have any update on this?
I do not know if there's anything else in order to close this issue?

[2015-07-05 23:32] codeguy commented on #582
@smatejic Do you have any thoughts on this? I know you maintain the current translation.

[2015-07-12 19:32] tasmaniski commented on #582
@codeguy @smatejic
I don't want to bother, but I'm not sure that we will get the answer.
Anyway the current translation is no longer up-to-date: _Last Updated: 2014-05-29_

Organisation phpsrbija.rs would like to take the responsibility of translation to the Serbian lang.
Set it on official web site, do some promotion to the younger developers etc etc.

[2015-07-13 07:07] smatejic commented on #582
Feel free to transfer the url to phpsrbija.rs

I don't have nothing against transferring everything there since i am short
in time to do further translation and keep it up to date at this moment.

Thank you for asking and feel free to contact me at any time.

Regards
Sasha

On Sun, Jul 12, 2015 at 9:32 PM, tasmaniski notifications@github.com
wrote:

[2015-07-13 10:45] tasmaniski commented on #582
^ Thank you very much for your support!

[offtopic] If you have time in the future you can contribute together with PHPSrbije org.
We will have a lot of interesting project to develop or translate. These days we will have a meetup in Belgrade so drop by. I hope to meet you one day in person.

[2015-07-20 17:27] rotexdegba opened #584 "Very Good PHP Security Resource"
Hi There,

I came across http://phpsecurity.readthedocs.org/en/latest/index.html a very good resource focused on PHP security which I believe should be included in the **Security** section of **PHP The Right Way**.

What do you think?

[2015-07-21 04:09] zachleigh opened #585 "Singleton 'private static $instance'"
In the Singleton Design Pattern section, the Singleton class has a private static property $instance.  It should be protected because as it is, child classes do not have access to the property and getting an instance of a child fails with this error:

[code]

[2015-07-24 18:44] rexem commented on #585
I would question everything about the extending singleton class there

First, the code would produce errors on all <7.0 PHP version (as you pointed out):
http://3v4l.org/dBk4F

Secondly, even changing the parameter to "protected" is incorrect, since you'll get an output of:

[code]

and not the suggestive `true/false/true.`

Frankly, in my opinion, the whole premise of inheriting the singleton cla

[2015-07-24 19:17] Nilpo commented on #585
I question why this is even included at all.  What we really need is a better scope of what content should and should not be included to begin with.

[2015-07-28 10:08] tasmaniski commented on #582
@codeguy  any feedback?

[2015-07-28 11:23] smatejic commented on #582
Aldo i have objection on "because our association is the representative of PHP community in our country"
This is OpenSource project. It has nothing to do with community country . So simply stating that you have translated and you would like to make it publish is enough for me.

 I could say Hey create fork and i will merge in the official one wich would be much more easier and all people from Serb

[2015-07-28 13:10] tasmaniski commented on #582
It's all about out of date...

[2015-07-28 22:04] glend commented on #459
@mathiasverraes what happened to 'depend on abstractions, not concretions'?

Also DateTimeImmutable fits a lot of scenarios indeed, but you do not always want to use it. DateTime is handy when you want to mutate it several times and format the resulting date each time. No need to instantiate a new object after every ->add

[2015-07-29 07:17] mathiasverraes commented on #459
@anooxy
DateTimeInterface is terrible abstraction, trying to unify two classes that have fundamentally different philosophies. DateTimeInterface implies a choice between DateTime and DateTimeImmutable, and that choice should never exist.

Immutability requires a different programming style, with it's own drawbacks, but on the whole the benefits outweigh the downsides.

[2015-07-30 20:01] nikolaposa commented on #582
@smatejic Ok, so what do you suggest in this regard?

If you believe that your translation is more quality even if it is very outdated, that is totally fine. We were unaware of the existence of another Serbian translation, because link to your translation appeared recently, a little before we completed our translation. We believe that it is better to have single translation for people from Serbia,

[2015-07-30 20:06] smatejic commented on #582
There is really no need for two translations.

Like i suggested we can use only one and it can be yours since there are several of you (as i understood) that can maintain this translation.

Regards
Sasha

[2015-08-09 03:14] codeofsnail commented on #585
use class name instance of static, if Removing inheritance support from the Singleton example

[2015-08-18 09:45] tim-bezhashvyly opened #587 "Visibility scope"
Was there already a `private` vs. `protected` flame which I can read instead of starting my own?

[2015-08-18 12:49] philsturgeon commented on #587
If there was I guess I blacked it out of my memory.

Here is a pragmatic article on the subject: http://fabien.potencier.org/pragmatism-over-theory-protected-vs-private.html

[2015-08-18 12:57] tim-bezhashvyly commented on #587
I believe Fabian was never working with Magento in a field so he never entered a hell of protected methods. However I got your point. I'm in a minority here so I'd better shut up.

[2015-08-18 12:57] #587 closed, assigned to nobody

[2015-09-23 23:21] and1truong commented on #584
Very cool, can you PR?

[2015-09-25 00:49] rotexdegba commented on #584
Done. https://github.com/codeguy/php-the-right-way/pull/594

[2015-09-25 20:45] rugk opened #595 "German version uses 'mixed content' and breaks design"
Just have a look at the page: https://rwetzlmayr.github.io/php-the-right-way/

You'll see in your browser console that the CSS files want to be loaded over http, but they are blocked (which is completely right of course) so that the design is destroyed.

[2015-09-28 12:59] rogeriopradoj commented on #595
Hi, @rugk , I think the issue should be sent to https://github.com/rwetzlmayr/php-the-right-way and not here in https://github.com/codeguy/php-the-right-way/.

I've sent a PR there: https://github.com/rwetzlmayr/php-the-right-way/pull/15, hope solve your problem, right?

See ya!

[2015-09-28 15:29] rugk commented on #595
If it's now maintaned at https://github.com/rwetzlmayr/php-the-right-way, yes. However issues there are disabled...

Yes looks like it should do so.

[2015-09-29 15:28] ManInTheBox commented on #582
What is the status of this? It would be great to link to the translation provided by PHP Serbia user group. The current translation (linked on official website) is obsolete and looks abandoned. The correct translation can be found at http://phpsrbija.github.io/php-the-right-way/ . As you can see, last update time is 09/28/2015
Thanks!

[2015-09-29 15:31] codeguy commented on #582
Will get it changed today.

[2015-09-29 23:18] codeguy commented on #582
Updated

[2015-09-29 23:18] #582 closed, assigned to nobody

[2015-09-29 23:29] ManInTheBox commented on #582
Thank you @codeguy!

[2015-09-30 07:22] nikola-posa-humanity commented on #582
Thanks @codeguy, we will tend to keep our translation in sync with origin repo.

[2015-09-30 22:35] #595 closed, assigned to nobody

[2015-09-30 22:35] #584 closed, assigned to nobody

[2015-09-30 22:35] #578 closed, assigned to nobody

[2015-09-30 22:36] #555 closed, assigned to nobody

[2015-09-30 22:36] #512 closed, assigned to nobody

[2015-09-30 22:38] #565 closed, assigned to nobody

[2015-09-30 22:39] #311 closed, assigned to nobody

[2015-09-30 22:40] #257 closed, assigned to nobody

[2015-09-30 22:41] #272 closed, assigned to nobody

[2015-09-30 22:43] codeguy commented on #538
I think a "Don't build your own" line with links to peer-reviewed packages should be sufficient.

[2015-09-30 22:43] #572 closed, assigned to nobody

[2015-09-30 22:45] codeguy commented on #535
Are you referring to this? https://packagist.org/packages/illuminate/container

[2015-10-01 13:21] smoakey commented on #535
Yes that is the package I am referring to.

At one point I believe the site listed some packages that could be used by themselves and that wasnt included in the list. This list may or may not be included anymore. Thanks!

[2015-10-03 15:57] codeguy commented on #535
Nice. Do you want to send a PR or would you prefer I add this?

[2015-10-04 21:06] dragonflylife59350 opened #603 "shadow piercing dom problem"
unable to remove a shadow piercing dom from my samsung chromebook2 ? when i got to the spreedsheet on google docs it said i was only able to comment not edit why is that shouldnt i be in charge of my own google docs ?

[2015-10-05 13:27] #603 closed, assigned to nobody

[2015-10-07 04:44] dragonflylife59350 commented on #603
Need help removing this from my chromebook2 and cell phone

[2015-11-19 02:06] ftwbzhao opened #612 "[suggestion] Code quality"
- Static Code Analysis
  - [PhpMetrics](http://www.phpmetrics.org/) is a static analyzer tool.
  - [PHP Mess Detector](http://phpmd.org/)
  - [PHPLOC](https://github.com/sebastianbergmann/phploc) A tool for quickly measuring the size of a PHP project.
  - [phpcpd](https://github.com/sebastianbergmann/phpcpd) Copy/Paste Detector (CPD) for PHP code.

[2015-11-23 14:00] yasen-mailjet opened #615 "Font of http://www.phptherightway.com"
If possible please use a web font in this website. The print fonts should be for print only...

[2015-12-02 15:58] cweagans commented on #538
I'd also suggest "If you type `mcrypt_` any any point, you're probably doing it wrong."

[2015-12-02 16:00] philsturgeon commented on #538
Go go @ircmaxell, I choose you!

![image](https://cloud.githubusercontent.com/assets/67381/11535865/dacb17d4-98e3-11e5-8b12-7c218279c792.png)

[2015-12-02 16:01] cweagans commented on #538
And also, if you're getting random data, use paragonie/random_compat  (or random_bytes()/random_int() on PHP7).

[2015-12-09 06:54] xiaohome opened #621 "Please Remove ThinkPHP framework"
[php-the-right-way_framework](https://github.com/codeguy/php-the-right-way/wiki/Frameworks)

[2015-12-09 06:58] xiaohome commented on #621
**Please use the `composer` Development**

@liu21st

[2015-12-09 13:29] tchalvak commented on #621
...ThinkPHP isn't on there.

[2015-12-09 13:43] philsturgeon commented on #621
Sorry @xiaohome but you just appear to be saying random things that don't make much sense :)

ThinkPHP is not on that wiki, and we love using composer in development.

I'm gonna close this, but please follow up with more information if you have it.

[2015-12-09 13:43] #621 closed, assigned to nobody